# Python End to End in detail

Basic:
It is a general purpose high level programming language.

Python was developed by Guido Van Rossam at National Research Institute at Netherlands.

official relaese date of python is 20th feb 1991

In [1]:
# Printing Hello 

print("Hello")


print("Simple Statement")

Hello
Simple Statement

# Note:

It is very simple to print hello in python, as compared to other programming languages

coding in python is really less time consuming than other programming languages

# Python Features

    1) Easy to Learn and Use. Python is easy to learn and use. ...
    2) Expressive Language. Python language is
    more expressive means that
    it is more understandable and readable.
    3) Interpreted Language. ...
    4) Cross-platform Language. ...
    5) Free and Open Source. ...
    6) Object-Oriented Language. ...
    7) Extensible. ...
    8) Large Standard Library.

# Applications

1) Web Applications....
2) Desktop GUI Applications....
3) Software Development....
4) Scientific and Numeric....
5) Business Applications....
6) Console Based Application....
7) Audio or Video based Applications....
8) 3D CAD Applications.
9) AI
10) ML, DL
11) Data Analytics

# Good to Know

1. Functional Programming Features from C
2. Object Oriented Programming Features from C++
3. Scripting Language Features from Perl and Shell Script
4. Modular Programming Features from Modula-3

# Identifiers
1. names in python are called as identifiers.
2. Function name, variable name, module name, class name are identifiers in python
3. Rules:

    1. Alphabet Symbols (Either Upper case OR Lower case)
    2. If Identifier is start with Underscore (_) then it indicates it is private.
    3. Identifier should not start with Digits.
    4. Identifiers are case sensitive.
    5. We cannot use reserved words as identifiers
    6. Dollor ($) Symbol is not allowed in Python.

In [2]:
name = 'vaibhav'
Name = 'rahul'

print(name)

print(Name)

vaibhav
rahul

# Special Notes

1. If identifier starts with _ symbol,then it is private
2. If identifier starts with __(2 underscore), indicate that it is a strongly private.
3. If the identifier starts and ends with two underscore symbols, then such identifiers are
language defined special name, 
# which is also known as magic methods.
ex:   [ __DoIt__  ]

In [3]:
# Example of identifiers

a = 10
var = 20.2
str_1 = "python"
_1_sag = 10.20
print(type(a))

<class 'int'>

# Keywords

There are around 33 keywords:

if,elif,else,while,for,break,continue,return,in,True,False,None,and, or,not,is,yield,try,except,finally,raise,del,with,assert,import,from,as,class,def,pass,
global,nonlocal,lambda.

In [4]:
# we can see all keywords from python using below code
import keyword
print(keyword.kwlist)

#len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Data Types in Python:

1. Data type of variable is the type of value inside that variable.
2. In python we do not need to mension the data type of variable, It automatically assigns data type.
1. int   2. float   3.complex   4.bool   5.str    6.bytes    7.bytearray    8.range    9.list   10.tuple   11.set      12.frozenset    13.dict    14.None

In [5]:
# int

var = 10  # decimal

# we can declare octal and Hex value also
print("Output:")
print(var)
print(type(var))

Output:
10
<class 'int'>

In [6]:
# Float

var = 10.20

print("Output:")
print(var)
print(type(var))

Output:
10.2
<class 'float'>

In [7]:
# Complex
var = 3+4j

# 3 is real part, 4j is imaginary part, j^2 = -1
print("Output:")
print(var)
print(type(var))
print("Printing Real and Imaginary part")
print(var.real)
print(var.imag)

Output:
(3+4j)
<class 'complex'>
Printing Real and Imaginary part
3.0
4.0

In [8]:
# boolean
var = True
print("Output:")
print(var)
print(type(var))

Output:
True
<class 'bool'>

In [9]:
# String data type
var = "python3.9"
# when take input from user: values are considered as "string"
print("Output:")
print(var)
print(type(var))

Output:
python3.9
<class 'str'>

# Typecasting
int,
float,
str,
boolean,
comlex,
object.

In [10]:
# taking input from user

var = input("Enter a number")

print("value is ",var)

print(type(var))

# Any input from user will be taken as string in python

Enter a number10
value is  10
<class 'str'>

# What is typecasting:

Conversion of data from one type to another type.
eg. str1 = "python is best"
str2 = "100"
Note: we can convert str2 into float, int

In [11]:
# int/string to float conversion:

str1 = "python"
var = 100 # int
str2 = "200"  # string
print(var)
print(type(var))

var1 = float(var)

print(var1)
print(type(var1))

print(str2)
print(type(str2))

var2 = float(str2)

print(var2)
print(type(var2))

print("Demonstration of string to float conversion:")
print(str1)
#var2 = float(str1)

100
<class 'int'>
100.0
<class 'float'>
200
<class 'str'>
200.0
<class 'float'>
Demonstration of string to float conversion:
python

In [12]:
# float/string to int conversion

var = 100.20
str1 = "200.30"
str2 = "500"
str3 = "python is best"

print("float to int:")
print(var)
print(type(var))
var1 = int(var)
print(var1)
print(type(var1))

print("String to int:")
print(str2)
print(type(str2))
var3 = int(str2)
print(var3)
print(type(var3))

#print("String to int:")
#print(str1)
#print(type(str1))
#var2 = int(str1)
#print(var2)
#print(type(var2))

print("string to complex:")
cm = "3+4j"
comp = complex(cm)
print(comp)
print(type(comp))


#print("String to int:")
#print(str3)
#print(type(str3))
#var4 = int(str3)
#print(var4)
#print(type(var4))

float to int:
100.2
<class 'float'>
100
<class 'int'>
String to int:
500
<class 'str'>
500
<class 'int'>
string to complex:
(3+4j)
<class 'complex'>

In [13]:
# float, int to string

var = 100.23
var1 = 20
comp = 2+4j
print("float to string:")
print(var)
print(type(var))
var3 = str(var)
print(var3)
print(type(var3))

print("int to string:")
print(var1)
print(type(var1))
var4 = str(var1)
print(var4)
print(type(var4))

print("Complex to string:")
print(comp)
print(type(comp))
var5 = str(comp)
print(var5)
print(type(var5))

float to string:
100.23
<class 'float'>
100.23
<class 'str'>
int to string:
20
<class 'int'>
20
<class 'str'>
Complex to string:
(2+4j)
<class 'complex'>
(2+4j)
<class 'str'>

# Other types to Complex

In [14]:
# use complex() function for conversion

var = 10

print(complex(var))

var1 = 12.4

print(complex(var1,var))

var3 = "10.23"
print(complex(var3))

(10+0j)
(12.4+10j)
(10.23+0j)

In [15]:
print(complex(10,5)) # 10+5j
print(complex(10.20,4))

print(complex(True,False)) # 1+0j

(10+5j)
(10.2+4j)
(1+0j)

# Bool()

In [16]:
print(int(True))

1

In [17]:
print(int(False))

0

In [18]:
print(float(True))

1.0

In [19]:
print(float(False))

0.0

In [20]:
print(complex(True))

(1+0j)

In [21]:
print(complex(False))

c = 0+0j

print(c)

0j
0j

In [22]:

print(str(True))
print(str(False))

True
False

In [23]:
print(bool(0.001))
print(bool(0.0))

True
False

In [24]:
print(bool(1))
print(bool(0))

True
False

In [25]:


print(bool(""))
print(bool())
print(bool("h"))
print(bool(11))

False
False
True
True

In [26]:
print(bool(1+2j))
print(bool(1+0j))
print(bool(0+2j))
print(bool(0+0j))

True
True
True
False

# String Slicing

operations: slicing

# liscing is making peaces of a string using some separator
# [] is a slice opearator

In [27]:
# assignment
str1 = "This tutorial is basically designed for beginers....!"
str1

'This tutorial is basically designed for beginers....!'

In [28]:
# take simple string

str2 = "Python"

In [29]:
str2[0]

'P'

In [30]:
str2[5]

'n'

In [31]:
str2

'Python'

In [32]:
str2[1]

'y'

In [33]:
str2[0:]

'Python'

In [34]:
str2[:4]
# str2[-6:]

'Pyth'

In [35]:
type(str2)

str

In [36]:
str2[-1]

'n'

In [37]:
str2[-2:]

'on'

In [38]:
str2[-1:]

'n'

In [39]:
str2[-3:]

'hon'

In [40]:
str2[-3:-1]

'ho'

In [41]:
str3 = str2[:4]
str3*3

'PythPythPyth'

# Immutability

# In python once an object is created, we are not allowed to change
# the content, If you want to change the content PVM will create a 
# new object for it.

In [42]:
var = 100
var1 = 100

print(id(var))
print("and \n",id(var1))

print(var is var1)


var = 200.10
var1 = var
var2 = 200.10

print(id(var))
print("and \n",id(var1))

print(id(var2))

print(var is var1)

10897536
and
 10897536
True
140027995433984
and
 140027995433984
140027995433912
True

In [43]:
var = 10+20j
var1 = 10+20j
print(var is var1)
print(id(var))
print("and \n",id(var1))
# ID are different

False
140027952507952
and
 140027952508080

Assignment: Try same for string and boolean types

# bytes and bytearray Data Types:

In [44]:
# bytes can hold the values from 0 to 256
# You cant change the value of bytes once it is created


a = [10,20,30,40,50,60]
print(type(a))

b = bytes(a)

print(type(b))
#b[0]=100
# it will raise error:
# bytes' object does not support item assignment


i = 0
while True:
    if i == 6:
        break
    print(b[i])
    i += 1

<class 'list'>
<class 'bytes'>
10
20
30
40
50
60

In [45]:
# bytearray

# You can change the value of bytearray after creatation also


a = [10,20,30,40,50,60]
print(type(a))

b = bytearray(a)

print(type(b))

for i in b:
    print(i)

b[1]= 150
print("New List:")
for i in b:
    print(i)
print("This is difference")

<class 'list'>
<class 'bytearray'>
10
20
30
40
50
60
New List:
10
150
30
40
50
60
This is difference

# Data Types

Text Type=>str
Numeric Type=>int, float, complex
Sequence Type=>list, tuple, range
Mapping Type=>dict
Set Type=>set, frozenset
Boolean Type=>bool
Binary Types=>bytes, bytearray, Memoryview

# 1. List

1. List stores multiple items with different data types.
2. [] brackets are used to create list
3. List is ordered, changeable and stores duplicates also.
4. List is growable, elements are added at end of list.

In [46]:
# ex
list1 = [1,2,3,4,5]
list2 = [10.2,20.1,30.3,40.0,50.21]
list3 = ['Nitin', 'Datta', 'Rahul', 'Padmaja']
list4 = [1,10.2,'Nitin']

print(list1)
print(list2)
print(list3)
print(list4)

[1, 2, 3, 4, 5]
[10.2, 20.1, 30.3, 40.0, 50.21]
['Nitin', 'Datta', 'Rahul', 'Padmaja']
[1, 10.2, 'Nitin']

# Accesing list items

In [47]:
print(type(list1))
type(list1)

<class 'list'>

list

In [48]:
print(list1[3])


print(list1[0])
print(list2[1])
print(list3[0])
print(list1)
print(list2)
print(list3)
print(list4)

print("************")
print(list1)

4
1
20.1
Nitin
[1, 2, 3, 4, 5]
[10.2, 20.1, 30.3, 40.0, 50.21]
['Nitin', 'Datta', 'Rahul', 'Padmaja']
[1, 10.2, 'Nitin']
************
[1, 2, 3, 4, 5]

In [49]:
list2[0: 10]

[10.2, 20.1, 30.3, 40.0, 50.21]

In [50]:
list2[0:-2]

[10.2, 20.1, 30.3]

In [51]:
print('length of list1:')
print(len(list1))


len(list3)

length of list1:
5

4

In [52]:
print(list1)
list1.append("sagar")
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'sagar']

In [53]:
print(list1)
list1.remove(5)
print(list1)

[1, 2, 3, 4, 5, 'sagar']
[1, 2, 3, 4, 'sagar']

In [54]:
print(list1)
list1.remove(3)
print(list1)

[1, 2, 3, 4, 'sagar']
[1, 2, 4, 'sagar']

# Available operations on list

list1.append
list1.clear
list1.copy
list1.count
list1.extend
list1.index
list1.insert
list1.pop
list1.remove
list1.reverse
list1.sort

#Change Values:

In [55]:
print(list1)
list1.append(6)
print(list1)

[1, 2, 4, 'sagar']
[1, 2, 4, 'sagar', 6]

In [56]:
print(list1)
list1.remove(6)
print(list1)

[1, 2, 4, 'sagar', 6]
[1, 2, 4, 'sagar']

In [57]:
list_1 = list1.copy()
print(list_1)

[1, 2, 4, 'sagar']

In [58]:
print(list1)

list1.extend([1,"Sagar"])
l = ['apple', 'banana']
list1.extend(l)
print(list1)

[1, 2, 4, 'sagar']
[1, 2, 4, 'sagar', 1, 'Sagar', 'apple', 'banana']

In [59]:
print(list1.index('apple'))

6

In [60]:
print(list1)
list1.insert(3,100) # list1.insert(index, value_to_insert)
print(list1)

[1, 2, 4, 'sagar', 1, 'Sagar', 'apple', 'banana']
[1, 2, 4, 100, 'sagar', 1, 'Sagar', 'apple', 'banana']

In [61]:
print(list1)
list1.pop(1) # pop element at this location list1.pop(location/index)
print(list1)
list1.pop() # pop last element
print(list1)

[1, 2, 4, 100, 'sagar', 1, 'Sagar', 'apple', 'banana']
[1, 4, 100, 'sagar', 1, 'Sagar', 'apple', 'banana']
[1, 4, 100, 'sagar', 1, 'Sagar', 'apple']

In [62]:
print(list1)
list1.reverse()
print(list1)

[1, 4, 100, 'sagar', 1, 'Sagar', 'apple']
['apple', 'Sagar', 1, 'sagar', 100, 4, 1]

In [63]:
list_1 = [100,2,200,88,99,20]
print(list_1)
print("Ascending")
list_1.sort(reverse=False) # Ascending
print(list_1)
print("Descending")
list_1.sort(reverse=True) # Descending
print(list_1)

[100, 2, 200, 88, 99, 20]
Ascending
[2, 20, 88, 99, 100, 200]
Descending
[200, 100, 99, 88, 20, 2]

In [64]:
print(list1)
list1[1] = "XYZ"
print(list1)

['apple', 'Sagar', 1, 'sagar', 100, 4, 1]
['apple', 'XYZ', 1, 'sagar', 100, 4, 1]

In [65]:
print(list1)
list1[2:4] = ['Nitin_1', 'Rahul_1']
print(list1)

['apple', 'XYZ', 1, 'sagar', 100, 4, 1]
['apple', 'XYZ', 'Nitin_1', 'Rahul_1', 100, 4, 1]

In [66]:
print(len(list1))
#list1[9] = 'Padmaja'
print(list1)

7
['apple', 'XYZ', 'Nitin_1', 'Rahul_1', 100, 4, 1]

# Tuple

1. Tuple is ordered and unchangeble
2. Immutable (you cant change the elements or cant add elements in tuple)
3. () are used to represent the tuple
4. Allow duplicates
5. tuples are read only version of your list except list is growable

In [67]:
 tup = ("apple",'apple', "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tup)

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [68]:
# length
print(len(tup))
# count
print(tup.count('apple'))
# index
print(tup.index('banana'))

8
2
2

In [69]:


tup1 = ("apple")
print(type(tup1))

tup1 = ("apple",)
print(type(tup1))

<class 'str'>
<class 'tuple'>

In [70]:
tup2 = ("abc", 34, True, 40, "male")
print(tup2)

('abc', 34, True, 40, 'male')

In [71]:
tup3 = tuple((10,20,30)) # tuple() constructor
print(tup3)

(10, 20, 30)

In [72]:
# access
print(tup)
tup[1]

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

'apple'

In [73]:
print(tup)
tup[-2]

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

'melon'

In [74]:
# range of items
tup[0:2]

('apple', 'apple')

In [75]:
# change tuple value using list
# Do here
print(tup)
print(type(tup))
var = list(tup)
print(var)
print(type(var))

# change value

var[2] = 'potato'
print(var)

# convert back to tuple

tup = tuple(var)
print(tup)

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
<class 'tuple'>
['apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
<class 'list'>
['apple', 'apple', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
('apple', 'apple', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [76]:
# Add items
print(tup)
print(type(tup))
var = list(tup)
print(var)
print(type(var))

var.insert(2,'tomato')

tup = tuple(var)
print(tup)

# convert back to tuple

('apple', 'apple', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
<class 'tuple'>
['apple', 'apple', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
<class 'list'>
('apple', 'apple', 'tomato', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [77]:
# tuple concat +

In [78]:
# remove items using list

In [79]:
# Complete deletion of tuple using del tuple_name

In [80]:
# Use of asterisk
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [81]:
 fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [82]:
# Methods: count() and index()
print(tup)
cnt = tup.count('tomato')
print(cnt)

print(tup)
ind = tup.index('potato')
print(ind)

('apple', 'apple', 'tomato', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
1
('apple', 'apple', 'tomato', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
3

In [83]:
# Try assigning values to tuples
# tup[0] = 'grapes'
# TypeError: 'tuple' object does not support item assignment

# Set

1. set is unordered collections of elements
2. It is mutable
3. It is growable
4. Set items are unchangeable
5. {} are used to represent set
6. Index concept is not applicable
7. duplicates are not allowed

In [84]:
s = {1,2,3,'sagar', 'nitin', 'cherry'}
print(s)
print(type(s))

{1, 2, 'cherry', 3, 'sagar', 'nitin'}
<class 'set'>

In [85]:
print(len(s))

6

In [86]:
# set( ("Val",1,2,3,"sagar")   ) constructor
set1 = set(("apple", "banana", "cherry")) 
print(set1)
print(type(set1))

{'banana', 'cherry', 'apple'}
<class 'set'>

In [87]:
# accessing set
val= "banana" in s

print(val)

print(1 in s)

# s = {1,2,3,4}   a = {3,4,5,6}   sd = {1,2,5,6}

False
True

In [88]:
# once set is created u can not change elements value, 
# but u can add values
print(set1)
set1.add('orange')
print(set1)

{'banana', 'cherry', 'apple'}
{'banana', 'cherry', 'apple', 'orange'}

In [89]:
# using update you can add any iterable items like set, list,tuple, dict-keys
set2 = {"pineapple", "mango", "papaya"}
#dict1 = {'a': 97}
tup = (1,2,3)

set1.update(set2)
print(set1)
set1.update(tup)

print(set1)

{'mango', 'cherry', 'apple', 'orange', 'papaya', 'banana', 'pineapple'}
{'mango', 1, 'cherry', 2, 3, 'apple', 'orange', 'papaya', 'banana', 'pineapple'}

In [90]:
# remove(), discard(), pop()
print("Remove using remove():\n",set1)
#set1.remove('banana')
print(set1)

print("Remove using discard():\n",set1)
set1.discard(2)
print(set1)

print("Remove using pop():\n",set1)
res = set1.pop()
print(set1)
print(res)

Remove using remove():
 {'mango', 1, 'cherry', 2, 3, 'apple', 'orange', 'papaya', 'banana', 'pineapple'}
{'mango', 1, 'cherry', 2, 3, 'apple', 'orange', 'papaya', 'banana', 'pineapple'}
Remove using discard():
 {'mango', 1, 'cherry', 2, 3, 'apple', 'orange', 'papaya', 'banana', 'pineapple'}
{'mango', 1, 'cherry', 3, 'apple', 'orange', 'papaya', 'banana', 'pineapple'}
Remove using pop():
 {'mango', 1, 'cherry', 3, 'apple', 'orange', 'papaya', 'banana', 'pineapple'}
{1, 'cherry', 3, 'apple', 'orange', 'papaya', 'banana', 'pineapple'}
mango

In [91]:
# union

# adds elements of two sets and create new set

print(s)
print()
s1 = s.union(set1)
print(s1)

# update method word for union only but adds element to calling set

{1, 2, 'cherry', 3, 'sagar', 'nitin'}

{1, 2, 'cherry', 3, 'papaya', 'banana', 'sagar', 'nitin', 'apple', 'orange', 'pineapple'}

In [92]:
#
print(s)
print(set1)
intr = s.intersection(set1)
print("itersection:\n",intr)

# keeps duplicates in s1 
s.intersection_update(set1)
print("itersection Update:\n",s)

{1, 2, 'cherry', 3, 'sagar', 'nitin'}
{1, 'cherry', 3, 'apple', 'orange', 'papaya', 'banana', 'pineapple'}
itersection:
 {1, 'cherry', 3}
itersection Update:
 {1, 'cherry', 3}

In [93]:
# keeps elements which are not present in other set
s_1 ={1,2,3,4,5,6}
s_2 = {3,5,7,8,9}

print(s)
print(set1)
#s.symmetric_difference_update(set1)

print(s) 


# returns new set

print("Symmetric Difference:\n")

k = s_1.symmetric_difference(s_2) 
# return elements which are present in s_1 not in s_2 + present in s_2 but not in s_1
v = s_1.difference(s_2) 
# returns new set with elements present in s_1 but not in s_2
print("Symmetric difference:\n",k)
print("difference:\n",v)

{1, 'cherry', 3}
{1, 'cherry', 3, 'apple', 'orange', 'papaya', 'banana', 'pineapple'}
{1, 'cherry', 3}
Symmetric Difference:

Symmetric difference:
 {1, 2, 4, 6, 7, 8, 9}
difference:
 {1, 2, 4, 6}

In [94]:
#isdisjoint()Returns whether two sets have a intersection or not
#issubset()Returns whether another set contains this set or not
#issuperset()Returns whether this set contains another set or not

print(s.isdisjoint(set1))
print("S:\n")
print(s)
print("Set1:\n")
print(set1)
print(set1.issubset(s))
print(set1.issuperset(s))

False
S:

{1, 'cherry', 3}
Set1:

{1, 'cherry', 3, 'apple', 'orange', 'papaya', 'banana', 'pineapple'}
False
True

In [95]:
# del and clear() method removes the set completely

# uncomment to run it and see result
print(s)
#del s1
#print(s1)

{1, 'cherry', 3}

# frozenset

In [96]:
# frozen set is same as set but it is immutable

print(type(set1))
s = frozenset(set1)
print(s)
print(type(s))
# supported methods for frozen set

s1 = s.copy()
'''
s.difference()
s.intersection()
s.isdisjoint()
s.issubset()
s.issuperset()
s.symmetric_difference()
s.union()
'''
print(s1)
print(type(s1))

<class 'set'>
frozenset({1, 'cherry', 3, 'papaya', 'banana', 'apple', 'orange', 'pineapple'})
<class 'frozenset'>
frozenset({1, 'cherry', 3, 'papaya', 'banana', 'apple', 'orange', 'pineapple'})
<class 'frozenset'>

# Dictionary

1. stores data in key:value pair
2. It is ordered, changeable and does not allow duplicates.
3. {} are used to write dictionaries
4. Items are reffered by using key
5. From Python version 3.7, dictionaries are ordered.

In [97]:
stud = {
    'rollno' : 1,
    'name' : "Vaibhav",
    'class' : 'BE'
    
}



dict1 = {
    'name' : 'Nitn',
    'mobile' : 9975923975,
    'address' : 'sangola',
    'job' : 'Data',
    'salary' : 550000.20,
    1 : 10000
    
}

print(type(dict1))


print(stud)
print(stud['name'])
print(stud.items())
print(stud.keys())
print(stud.values())
stud['address'] = "pune"
stud['name']
print(stud.keys())
stud.update({'city':'solapur','marks': 88.89})
print(stud.values())

<class 'dict'>
{'name': 'Vaibhav', 'class': 'BE', 'rollno': 1}
Vaibhav
dict_items([('name', 'Vaibhav'), ('class', 'BE'), ('rollno', 1)])
dict_keys(['name', 'class', 'rollno'])
dict_values(['Vaibhav', 'BE', 1])
dict_keys(['address', 'name', 'class', 'rollno'])
dict_values(['solapur', 'pune', 'BE', 'Vaibhav', 1, 88.89])

In [99]:
print(dict1['name'])
dict1['mobile']
dict1['job']

Nitn

NameError: name 'd' is not defined

In [ ]:
print(len(dict1))

In [100]:
print(type(dict1))

<class 'dict'>

NameError: name 'd' is not defined

In [ ]:
# accesing elemnts

print(dict1['salary'])

s = dict1.get('job')
print(s)
dict1['address']
dict1.get('salary')


print(d[2])
r = d.get(3)
print(r)

In [ ]:
print(dict1.keys())
dict1.values()

d.keys()
d.values()

In [ ]:


# add new item
dict1['c_address'] = 'Pune'


dict1['alt_mo'] = 7778778899
print(dict1.keys())
print(dict1.values())



dict1['email'] = 'nitin@gmail.com'
print(dict1.keys())
print(dict1.values())

d[4] = 'd'

print(d)

In [ ]:
# values
print(dict1.values())

In [ ]:
dict1.items()
print(d)
d.items()

In [ ]:
#print(dict1.items())
#print(dict1)
print(d)

4 in d

In [ ]:
print('name' in dict1)

In [ ]:
# change value
#print(dict1)
dict1['height'] = 180
#print(dict1)

print(d)
d[3] = 'cc'
d.values()

In [ ]:
# update
#print(dict1)
#dict1.update({'frined':'rahul',
#            'city':'Indapur'})
#print(dict1)

print(d)
d.update({
    1: 'apple',
    5: 'e'
})

print(d.items())

In [ ]:
print(type(dict1))

In [ ]:
# Remove item
#print(dict1)
#dict1.pop('c_address')
#print(dict1)
#dict1.popitem()
#print(d)
#d.popitem()

In [ ]:
# del can remove items as well as removes the dictionary
print(dict1)
#del dict1['job']
print(dict1)
#del dict1

d[1] = 'a'
d[2] = 'b'
d[3] = 'c'
print(d)

del d[3]
d.items()

In [ ]:
# clear() method and del keyword are used to remove and empty the dict

print(dict1)
dict1.clear()
print(dict1)

In [ ]:
# copy dictionary

dict_1 = dict1 # this is reference to your dict not copy of dict1
print(dict1)
print(dict_1)

dict_1['mobile'] = 9975923975 # added to dict_1 , same reflected in dict1
print(dict1)

In [ ]:
# copy() method

print(dict1)
dict2 = dict1.copy()
dict2['random'] = 'val'
print(dict2) # random added 
print(dict1) # not reflected in dict1

In [ ]:
# dict() for copy

dict3 = dict(dict1)
print(dict3)

In [ ]:
parent = {
    'p_key' : son,
    'p_name': 'Parent_name',
    
         }
son = {
     's_key' : grandson,
    's_name': 'Son_name',
}

grandson = {
    'g_name':'Grand_son_name'
}

family = {
    'f_key' : parent, 
}

print(family)

In [ ]:
family

In [ ]:
# access parent directory
family['f_key']

In [ ]:
# access child directory
family['f_key']['p_key']

In [ ]:
# access grand child
family['f_key']['p_key']['s_key']

In [ ]:
family['f_key']['p_key']['s_key']['g_name']

# Operators

Python operators:

    1. Arithmetic operators
    2. Assignment operators
    3. Comparison operators
    4. Logical operators
    5. Identity operators
    6. Membership operators
    7. Bitwise operators

In [ ]:
# 1. Arithmetic operators

1. + Addition x + y
2. - Subtraction x - y 
3. * Multiplication x * y 
4. / Division x / y 
5. % Modulus x % y 
6. ** Exponentiation x ** y 
7. // Floor division x // y

In [ ]:
# addition
print('***Addition***')
var1 = 10.20
var2 = 20.20
res = var1 + var2
print('sum: \t',res)

print('***Sustraction***')
var1 = 10.20
var2 = 20.20
res = var2 - var1
print('Substraction: \t',res)

print('***Multiplication***')
var1 = 10.20
var2 = 20.20
res = var1 * var2
print('Mul: \t',res)


print('***Division***')
var1 = 10.20
var2 = 20.20
res = var2 / var1
print('Div: \t',res)


print('***Modulo***')
var1 = 10.20
var2 = 20.20
res = var2 % var1
print('Mod: \t',res)


print('***Floor Division***')
var1 = 10.20
var2 = 20.20
res = var2 // var1
print('Floor Div: \t',res)

# 2. Assignment Operators

1.  = x = 5 x = 5 
2. += x += 4 x = x + 4
3. -= x -= 5 x = x - 5 
4. *= x *= 8 x = x * 8 
5. /= x /= 7 x = x / 7 
6. %= x %= 5 x = x % 5 
7. //= x //= 3 x = x // 3 
8. **= x **= 2 x = x ** 2
9. &= x &= 2 x = x & 2
10. |= x |= 2 x = x | 2
11. ^= x ^= 4 x = x ^ 4
12. >>= x >>= 4 x = x >> 4
13. <<= x <<= 5 x = x << 5

In [101]:
var = 55
print(var)
var += 10    # var = var + 10
print(var)

var -= 10    
print(var)

var *= 10   
print(var)


var /= 10   
print(var)


var %= 10   
print(var)


var //= 10   
print(var)

var = 5

var **= 3   
print(var)

55
65
55
550
55.0
5.0
0.0
125

In [102]:
x = 10
print('Value of x is: \t',x)


print('prior x is: ',x)
x += 10
print('post x is: ',x)

y =2 and 1

# returns x or y if both are true
print(y)

Value of x is: 	 10
prior x is:  10
post x is:  20
1

In [103]:
# 3. Comparison Operators

1. == Equal x == y
2. != Not equal x != y
3. > Greater than x > y
4. < Less than x < y 
5. >= Greater than or equal to x >= y 
6. <= Less than or equal to x <= y

In [104]:
a = 20
b = 10

print(a == b)

print(a != b)

print(a > b)

print(a < b)

print(a >= b)

print(a <= b)

False
True
True
False
True
False

In [105]:
# 4. Logical Operators

1. or Returns True if one of the statements is true x < 5 or x < 4

2. not Reverse the result, returns False if the result is true not(x < 5 and x < 10)

In [106]:
# Dist- above 75 %, 1st - above 67 to less than equal 75 
print("and Oprerator:\n\n")

score = 66
print("Dictinction:")
print(score > 75)

print("First Class:")
print(score > 67 and score<= 75)

print("2nd Class:")

print(score <= 67 and score > 58)

print("or operator:\n\n")
var1 = 10 
var2 = 5
print(var1<5 or var2>10)


print('not operator:\n\n')

print(not (var1<5 or var2>10))

var1<5 or var2>10

and Oprerator:


Dictinction:
False
First Class:
False
2nd Class:
True
or operator:


False
not operator:


True

False

In [107]:
# 5. Identity Operators

is  Returns True if both variables are the same object x is y

is not Returns True if both variables are not the same object x is not y

In [108]:
x = 10
y = 10


print("X id is:",id(x))
print("y id is:",id(y))
print(x is y)


x = 10.10
y = 10.10


print("X id is:",id(x))
print("y id is:",id(y))
print(x is not y)

X id is: 10894656
y id is: 10894656
True
X id is: 140027952370480
y id is: 140027952370360
True

In [109]:
# 6. Membership Operators

1. in Returns True if a sequence with the specified value is present in the object x in y
2. not in Returns True if a sequence with the specified value is not present in the object x not in y

In [110]:
rollno = [1,2,3,4,5]

print(4 in rollno)

print(6 not in rollno)

print(5 not in rollno)

True
True
False

In [111]:
# 7. Bitwise Operators

1. &  AND Sets each bit to 1 if both bits are 1
2. | OR Sets each bit to 1 if one of two bits is 1
3. ^ XOR Sets each bit to 1 if only one of two bits is 1
4. ~  NOT Inverts all the bits
5. << Zero fill left shift Shift left by pushing zeros in from the right and let the leftmost bits fall off
6. >> Signed right shift Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

                256  128  64  32  16   8  4  2  1 
                                          0  0  0 = 0
                                          0  0  1 = 1
                                          0  1  0 = 2
                                          0  1  1 = 3
                                          1  0  0 = 4
                                          1  0  1 = 5
                                          1  1  0 = 6
                                          1  1  1 = 7
                                          
                                          Right Shift by 2 bits
                                          0  0  1 = 
                                          
                                          Left shift by 2 bits
                                     1  1 1  0  0 = 28

In [112]:
x = 4        # 1 0 0
y = 5        # 1 0 1
z = x & y    # 1 0 0 = 4
print("Bitwise and ")
print(z)

x = 4        # 1 0 0
y = 5        # 1 0 1
z = x | y    # 1 0 1 = 4
print('Bitwise or')
print(z)


x = 7
z = x << 2
print("Left Shift:\n")
print(z)

x = 7
z = x >> 2
print("Right Shift:\n")
print(z)

print("\n",oct(x))
print("\n",hex(x))

Bitwise and
4
Bitwise or
5
Left Shift:

28
Right Shift:

1

 0o7

 0x7

# Operator Precedence:

(): Parenthesis
** : exponential operator
~,- : Bitwise complement operator,unary minus operator
*,/,%,// : multiplication,division,modulo,floor division
+,- : addition,subtraction
<<,>> : Left and Right Shift
& : bitwise And
^= : Bitwise X-OR
| : Bitwise OR
>,>=,<,<=, ==, != : Relational or Comparison operators
=,+=,-=,*=... : Assignment operators
is , is not : Identity Operators
in , not in : Membership operators
not : Logical not
and : Logical and
or : Logical or

# Conditional Statements & Loops

1. If ... Else
2. If..elif...Else
3. While Loops
4. For Loops

In [8]:
# a>b
x = 10
y = 20
# find largest number

if x > y:
    print("if")
    print("Larger number is :", x)
else:
    print("else")
    print("Larger number is :",y)

else
Larger number is : 20

In [10]:
# a>b, a==b, a<b

x = 20
y = 20


if x > y:
    print("x is larger")
elif x == y:
    print("x and y are equal")
else:
    print('y is greater than x')

x and y are equal

In [115]:
# shaort hand if a > b: print("a is greater than b")

x = 10
y = 20

if y > x: print("y is greater number")

y is greater number

In [12]:
# short hand if else print("A") if a > b else print("B") 

x = 40
y = 30

print("x is greater") if x > y else print("y is greater")

x is greater

# you can add more conditions here in if else

write a python program which will take percentage as input from 
user and returns its grade (dist, first class, 2nd class, pass class)

In [117]:
# write more than one conditions use and and or

In [118]:
# nested if .. else

x = 150
if x > 100:
    if x > 150:
        print("Number is greater than 100 and 150")
    elif x ==150:
        print("Number is equal to 150")
    else:
        print("number is greater than 100 and less than 150")
elif x == 100:
    print("Number is equal to 100")
else:
    print("Number is less than 100")

Number is equal to 150

In [14]:
# pass staement

x = 10
y = 20

if y > x:
    pass

# while Loop

In [21]:
# print series of numbers
x = 0
while x < 50:
    x = x+5
    print(x)

5
10
15
20
25
30
35
40
45
50

In [25]:
# break statement

x = 0
while x <= 100:
    print(x)
    if x == 50:
        break
    x += 5

0
5
10
15
20
25
30
35
40
45
50

In [30]:
# Continue stmt


x = 0
while x <= 100:
    if x == 60:
        x = x+5
        continue
                
    print(x)
    x += 5

0
5
10
15
20
25
30
35
40
45
50
55
65
70
75
80
85
90
95
100

In [33]:
# else below while

x = 0
while x <= 100:
    
    if x == 50:
        x += 5
        continue
                
    print(x)
    x += 5
else:
    print("There is no more statement to execute")

0
5
10
15
20
25
30
35
40
45
55
60
65
70
75
80
85
90
95
100
There is no more statement to execute

In [45]:
# While using List
print("While Loop on List:\n")
fruits = ['mango', 'banana','cherry','apple','papaya']

x = 0
while x < len(fruits):
    print(fruits[x])
    x = x+1

While Loop on List:

mango
banana
cherry
apple
papaya

In [47]:
print("While Loop on Tuple:\n")  
fruit_tuple = ('mango', 'banana','cherry','apple','papaya')
print(type(fruit_tuple))

x = 0

while x < len(fruit_tuple):
    print(fruit_tuple[x])
    x = x + 1

While Loop on Tuple:

<class 'tuple'>
mango
banana
cherry
apple
papaya

# For Loop

for iterates over a list, tuple, set, dict and string

In [51]:
# list

list1 = [1,2,3,4,5,6,7,8,9]
list2 = ['mango', 'banana','cherry','apple','papaya']

for x in list2:
    print(x)

for i in list1:
        print(i)

mango
banana
cherry
apple
papaya
1
2
3
4
5
6
7
8
9

In [52]:
# String

str1 = "This is python"

for a in str1:
    print(a)

T
h
i
s

i
s

p
y
t
h
o
n

In [55]:
# Tuple
tup = (10,20,40,20,30,50)

for x in tup:
    print(x)

10
20
40
20
30
50

In [68]:
# Dict

dict1 = {
    'name' : 'Nitn',
    'mobile' : 9975923975,
    'address' : 'sangola',
    'job' : 'Data',
    'salary' : 550000.20,
    1 : 10000
  
}
print("for loop on dictionary:\n")
for x in dict1:
    print(x)
print("for loop on dictionary items:\n")
for x, y in dict1.items():
    print("(",x,",",y,")")
print("for loop on dictionary keys:\n")
for x in dict1.keys():
    print(x)
print("for loop on dictionary values:\n")  
for x in dict1.values():
    print(x)

for loop on dictionary:

1
salary
mobile
address
name
job
for loop on dictionary items:

( 1 , 10000 )
( salary , 550000.2 )
( mobile , 9975923975 )
( address , sangola )
( name , Nitn )
( job , Data )
for loop on dictionary keys:

1
salary
mobile
address
name
job
for loop on dictionary values:

10000
550000.2
9975923975
sangola
Nitn
Data

In [164]:
# set
s = {10,20,30,40,50}
print("for loop on set")

for x in s:
    print(x)

for loop on set
40
50
10
20
30

# range

returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), 
and ends at a specified number

In [72]:
#for i in range(10):

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [73]:
# range(1,10)- starting from 1, to 9, exclude 10
for i in range(101,120):
    print(i)

101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119

In [79]:
# range(10,100,5)
for i in range(10,51,5):
    print(i)

10
15
20
25
30
35
40
45
50

In [80]:
# else in for
for i in range(1,30,4):
    print(i)
else:
    print("There is nothing to execute now in for")

1
5
9
13
17
21
25
29
There is nothing to execute now in for

In [134]:
# take two list or tuples and use nested for loop