# Python End to End in detail

Basic:
It is a general purpose high level programming language.

Python was developed by Guido Van Rossam at National Research Institute at Netherlands.

official relaese date of python is 20th feb 1991

In [ ]:
# Printing Hello 

print("Hello")

# Note:

It is very simple to print hello in python, as compared to othe rprogramming languages

coding in python is really less time consuming than other programming languages

# Python Features

    1) Easy to Learn and Use. Python is easy to learn and use. ...
    2) Expressive Language. Python language is
    more expressive means that
    it is more understandable and readable.
    3) Interpreted Language. ...
    4) Cross-platform Language. ...
    5) Free and Open Source. ...
    6) Object-Oriented Language. ...
    7) Extensible. ...
    8) Large Standard Library.

# Applications

1) Web Applications....
2) Desktop GUI Applications....
3) Software Development....
4) Scientific and Numeric....
5) Business Applications....
6) Console Based Application....
7) Audio or Video based Applications....
8) 3D CAD Applications.
9) AI
10) ML, DL
11) Data Analytics

# Good to Know

1. Functional Programming Features from C
2. Object Oriented Programming Features from C++
3. Scripting Language Features from Perl and Shell Script
4. Modular Programming Features from Modula-3

# Identifiers
1. names in python are called as identifiers.
2. Function name, variable name, module name, class name are identifiers in python
3. Rules:

    1. Alphabet Symbols (Either Upper case OR Lower case)
    2. If Identifier is start with Underscore (_) then it indicates it is private.
    3. Identifier should not start with Digits.
    4. Identifiers are case sensitive.
    5. We cannot use reserved words as identifiers
    6. Dollor ($) Symbol is not allowed in Python.

# Special Notes

1. If identifier starts with _ symbol,then it is private
2. If identifier starts with __(2 underscore), indicate that it is a strongly private.
3. If the identifier starts and ends with two underscore symbols, then such identifiers are
language defined special name, 
# which is also known as magic methods.
ex:   [ __DoIt__  ]

In [ ]:
# Example of identifiers

a = 10
var = 20.2
str_1 = "python"

# Keywords

There are around 33 keywords:

if,elif,else,while,for,break,continue,return,in,True,False,None,and, or,not,is,yield
try,except,finally,raise,del,with,assert,import,from,as,class,def,pass,global
nonlocal,lambda.

In [ ]:
# we can see all keywords from python using below code
import keyword
keyword.kwlist
#len(keyword.kwlist)

# Data Types in Python:

1. Data type of variable is the type of value inside that variable.
2. In python we do not need to mension the data type of variable, It automatically assigns data type.
1. int   2. float   3.complex   4.bool   5.str    6.bytes    7.bytearray    8.range    9.list   10.tuple   11.set      12.frozenset    13.dict    14.None

In [ ]:
# int

var = 10  # decimal

# we can declare octal and Hex value also
print("Output:")
print(var)
print(type(var))

In [ ]:
# Float

var = 10.20

print("Output:")
print(var)
print(type(var))

In [ ]:
# Complex
var = 3+4j
# 3 is real part, 4j is imaginary part, j^2 = -1
print("Output:")
print(var)
print(type(var))
print("Printing Real and Imaginary part")
print(var.real)
print(var.imag)

In [ ]:
# boolean
var = True
print("Output:")
print(var)
print(type(var))

In [ ]:
# String data type
var = "python3.9"
print("Output:")
print(var)
print(type(var))

# Typecasting
int,
float,
str,
boolean,
comlex,
object.

# What is typecasting:

Conversion of data from one type to another type.
eg. str1 = "python is best"
str2 = "100"
Note: we can convert str2 into float, int

In [ ]:
# int/string to float conversion:

str1 = "python"
var = 100
str2 = "200"
print(var)
print(type(var))

var1 = float(var)

print(var1)

print(type(var1))

print(str2)
print(type(str2))
var3 = float(str2)
print(var3)
print(type(var3))

print("Demonstration of string to float conversion:")
print(str1)
#var2 = float(str1)

In [ ]:
# float/string to int conversion

var = 100.20
str1 = "200.30"
str2 = "500"
str3 = "python"

print("float to int:")
print(var)
print(type(var))
var1 = int(var)
print(var1)
print(type(var1))

print("String to int:")
print(str2)
print(type(str2))
var3 = int(str2)
print(var3)
print(type(var3))

#print("String to int:")
#print(str1)
#print(type(str1))
#var2 = int(str1)
#print(var2)
#print(type(var2))

print("string to complex:")
cm = "3+4j"
comp = complex(cm)
print(comp)
print(type(comp))


#print("String to int:")
#print(str3)
#print(type(str3))
#var4 = int(str3)
#print(var4)
#print(type(var4))

In [ ]:
# float, int to string

var = 100.23
var1 = 20
comp = 2+4j
print("float to string:")
print(var)
print(type(var))
var3 = str(var)
print(var3)
print(type(var3))

print("int to string:")
print(var1)
print(type(var1))
var4 = str(var1)
print(var4)
print(type(var4))

print("Complex to string:")
print(comp)
print(type(comp))
var5 = str(comp)
print(var5)
print(type(var5))

# Other types to Complex

In [ ]:
# use complex() function for conversion

var = 10

print(complex(var))

var1 = 12.4

print(complex(var1))

var3 = "10.23"
print(complex(var3))

In [ ]:
print(complex(10,5)) # 10+5j
print(complex(10.20,4))

print(complex(True,False)) # 1+0j

# Bool()

In [ ]:
print(int(True))

In [ ]:
print(int(False))

In [ ]:
print(float(True))

In [ ]:
print(float(False))

In [ ]:
print(complex(True))

In [ ]:
print(complex(False))

c = 0+0j

print(c)

In [ ]:

print(str(True))
print(str(False))

In [ ]:
print(bool(3.1))
print(bool(0.0))

In [ ]:
print(bool(1))
print(bool(0))

In [ ]:
print(bool(""))
print(bool())
print(bool("h"))
print(bool(11))

In [ ]:
print(bool(1+2j))
print(bool(1+0j))
print(bool(0+2j))
print(bool(0+0j))

# String Slicing

operations: slicing

# liscing is making peaces of a string using some separator
# [] is a slice opearator

In [ ]:
# assignment
str1 = "This tutorial is basically designed for beginers"

In [ ]:
# take simple string

str2 = "Python"

In [ ]:
str2[0]

In [ ]:
str2[5]

In [ ]:
str2

In [ ]:
str2[1]

In [ ]:
str2[0:]

In [ ]:
str2[:4]

In [ ]:
type(str2)

In [ ]:
str2[-1]

In [ ]:
str2[-2:]

In [ ]:
str2[-1:]

In [ ]:
str2[-3:]

In [ ]:
str2[-3:-1]

In [ ]:
str3 = str2[:4]
str3*3

# Immutability

# In python once an object is created, we are not allowed to change
# the content, If you want to change the content PVM will create a 
# new object for it.

In [ ]:
var = 100
var1 = var

print(id(var))
print("and \n",id(var1))

print(var is var1)


var = 200.1
var1 = 200.1
var2 = 200.1

print(id(var))
print("and \n",id(var1))

print(id(var2))

print(var is var1)

In [ ]:
var = 10+20j
var1 = 10+20j
print(var is var1)
print(id(var))
print("and \n",id(var1))
# ID are different

Assignment: Try same for string and boolean types

# bytes and bytearray Data Types:

In [ ]:
# bytes can hold the values from 0 to 256
# You cant change the value of bytes once it is created


a = [10,20,30,40,50,60]
print(type(a))

b = bytes(a)

print(type(b))
#b[0]=100
# it will raise error:
# bytes' object does not support item assignment


for i in b:
    print(i)

In [ ]:
# bytearray

# You can change the value of bytearray after creatation also


a = [10,20,30,40,50,60]
print(type(a))

b = bytearray(a)

print(type(b))

for i in b:
    print(i)

b[1]= 150
print("New List:")
for i in b:
    print(i)
print("Thst is difference")

# Data Types

Text Type=>str
Numeric Type=>int, float, complex
Sequence Type=>list, tuple, range
Mapping Type=>dict
Set Type=>set, frozenset
Boolean Type=>bool
Binary Types=>bytes, bytearray, Memoryview

# 1. List

1. List stores multiple items with different data types.
2. [] brackets are used to create list
3. List is ordered, changeable and stores duplicates also.
4. List is growable, elements are added at end of list.

In [ ]:
# ex
list1 = [1,2,3,4,5]
list2 = [10.2,20.1,30.3,40.0,50.21]
list3 = ['Nitin', 'Datta', 'Rahul', 'Padmaja']
list4 = [1,10.2,'Nitin']

print(list1)
print(list2)
print(list3)
print(list4)

# Accesing list items

In [ ]:
print(type(list1))

In [ ]:
print(list1[0])
print(list2[1])
print(list3[0])
print(list1)
print(list2)
print(list3)
print(list4)

In [ ]:
list2[0:5]

In [ ]:
list2[0:-2]

In [ ]:
print('length of list1:')
print(len(list1))

In [ ]:
print(list1)
list1.append("sagar")
print(list1)

In [ ]:
print(list1)
list1.remove("sagar")
print(list1)

In [ ]:
print(list1)
list1.remove(3)
print(list1)

# Available operations on list

list1.append
list1.clear
list1.copy
list1.count
list1.extend
list1.index
list1.insert
list1.pop
list1.remove
list1.reverse
list1.sort

#Change Values:

In [ ]:
print(list1)
list1.append(6)
print(list1)

In [ ]:
print(list1)
list1.remove(6)
print(list1)

In [ ]:
list_1 = list1.copy()
print(list_1)

In [ ]:
print(list1)

list1.extend([1,"Sagar"])
l = ['apple', 'banana']
list1.extend(l)
print(list1)

In [ ]:
print(list1.index('apple'))

In [ ]:
print(list1)
list1.insert(3,100) # list1.insert(index, value_to_insert)
print(list1)

In [ ]:
print(list1)
list1.pop(1) # pop element at this location list1.pop(location/index)
print(list1)
list1.pop() # pop last element
print(list1)

In [ ]:
print(list1)
list1.reverse()
print(list1)

In [ ]:
list_1 = [100,2,200,88,99,20]
print(list_1)
print("Ascending")
list_1.sort(reverse=False) # Ascending
print(list_1)
print("Descending")
list_1.sort(reverse=True) # Descending
print(list_1)

In [ ]:
print(list1)
list1[1] = "XYZ"
print(list1)

In [ ]:
print(list1)
list1[2:4] = ['Nitin_1', 'Rahul_1']
print(list1)

In [ ]:
print(len(list1))
#list1[9] = 'Padmaja'
print(list1)

# Tuple

1. Tuple is ordered and unchangeble
2. Immutable (you cant change the elements or cant add elements in tuple)
3. () are used to represent the tuple
4. Allow duplicates
5. tuples are read only version of your list except list is growable

In [ ]:
 tup = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tup)

In [ ]:
len(tup)

In [ ]:
tup1 = ("apple")
print(type(tup1))

tup1 = ("apple",)
print(type(tup1))

In [ ]:
tup2 = ("abc", 34, True, 40, "male")
print(tup2)

In [ ]:
tup3 = tuple((10,20,30)) # tuple() constructor
print(tup3)

In [ ]:
# access
print(tup)
tup[1]

In [ ]:
print(tup)
tup[-2]

In [ ]:
# range of items
tup[0:2]

In [ ]:
# change tuple value using list
# Do here
print(tup)
print(type(tup))
var = list(tup)
print(var)
print(type(var))

# change value

var[2] = 'potato'
print(var)

# convert back to tuple

tup = tuple(var)
print(tup)

In [ ]:
# Add items
print(tup)
print(type(tup))
var = list(tup)
print(var)
print(type(var))

var.insert(2,'tomato')

tup = tuple(var)
print(tup)

# convert back to tuple

In [ ]:
# tuple concat +

In [ ]:
# remove items using list

In [ ]:
# Complete deletion of tuple using del tuple_name

In [ ]:
# Use of asterisk
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

In [ ]:
 fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

In [ ]:
# Methods: count() and index()
print(tup)
cnt = tup.count('tomato')
print(cnt)

print(tup)
ind = tup.index('potato')
print(ind)

In [ ]:
# Try assigning values to tuples
# tup[0] = 'grapes'
# TypeError: 'tuple' object does not support item assignment

# Set

1. set is unordered collections of elements
2. It is mutable
3. It is growable
4. Set items are unchangeable
5. {} are used to represent set
6. Index concept is not applicable
7. duplicates are not allowed

In [1]:
s = {1,2,3,'sagar', 'nitin', 'cherry'}
print(s)
print(type(s))

{1, 2, 3, 'cherry', 'nitin', 'sagar'}
<class 'set'>

In [2]:
print(len(s))

6

In [3]:
# set() constructor
set1 = set(("apple", "banana", "cherry"))
print(set1)
print(type(set1))

{'banana', 'apple', 'cherry'}
<class 'set'>

In [4]:
# accessing set
val = "banana" in s

print(val)

print(1 in s)

False
True

In [7]:
# once set is created u can not change elements value, 
# but u can add values
print(set1)
set1.add('orange')
print(set1)

{'banana', 'orange', 'apple', 'cherry'}
{'banana', 'orange', 'apple', 'cherry'}

In [11]:
# using update you can add any iterable items like set, list,tuple, dict-keys
set2 = {"pineapple", "mango", "papaya"}
#dict1 = {'a': 97}
tup = (1,2,3)

set1.update(set2)
print(set1)
set1.update(tup)
set1.update(dict1)
print(set1)

{'pineapple', 1, 2, 3, 'cherry', 'mango', 'apple', 'papaya', 'banana', 'orange', 'a'}
{'pineapple', 1, 2, 3, 'cherry', 'mango', 'apple', 'papaya', 'banana', 'orange', 'a'}

In [21]:
# remove(), discard(), pop()
print("Remove using remove():\n",set1)
#set1.remove('banana')
print(set1)

print("Remove using discard():\n",set1)
set1.discard(2)
print(set1)

print("Remove using pop():\n",set1)
res = set1.pop()
print(set1)
print(res)

Remove using remove():
 {'apple', 'papaya', 'orange', 'a'}
{'apple', 'papaya', 'orange', 'a'}
Remove using discard():
 {'apple', 'papaya', 'orange', 'a'}
{'apple', 'papaya', 'orange', 'a'}
Remove using pop():
 {'apple', 'papaya', 'orange', 'a'}
{'papaya', 'orange', 'a'}
apple

In [20]:
# union

# adds elements of two sets and create new set

print(s)
print()
s = s.union(set1)
print(s)

# update method word for union only but adds element to calling set

{1, 2, 3, 'cherry', 'nitin', 'sagar'}
{1, 2, 3, 'papaya', 'cherry', 'sagar', 'nitin', 'orange', 'a', 'apple'}

In [22]:
#
print(s)
print(set1)
intr = s.intersection(set1)
print("itersection:\n",intr)

# keeps duplicates in s1 
s.intersection_update(set1)
print("itersection Update:\n",s)

{1, 2, 3, 'papaya', 'cherry', 'sagar', 'nitin', 'orange', 'a', 'apple'}
{'papaya', 'orange', 'a'}
itersection:
 {'orange', 'papaya', 'a'}
itersection Update:
 {'orange', 'papaya', 'a'}

In [27]:
# keeps elements which are not present in other set
s_1 ={1,2,3,4,5,6}
s_2 = {3,5,7,8,9}

print(s)
print(set1)
#s.symmetric_difference_update(set1)

print(s) 


# returns new set

print("Symmetric Difference:\n")

k = s_1.symmetric_difference(s_2) 
# return elements which are present in s_1 not in s_2 + present in s_2 but not in s_1
v = s_1.difference(s_2) 
# returns new set with elements present in s_1 but not in s_2
print("Symmetric difference:\n",k)
print("difference:\n",v)

{'orange', 'papaya', 'a'}
{'papaya', 'orange', 'a'}
{'orange', 'papaya', 'a'}
Symmetric Difference:

Symmetric difference:
 {1, 2, 4, 6, 7, 8, 9}
difference:
 {1, 2, 4, 6}

In [28]:
#isdisjoint()Returns whether two sets have a intersection or not
#issubset()Returns whether another set contains this set or not
#issuperset()Returns whether this set contains another set or not

print(s.isdisjoint(set1))
print(s.issubset(set1))
print(set1.issuperset(s))

False
True
True

In [ ]:
# del and clear() method removes the set completely

# uncomment to run it and see result
print(s)
#del s1
#print(s1)

# frozenset

In [ ]:
# frozen set is same as set but it is immutable

print(type(set1))
s = frozenset(set1)
print(s)
print(type(s))
# supported methods for frozen set
'''
s.copy()
s.difference()
s.intersection()
s.isdisjoint()
s.issubset()
s.issuperset()
s.symmetric_difference()
s.union()
'''

# Dictionary

1. stores data in key:value pair
2. It is ordered, changeable and does not allow duplicates.
3. {} are used to write dictionaries
4. Items are reffered by using key
5. From Python version 3.7, dictionaries are ordered.

In [ ]:
dict1 = {
    'name' : 'Nitn',
    'mobile' : 9975923975,
    'address' : 'sangola',
    'job' : 'Data',
    'salary' : 550000
    
}
print(dict1)

In [ ]:
print(dict1['name'])

In [ ]:
print(len(dict1))

In [ ]:
print(type(dict1))

In [ ]:
# accesing elemnts

print(dict1['salary'])
s = dict1.get('job')
print(s)

In [ ]:
print(dict1.keys())

In [ ]:
# add new item
dict1['c_address'] = 'Pune'
print(dict1.keys())

In [ ]:
# values
print(dict1.values())