# Python End to End in detail

In [ ]:
1. Python: Programming Language
2. Numpy : library- Mathematical cal.
3. Pandas : Library- To hold data
4. Statistics and Maths: Concepts 
5. Machine Learning: Algorithms
6. Deep Learning: Kears and Tensorflow
7. NLP
8. SQL 
9. Git and Github
10. Building git profile, Linked IN Profile, Naukri Profile, Resume building
11. Internship : 6 months.

Basic:
It is a general purpose high level programming language.

Python was developed by Guido Van Rossam at National Research Institute at Netherlands.

official relaese date of python is 20th feb 1991

In [11]:
# Printing Hello 

print('Hi')
print('Hello')
print('Sagar')

Hi
Hello
Sagar

for C Language:
--- Compiled Languages

write - xyz.c
compile- xyz.c----> Errors will be show here
Run- xyz.c----> Will get executed

--- Intepreted Languages

Run--> It will stop execution when it finds an error or exception.

# Note:

It is very simple to print hello in python, as compared to other programming languages

coding in python is really less time consuming than other programming languages

# Python Features

    1) Easy to Learn and Use. 
    2) Expressive Language. Python language is
    more expressive means that
    it is more understandable and readable.
    3) Interpreted Language. ...
    4) Cross-platform Language. ...
    5) Free and Open Source. ...
    6) Object-Oriented Language. ...
    7) Extensible. ...
    8) Large Standard Library.

# Applications

1) Web Applications....
2) Desktop GUI Applications....
3) Software Development....
4) Scientific and Numeric....
5) Business Applications....
6) Console Based Application....
7) Audio or Video based Applications....
8) 3D CAD Applications.
9) AI
10) ML, DL
11) Data Analytics

# Good to Know

1. Functional Programming Features from C
2. Object Oriented Programming Features from C++
3. Scripting Language Features from Perl and Shell Script
4. Modular Programming Features from Modula-3

# Identifiers
1. names in python are called as identifiers.
2. Function name, variable name, module name, class name are identifiers in python
3. Rules:

    1. Alphabet Symbols (Either Upper case OR Lower case)
    2. If Identifier is start with Underscore (_) then it indicates it is private.
    3. Identifier should not start with Digits.
    4. Identifiers are case sensitive.
    5. We cannot use reserved words as identifiers
    6. Dollor ($) Symbol is not allowed in Python.
    
    ex: Akash, akash,AKASH, _aKASH, _AKASH, _akash
    Wrong: 1_aksh, 1akash, 1AKASH

In [18]:
name = 'vaibhav'
Name = 'rahul'
python = 'This is a python Language'

x = 10000

fname = 'Kaviraj'
lname =  "Arde"
y = 'Hey guys I am taking session on python'
z = "THis is zzz"
print(y)
print(z)


print(fname)
print(lname)
print(x)
print(python)


print(name)

print(Name)

Hey guys I am taking session on python
THis is zzz
Kaviraj
Arde
10000
This is a python Language
vaibhav
rahul

# Special Notes

1. If identifier starts with _ symbol,then it is private
2. If identifier starts with __(2 underscore), indicate that it is a strongly private.
3. If the identifier starts and ends with two underscore symbols, then such identifiers are
language defined special name, 
# which is also known as magic methods.
ex:   [ __DoIt__  ]

In [6]:
# Example of identifiers
a = 10
print(a)
print(type(a))


fname = 'Sagar'
print(fname)
print(type(fname))


a = 'This is python'
print(a)
print(type(a))

10
<class 'int'>
Sagar
<class 'str'>
This is python
<class 'str'>

SyntaxError: invalid syntax (<ipython-input-1-854294b6df1f>, line 1)

# Keywords

Def:
Keywords are the system reserved words which can be used by user and can not be re-declared by user


There are around 33 keywords:

if,elif,else,while,for,break,continue,return,in,True,False,None,and, or,not,is,yield,try,except,finally,raise,del,with,assert,import,from,as,class,def,pass,
global,nonlocal,lambda.

In [9]:
# we can see all keywords from python using below code
import keyword
print(keyword.kwlist)

len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

33

# Data Types in Python:

1. Data type of variable is the type of value inside that variable.
2. In python we do not need to mension the data type of variable, It automatically assigns data type.
1. int   2. float   3.complex   4.bool   5.str    6.bytes    7.bytearray    8.range    9.list   10.tuple   11.set      12.frozenset    13.dict    14.None

In [10]:
# int

var = 10  # decimal

# we can declare octal and Hex value also
print("Output:")
print(var)
print(type(var))

Output:
10
<class 'int'>

In [12]:
# Float

var = 101.22

print("Output:")
print(var)
print(type(var))

Output:
101.22
<class 'float'>

In [18]:
# Complex
var = 3+4j

# 3 is real part, 4j is imaginary part, j^2 = -1
print('Output:')
print(var)
print(type(var))
print("Real:", var.real)
print(type(var.real))
print("Imaginary:",var.imag)

Output:
(3+4j)
<class 'complex'>
Real: 3.0
<class 'float'>
Imaginary: 4.0

In [16]:
# boolean
var = True
var_1 = False

x = 'True'
print("Output:")
print(var)
print(type(var))
print(x)
print(type(x))

Output:
True
<class 'bool'>
True
<class 'str'>

In [9]:
# String data type
var = "python3.9"
# when take input from user: values are considered as "string"
print("Output:")
print(var)
print(type(var))

Output:
python3.9
<class 'str'>

# Typecasting

Def: Conversion of one type of data into other type of data is called  as tyapcasting.

int,
float,
str,
boolean,
complex,
object.

# What is typecasting:

Conversion of data from one type to another type.
eg. str1 = "python is best"
str2 = "100"
Note: we can convert str2 into float, int

In [23]:
# int/string to float conversion:

str1 = "python"
var = 100
str2 = "200"

print(var)
print(type(var))
var_1 = float(var)
print(var_1)
print(type(var_1))

print(str2)
print(type(str2))
str2_1 = float(str2)
print(str2_1)
print(type(str2_1))

print("Demonstration of string to float conversion:")
print(str1)
#var2 = float(str1)

100
<class 'int'>
100.0
<class 'float'>
200
<class 'str'>
200.0
<class 'float'>
Demonstration of string to float conversion:
python

In [3]:
# float/string to int conversion

var = 100.20
str1 = "200.30"
str2 = "500"
str3 = "python"

print("float to int:")

print(var)
print(type(var))
var1 = int(var)
print(var1)
print(type(var1))

print("String to int:")
print(str2)
print(type(str2))
var3 = int(str2)
print(var3)
print(type(var3))

print("String to int:")
print(str1)
print(type(str1))
# var2 = int(str1)
# print(var2)
# print(type(var2))

print("string to complex:")
cm = '3+4j'
print(cm)
print(type(cm))
c_no = complex(cm)
print(c_no)
print(type(c_no))


#print("String to int:")
#print(str3)
#print(type(str3))
#var4 = int(str3)
#print(var4)
#print(type(var4))

float to int:
100.2
<class 'float'>
100
<class 'int'>
String to int:
500
<class 'str'>
500
<class 'int'>
String to int:
200.30
<class 'str'>
string to complex:
3+4j
<class 'str'>
(3+4j)
<class 'complex'>

In [12]:
# float, int to string

var = 100.23
var1 = 20
comp = 2+4j
print("float to string:")
print(var)
print(type(var))
var3 = str(var)
print(var3)
print(type(var3))

print("int to string:")
print(var1)
print(type(var1))
var4 = str(var1)
print(var4)
print(type(var4))

print("Complex to string:")
print(comp)
print(type(comp))
var5 = str(comp)
print(var5)
print(type(var5))

float to string:
100.23
<class 'float'>
100.23
<class 'str'>
int to string:
20
<class 'int'>
20
<class 'str'>
Complex to string:
(2+4j)
<class 'complex'>
(2+4j)
<class 'str'>

# Other types to Complex

In [13]:
# use complex() function for conversion

var = 10

print(complex(var))

var1 = 12.4

print(complex(var1))

var3 = "10.23"
print(complex(var3))

(10+0j)
(12.4+0j)
(10.23+0j)

In [14]:
print(complex(10,5)) # 10+5j
print(complex(10.20,4))

print(complex(True,False)) # 1+0j

(10+5j)
(10.2+4j)
(1+0j)

# Bool()

In [15]:
print(int(True))

1

In [16]:
print(int(False))

0

In [17]:
print(float(True))

1.0

In [18]:
print(float(False))

0.0

In [19]:
print(complex(True))

(1+0j)

In [20]:
print(complex(False))

c = 0+0j

print(c)

0j
0j

In [21]:

print(str(True))
print(str(False))

True
False

In [22]:
print(bool(3.1))
print(bool(0.0))

True
False

In [23]:
print(bool(1))
print(bool(0))

True
False

In [24]:
print(bool(""))
print(bool())
print(bool("h"))
print(bool(11))

False
False
True
True

In [25]:
print(bool(1+2j))
print(bool(1+0j))
print(bool(0+2j))
print(bool(0+0j))

True
True
True
False

# String Slicing

operations: slicing

# liscing is making peaces of a string using some separator
# [] is a slice opearator

In [12]:
# assignment
str1 = "This tutorial is basically designed for beginers"

In [2]:
# take simple string

str2 = "Python"
#012345

In [3]:
str2[0]

'P'

In [29]:
str2[5]

'n'

In [30]:
str2

'Python'

In [31]:
str2[1]

'y'

In [4]:
# Ranged Indexing
str2[0:]

'Python'

In [10]:
# [start:end]
print(str2[:4])
print(str2[-6:])
print(str2[0:3])

Pyth
Python
Pyt

In [34]:
type(str2)

str

In [35]:
str2[-1]

'n'

In [5]:
str2[-2:]

'on'

In [6]:
str2[-1:]

'n'

In [7]:
str2[-3:]

'hon'

In [8]:
str2[-3:-1]

'ho'

In [13]:
str3 = str2[:4]
print(str3)
str1*3

Pyth

'This tutorial is basically designed for beginersThis tutorial is basically designed for beginersThis tutorial is basically designed for beginers'

# Immutability

# In python once an object is created, we are not allowed to change
# the content, If you want to change the content PVM will create a 
# new object for it.

In [2]:
var = 100
var1 = var

print(id(var))
print("and \n",id(var1))

print(var is var1)


var = 200.10
var1 = 200.10
var2 = 200.10

print(id(var))
print("and \n",id(var1))

print(id(var2))

print(var is var1)

10897536
and
 10897536
True
140353254627464
and
 140353254627440
140353254627368
False

In [42]:
var = 10+20j
var1 = 10+20j
print(var is var1)
print(id(var))
print("and \n",id(var1))
# ID are different

False
140434761182128
and
 140434761180880

Assignment: Try same for string and boolean types

# bytes and bytearray Data Types:

In [16]:
# bytes can hold the values from 0 to 256
# You cant change the value of bytes once it is created
# Bytes is immutable


a = [10,20,30,40,50,60]
print(type(a))

b = bytes(a)
print(b)
print(type(b))
#b[0]=100
#it will raise error:
#bytes' object does not support item assignment


for i in b:
    print(i)

<class 'list'>
b'\n\x14\x1e(2<'
<class 'bytes'>
10
20
30
40
50
60

In [17]:
# bytearray

# You can change the value of bytearray after creatation also


a = [10,20,30,40,50,60]
print(type(a))

b = bytearray(a)

print(type(b))

for i in b:
    print(i)

b[1]= 150
print("New List:")
for i in b:
    print(i)
print("This is difference")

<class 'list'>
<class 'bytearray'>
10
20
30
40
50
60
New List:
10
150
30
40
50
60
This is difference

# Data Types

Text Type=> str
Numeric Type=> int, float, complex
Sequence Type=> list, tuple, range
Mapping Type=> dict
Set Type=> set, frozenset
Boolean Type=> bool
Binary Types=> bytes, bytearray, Memoryview

# 1. List

1. List stores multiple items with different data types.
2. [] brackets are used to create list
3. List is ordered, changeable and stores duplicates also.
4. List is growable, elements are added at end of list.

In [18]:
# ex
list1 = [1,2,3,4,5]
list2 = [10.2,20.1,30.3,40.0,50.21]
list3 = ['Nitin', 'Datta', 'Rahul', 'Padmaja']
list4 = [1,10.2,'Nitin']

print(list1)
print(list2)
print(list3)
print(list4)

[1, 2, 3, 4, 5]
[10.2, 20.1, 30.3, 40.0, 50.21]
['Nitin', 'Datta', 'Rahul', 'Padmaja']
[1, 10.2, 'Nitin']

# Accesing list items

In [10]:
print(type(list1))
type(list1)

<class 'list'>

list

In [19]:
print(list1[0])
print(list2[1])
print(list3[0])
print(list1)
print(list2)
print(list3)
print(list4)


print("************")
print(list1)
list1[1]

1
20.1
Nitin
[1, 2, 3, 4, 5]
[10.2, 20.1, 30.3, 40.0, 50.21]
['Nitin', 'Datta', 'Rahul', 'Padmaja']
[1, 10.2, 'Nitin']
************
[1, 2, 3, 4, 5]

2

In [24]:

print(list2)
print(list2)
list2[0: 10]
list2

[10.2, 20.1, 30.3, 40.0, 50.21]
[10.2, 20.1, 30.3, 40.0, 50.21]

[10.2, 20.1, 30.3, 40.0, 50.21]

In [27]:
print(list2)
#list2[-2]
list2[0:-2]

[10.2, 20.1, 30.3, 40.0, 50.21]

[10.2, 20.1, 30.3]

In [50]:
print('length of list1:')
print(len(list1))


len(list3)

length of list1:
5

4

In [29]:
print(list1)
list1.append("sagar")
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'sagar']

In [30]:
print(list1)
list1.remove("sagar")
print(list1)

[1, 2, 3, 4, 5, 'sagar']
[1, 2, 3, 4, 5]

In [53]:
print(list1)
list1.remove(3)
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

# Available operations on list

list1.append
list1.clear
list1.copy
list1.count
list1.extend
list1.index
list1.insert
list1.pop
list1.remove
list1.reverse
list1.sort

#Change Values:

In [54]:
print(list1)
list1.append(6)
print(list1)

[1, 2, 4, 5]
[1, 2, 4, 5, 6]

In [55]:
print(list1)
list1.remove(6)
print(list1)

[1, 2, 4, 5, 6]
[1, 2, 4, 5]

In [56]:
list_1 = list1.copy()
print(list_1)

[1, 2, 4, 5]

In [57]:
print(list1)

list1.extend([1,"Sagar"])
l = ['apple', 'banana']
list1.extend(l)
print(list1)

[1, 2, 4, 5]
[1, 2, 4, 5, 1, 'Sagar', 'apple', 'banana']

In [58]:
print(list1.index('apple'))

6

In [59]:
print(list1)
list1.insert(3,100) # list1.insert(index, value_to_insert)
print(list1)

[1, 2, 4, 5, 1, 'Sagar', 'apple', 'banana']
[1, 2, 4, 100, 5, 1, 'Sagar', 'apple', 'banana']

In [60]:
print(list1)
list1.pop(1) # pop element at this location list1.pop(location/index)
print(list1)
list1.pop() # pop last element
print(list1)

[1, 2, 4, 100, 5, 1, 'Sagar', 'apple', 'banana']
[1, 4, 100, 5, 1, 'Sagar', 'apple', 'banana']
[1, 4, 100, 5, 1, 'Sagar', 'apple']

In [61]:
print(list1)
list1.reverse()
print(list1)

[1, 4, 100, 5, 1, 'Sagar', 'apple']
['apple', 'Sagar', 1, 5, 100, 4, 1]

In [62]:
list_1 = [100,2,200,88,99,20]
print(list_1)
print("Ascending")
list_1.sort(reverse=False) # Ascending
print(list_1)
print("Descending")
list_1.sort(reverse=True) # Descending
print(list_1)

[100, 2, 200, 88, 99, 20]
Ascending
[2, 20, 88, 99, 100, 200]
Descending
[200, 100, 99, 88, 20, 2]

In [27]:
print(list1)
list1[1] = "Kaviraj"
print(list1)

[1, 'XYZ', 3, 4, 5, 'sagar']
[1, 'Kaviraj', 3, 4, 5, 'sagar']

In [28]:
print(list1)
list1[2:4] = ['Nitin_1', 'Rahul_1']
print(list1)

[1, 'Kaviraj', 3, 4, 5, 'sagar']
[1, 'Kaviraj', 'Nitin_1', 'Rahul_1', 5, 'sagar']

In [29]:
print(len(list1))
#list1[9] = 'Padmaja'
print(list1)

6
[1, 'Kaviraj', 'Nitin_1', 'Rahul_1', 5, 'sagar']

# Tuple

1. Tuple is ordered and unchangeble
2. Immutable (you cant change the elements or cant add elements in tuple)
3. () are used to represent the tuple
4. Allow duplicates
5. tuples are read only version of your list except list is growable

In [30]:
 tup = ("apple",'apple', "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tup)

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [37]:
print(len(tup))
print(tup.count('orange'))
tup.index('banana')

8
1

2

In [68]:
tup1 = ("apple")
print(type(tup1))

tup1 = ("apple",)
print(type(tup1))

<class 'str'>
<class 'tuple'>

In [69]:
tup2 = ("abc", 34, True, 40, "male")
print(tup2)

('abc', 34, True, 40, 'male')

In [3]:
tup3 = tuple([10,20,30]) # tuple() constructor
print(tup3)
print(type(tup3))

(10, 20, 30)
<class 'tuple'>

In [71]:
# access
print(tup)
tup[1]

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

'apple'

In [72]:
print(tup)
tup[-2]

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

'melon'

In [73]:
# range of items
tup[0:2]

('apple', 'apple')

In [74]:
# change tuple value using list
# Do here
print(tup)
print(type(tup))
var = list(tup)
print(var)
print(type(var))

# change value

var[2] = 'potato'
print(var)

# convert back to tuple

tup = tuple(var)
print(tup)

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
<class 'tuple'>
['apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
<class 'list'>
['apple', 'apple', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
('apple', 'apple', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [75]:
# Add items
print(tup)
print(type(tup))
var = list(tup)
print(var)
print(type(var))

var.insert(2,'tomato')

tup = tuple(var)
print(tup)

# convert back to tuple

('apple', 'apple', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
<class 'tuple'>
['apple', 'apple', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
<class 'list'>
('apple', 'apple', 'tomato', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [76]:
# tuple concat +

In [77]:
# remove items using list

In [78]:
# Complete deletion of tuple using del tuple_name

In [4]:
# Use of asterisk
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
fruits_1 = ("apple","strawberry","banana", "cherry", "raspberry")

(red,yellow, *pink) = fruits_1

(red,yellow, *pink) = ("apple","strawberry","banana", "cherry", "raspberry")

print(red)
print(yellow)
print(pink)

apple
strawberry
['banana', 'cherry', 'raspberry']

In [6]:
 fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

(*green, tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry
['apple', 'mango', 'papaya']
pineapple
cherry

In [81]:
# Methods: count() and index()
print(tup)
cnt = tup.count('tomato')
print(cnt)

print(tup)
ind = tup.index('potato')
print(ind)

('apple', 'apple', 'tomato', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
1
('apple', 'apple', 'tomato', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
3

In [82]:
# Try assigning values to tuples
# tup[0] = 'grapes'
# TypeError: 'tuple' object does not support item assignment

# Set

1. set is unordered collections of elements
2. It is mutable
3. It is growable
4. Set items are unchangeable
5. {} are used to represent set
6. Index concept is not applicable
7. duplicates are not allowed

In [13]:
s = {1,2,3, "sai", "kaviraj", 'chetan', 70.1}
print(type(s))
print(s)

# How to remove duplicates form list or tuple 
list_num = [10,10,20,20,30,40,50]
print(list_num)

new_set = set(list_num)

new_list = list(new_set)
print(new_list)

<class 'set'>
{1, 2, 3, 'kaviraj', 70.1, 'chetan', 'sai'}
[10, 10, 20, 20, 30, 40, 50]
[40, 10, 20, 50, 30]

In [11]:
print(len(s))

7

In [12]:
# set() constructor
set1 = set(["apple", "banana", "cherry"])
print(set1)
print(type(set1))

{'banana', 'apple', 'cherry'}
<class 'set'>

In [14]:
# accessing set
s = {1,2,3, "sai", "kaviraj", 'chetan', 70.1}
print(s)
val = 'banana' in s
print(val)

print(2 in s)

{1, 2, 3, 'kaviraj', 70.1, 'chetan', 'sai'}
False
True

In [18]:
# once set is created u can not change elements value, 
# but u can add values
print(set1)
set1.add('orange')
print(set1)

{'banana', 'orange', 'apple', 'cherry'}
{'banana', 'orange', 'apple', 'cherry'}

In [19]:
# using update you can add any iterable items like set, list,tuple, dict-keys
set2 = {"pineapple", "mango", "papaya"}
#dict1 = {'a': 97}
tup = (1,2,3)
print(set1)
set1.update(set2)
print(set1)
set1.update(tup)

print(set1)

{'banana', 'orange', 'apple', 'cherry'}
{'banana', 'pineapple', 'mango', 'papaya', 'apple', 'orange', 'cherry'}
{'banana', 1, 2, 3, 'pineapple', 'mango', 'papaya', 'apple', 'orange', 'cherry'}

In [30]:
# remove(), discard(), pop()
print("Remove using remove():\n",set1)
#set1.remove('papaya')
#print(set1)

print("Remove using discard():\n",set1)
#set1.discard('papaya')
print(set1)

print("Remove using pop():\n",set1)
res = set1.pop()
print(set1)
print(res)

Remove using remove():
 {1, 3, 'pineapple', 'mango', 'apple', 'orange', 'cherry'}
Remove using discard():
 {1, 3, 'pineapple', 'mango', 'apple', 'orange', 'cherry'}
{1, 3, 'pineapple', 'mango', 'apple', 'orange', 'cherry'}
Remove using pop():
 {1, 3, 'pineapple', 'mango', 'apple', 'orange', 'cherry'}
{3, 'pineapple', 'mango', 'apple', 'orange', 'cherry'}
1

In [32]:
# union

# adds elements of two sets and create new set

print(s)
print(set1)
s1 = s.union(set1)
print(s1)

# update method word for union only but adds element to calling set

{1, 2, 3, 70.1, 'chetan', 'sai', 'kaviraj'}
{3, 'pineapple', 'mango', 'apple', 'orange', 'cherry'}
{1, 2, 3, 'orange', 70.1, 'chetan', 'sai', 'mango', 'kaviraj', 'pineapple', 'apple', 'cherry'}

In [91]:
#
print(s)
print(set1)
intr = s.intersection(set1)
print("itersection:\n",intr)

# keeps duplicates in s1 
s.intersection_update(set1)
print("itersection Update:\n",s)

{1, 2, 3, 'cherry', 'sagar', 'nitin'}
{1, 3, 'papaya', 'banana', 'apple', 'pineapple', 'cherry', 'orange'}
itersection:
 {1, 3, 'cherry'}
itersection Update:
 {1, 3, 'cherry'}

In [25]:
s_1 = {1,2,3}
s_2 = {3,4,5}
s_3 = {2,20,30}

#s_3 = s_1.intersection(s_2)
print(s_3)

#s_1.intersection_update(s_2)
print(s_1)

s_2.intersection_update(s_1)
print(s_2)

s_3.intersection_update(s_1)
print(s_3)

{2, 20, 30}
{1, 2, 3}
{3}
{2}

In [34]:
# keeps elements which are not present in other set
s_1 ={1,2,3,4,5,6}
s_2 = {3,5,7,8,9}
# Example
# s_1 and s_2
# {1,2,4,6} + {7,8,9}

print(s)
print(set1)
s.symmetric_difference_update(set1)

print(s) 


# returns new set

print("Symmetric Difference:\n")

k = s_1.symmetric_difference(s_2) 
# return elements which are present in s_1 not in s_2 + 
# present in s_2 but not in s_1
v = s_1.difference(s_2) 
# returns new set with elements present in s_1 but not in s_2
print("Symmetric difference:\n",k)
print("difference:\n",v)

{1, 2, 3, 70.1, 'chetan', 'sai', 'kaviraj'}
{3, 'pineapple', 'mango', 'apple', 'orange', 'cherry'}
{1, 2, 'orange', 70.1, 'chetan', 'sai', 'mango', 'kaviraj', 'pineapple', 'apple', 'cherry'}
Symmetric Difference:

Symmetric difference:
 {1, 2, 4, 6, 7, 8, 9}
difference:
 {1, 2, 4, 6}

In [40]:
#isdisjoint()Returns whether two sets have a intersection or not
#issubset()Returns whether another set contains this set or not
#issuperset()Returns whether this set contains another set or not
s = {1,2,3,4,5,6} 
s1 = {4,5,6}

print(s.isdisjoint(s1))
print("S:\n")
print(s)
print("Set1:\n")
print(set1)
print(s1.issubset(s))
print(s.issuperset(s1))

False
S:

{1, 2, 3, 4, 5, 6}
Set1:

{3, 'pineapple', 'mango', 'apple', 'orange', 'cherry'}
True
True

In [43]:
# del and clear() method removes the set completely

# uncomment to run it and see result
#print(s1)
#del s1
#print(s1)

# frozenset

In [95]:
# frozen set is same as set but it is immutable

print(type(set1))
s = frozenset(set1)
print(s)
print(type(s))
# supported methods for frozen set

s1 = s.copy()
'''
s.difference()
s.intersection()
s.isdisjoint()
s.issubset()
s.issuperset()
s.symmetric_difference()
s.union()
'''
print(s1)
print(type(s1))

<class 'set'>
frozenset({1, 3, 'banana', 'apple', 'cherry', 'papaya', 'pineapple', 'orange'})
<class 'frozenset'>
frozenset({1, 3, 'banana', 'apple', 'cherry', 'papaya', 'pineapple', 'orange'})
<class 'frozenset'>

# Dictionary

1. stores data in key:value pair
2. It is ordered, changeable and does not allow duplicates.
3. {} are used to write dictionaries
4. Items are reffered by using key
5. From Python version 3.7, dictionaries are ordered.

In [1]:
d = {
    1: 'Chetan',
    2: 'Kaviraj',
    3: "Sai",
    4: "Pooja"
}

dict1 = {
    'name' : 'Nitn',
    'mobile' : 9975923975,
    'address' : 'sangola',
    'job' : 'Data Scientist',
    'salary' : 550000.20,
    1 : 10000
    
}
print(d)

print(type(dict1))
print(dict1)

{1: 'Chetan', 2: 'Kaviraj', 3: 'Sai', 4: 'Pooja'}
<class 'dict'>
{'job': 'Data Scientist', 'salary': 550000.2, 1: 10000, 'mobile': 9975923975, 'name': 'Nitn', 'address': 'sangola'}

In [14]:
# creates multiple keys from iterables like list, tuple and set and
# Assigns the val to all keys
dd = dict()
l = [10,20]
val = 100

dd.fromkeys(l, val)

{10: 100, 20: 100}

In [50]:
print(dict1['name'])
print(dict1['mobile'])
print(dict1['job'])
print(d)
d[3]

Nitn
9975923975
Data Scientist
{1: 'Chetan', 2: 'Kaviraj', 3: 'Sai', 4: 'Pooja'}

'Sai'

In [51]:
print(len(dict1))

len(d)

6

4

In [52]:
print(type(dict1))
type(d)

<class 'dict'>

dict

In [53]:
# accesing elemnts

print(dict1['salary'])

s = dict1.get('job')
print(s)
dict1['address']
dict1.get('salary')


print(d[2])
r = d.get(3)
print(r)

550000.2
Data Scientist
Kaviraj
Sai

In [55]:
print(dict1.keys())
print(dict1.values())

dict_keys([1, 'salary', 'mobile', 'address', 'name', 'job'])
dict_values([10000, 550000.2, 9975923975, 'sangola', 'Nitn', 'Data Scientist'])

In [62]:


# add new item
dict1['c_address'] = 'Pune'


dict1['alt_mo'] = 7778778899
print(dict1.keys())
print(dict1.values())



dict1['email'] = "nitin@gmail.com"

print(dict1.keys())
print(dict1.values())

d[4] = 'd'

print(d)

dict_keys([1, 'salary', 'mobile', 'email', 'address', 'name', 'job', 'c_address', 'alt_mo'])
dict_values([10000, 550000.2, 9975923975, 'nitin@gmail.com', 'sangola', 'Nitn', 'Data Scientist', 'Pune', 7778778899])
dict_keys([1, 'salary', 'mobile', 'email', 'address', 'name', 'job', 'c_address', 'alt_mo'])
dict_values([10000, 550000.2, 9975923975, 'nitin@gmail.com', 'sangola', 'Nitn', 'Data Scientist', 'Pune', 7778778899])
{1: 'Chetan', 2: 'Kaviraj', 3: 'Sai', 4: 'd'}

In [63]:
# values
print(dict1.values())

dict_values([10000, 550000.2, 9975923975, 'nitin@gmail.com', 'sangola', 'Nitn', 'Data Scientist', 'Pune', 7778778899])

In [66]:
dict1.items()
#print(d)
#d.items()

dict_items([(1, 10000), ('salary', 550000.2), ('mobile', 9975923975), ('email', 'nitin@gmail.com'), ('address', 'sangola'), ('name', 'Nitn'), ('job', 'Data Scientist'), ('c_address', 'Pune'), ('alt_mo', 7778778899)])

In [68]:
#print(dict1.items())
#print(dict1)
print(d)

5 in d

{1: 'Chetan', 2: 'Kaviraj', 3: 'Sai', 4: 'd'}

False

In [71]:
print('job' in dict1)

True

In [73]:
# change value
#print(dict1)
dict1['height'] = 180
print(dict1)
dict1['height'] = 170
print(dict1)
print(d)
d[3] = 'cc'
d.values()

{1: 10000, 'salary': 550000.2, 'mobile': 9975923975, 'email': 'nitin@gmail.com', 'address': 'sangola', 'name': 'Nitn', 'job': 'Data Scientist', 'c_address': 'Pune', 'height': 180, 'alt_mo': 7778778899}
{1: 10000, 'salary': 550000.2, 'mobile': 9975923975, 'email': 'nitin@gmail.com', 'address': 'sangola', 'name': 'Nitn', 'job': 'Data Scientist', 'c_address': 'Pune', 'height': 170, 'alt_mo': 7778778899}
{1: 'Chetan', 2: 'Kaviraj', 3: 'cc', 4: 'd'}

dict_values(['Chetan', 'Kaviraj', 'cc', 'd'])

In [77]:
# update
#print(dict1)
#dict1.update({'frined':'rahul',
#            'city':'Indapur'})
#print(dict1)

print(d)
d.update({
    1: 'apple',
    6: 'f'
})

print(d.items())

{1: 'cherry', 2: 'Kaviraj', 3: 'cc', 4: 'd', 5: 'e'}
dict_items([(1, 'apple'), (2, 'Kaviraj'), (3, 'cc'), (4, 'd'), (5, 'e'), (6, 'f')])

In [109]:
print(type(dict1))

<class 'dict'>

In [110]:
# Remove item
#print(dict1)
#dict1.pop('c_address')
#print(dict1)
#dict1.popitem()
#print(d)
#d.popitem()

In [111]:
# del can remove items as well as removes the dictionary
print(dict1)
#del dict1['job']
print(dict1)
#del dict1

d[1] = 'a'
d[2] = 'b'
d[3] = 'c'
print(d)

del d[3]
d.items()

{'mobile': 9975923975, 1: 10000, 'job': 'Data', 'salary': 550000.2, 'address': 'sangola', 'alt_mo': 7778778899, 'name': 'Nitn', 'c_address': 'Pune', 'email': 'nitin@gmail.com', 'height': 180}
{'mobile': 9975923975, 1: 10000, 'job': 'Data', 'salary': 550000.2, 'address': 'sangola', 'alt_mo': 7778778899, 'name': 'Nitn', 'c_address': 'Pune', 'email': 'nitin@gmail.com', 'height': 180}
{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

dict_items([(1, 'a'), (2, 'b'), (4, 'd'), (5, 'e')])

In [112]:
# clear() method and del keyword are used to remove and empty the dict

print(dict1)
dict1.clear()
print(dict1)

{'mobile': 9975923975, 1: 10000, 'job': 'Data', 'salary': 550000.2, 'address': 'sangola', 'alt_mo': 7778778899, 'name': 'Nitn', 'c_address': 'Pune', 'email': 'nitin@gmail.com', 'height': 180}
{}

In [113]:
# copy dictionary

dict_1 = dict1 # this is reference to your dict not copy of dict1
print(dict1)
print(dict_1)

dict_1['mobile'] = 9975923975 # added to dict_1 , same reflected in dict1
print(dict1)

{}
{}
{'mobile': 9975923975}

In [114]:
# copy() method

print(dict1)
dict2 = dict1.copy()
dict2['random'] = 'val'
print(dict2) # random added 
print(dict1) # not reflected in dict1

{'mobile': 9975923975}
{'mobile': 9975923975, 'random': 'val'}
{'mobile': 9975923975}

In [115]:
# dict() for copy

dict3 = dict(dict1)
print(dict3)

{'mobile': 9975923975}

In [15]:

grandson = {
    'g_name':'Grand_son_name'
}
son = {
     's_key' : grandson,
    's_name': 'Son_name',
}


parent = {
    'p_key' : son,
    'p_name': 'Parent_name',
    
         }


family = {
    'f_key' : parent, 
}

print(family)

{'f_key': {'p_name': 'Parent_name', 'p_key': {'s_name': 'Son_name', 's_key': {'g_name': 'Grand_son_name'}}}}

In [25]:
family['f_key']['p_key']['s_name']

'Son_name'

In [18]:
family['f_key']['p_name']
list_n = ['sai', "kaviraj", family]
list_n[2]['f_key']['p_key']['s_key']['g_name']

'Grand_son_name'

In [4]:
# access parent directory
family['f_key']

{'p_key': {'s_key': {'g_name': 'Grand_son_name'}, 's_name': 'Son_name'},
 'p_name': 'Parent_name'}

In [119]:
# access child directory
family['f_key']['p_key']

{'s_key': {'g_name': 'Grand_son_name'}, 's_name': 'Son_name'}

In [120]:
# access grand child
family['f_key']['p_key']['s_key']

{'g_name': 'Grand_son_name'}

In [121]:
family['f_key']['p_key']['s_key']['g_name']

'Grand_son_name'

# Operators

Python operators:

    1. Arithmetic operators
    2. Assignment operators
    3. Comparison operators
    4. Logical operators
    5. Identity operators
    6. Membership operators
    7. Bitwise operators

In [122]:
# 1. Arithmetic operators

1. + Addition x + y
2. - Subtraction x - y 
3. * Multiplication x * y 
4. / Division x / y 
5. % Modulus x % y 
6. ** Exponentiation x ** y 
7. // Floor division x // y

In [27]:
# addition
print('***Addition***')
var1 = 10.20
var2 = 20.20
res = var1 + var2
print('sum: \t',res)

print('***Sustraction***')
var1 = 10.20
var2 = 20.20
res = var2 - var1
print('Substraction: \t',res)

print('***Multiplication***')
var1 = 10.20
var2 = 20.20
res = var1 * var2
print('Mul: \t',res)


print('***Division***')
var1 = 10.0
var2 = 20.20
res = var2 / var1
print('Div: \t',res)

print('Modulus:') # Remider after division
var1  = 4.5
var2 = 2
res = var1 % var2
print("Mod:",res)
print('Exponent:')
var1 = 8
var2 = 10
res = var1 ** var2
print("Exponent: ",res)
print('Floor Divion:')
var1  = 4.5
var2 = 2

res = var1 // var2
print("Floor Division:",res)

***Addition***
sum: 	 30.4
***Sustraction***
Substraction: 	 10.0
***Multiplication***
Mul: 	 206.04
***Division***
Div: 	 2.02
Modulus:
Mod: 0.5
Exponent:
Exponent:  1073741824
Floor Divion:
Floor Division: 2.0

In [23]:
4.5 % 2

0.5

# 2. Assignment Operators

1.  =, x = 5, x = 5 
2. +=,x += 4,  x = x + 4
3. -=, x -= 5, x = x - 5 
4. *= x *= 8 x = x * 8 
5. /= x /= 7 x = x / 7 
6. %= x %= 5 x = x % 5 
7. //= x //= 3 x = x // 3 
8. **= x **= 2 x = x ** 2
9. &= x &= 2 x = x & 2
10. |= x |= 2 x = x | 2
11. ^= x ^= 4 x = x ^ 4
12. >>= x >>= 4 x = x >> 4
13. <<= x <<= 5 x = x << 5

In [124]:
var = 55
print(var)
var += 10    # var = var + 10
print(var)

var -= 10   # var = var -10, var=20, var = 20-10, var = 10 
print(var)

var *= 10   
print(var)


var /= 10   
print(var)


var %= 10   
print(var)


var //= 10   
print(var)

var = 5

var **= 3   
print(var)

55
65
55
550
55.0
5.0
0.0
125

In [29]:
x = 22

print("Initial val of x is : ",x)
x += 10
print('After addition:',x)
x -= 5
print("After substraction:",x)
x **= 2 # x = x**2
print('AFter exponent:',x)

Initial val of x is :  22
After addition: 32
After substraction: 27
AFter exponent: 729

In [126]:
# 3. Comparison Operators

1. == Equal x == y
2. != Not equal x != y
3. > Greater than x > y
4. < Less than x < y 
5. >= Greater than or equal to x >= y 
6. <= Less than or equal to x <= y

In [127]:
a = 20
b = 10

print(a == b)

print(a != b)

print(a > b)

print(a < b)

print(a >= b)

print(a <= b)

False
True
True
False
True
False

In [128]:
# 4. Logical Operators

1. or Returns True if one of the statements is true x < 5 or x < 4

2. not Reverse the result, returns False if the result is true 
3. and(x < 5 and x < 10)

In [32]:
# Dist- above 75 %, 1st - above 67 to less than equal 75 
print("and Oprerator:\n\n")

score = 66
print("Dictinction:")
print(score > 75)

print("First Class:")
print(score > 67 and score<= 75)

print("2nd Class:")

print(score <= 67 and score > 58)

print("or operator:\n\n")
var1 = 10 
var2 = 5
print(var1<5 or var2>10)


print('not operator:\n\n')
var1 = 10 
var2 = 5
print(not (var1<5 or var2>10))
print(not (var1>5))
var1<5 or var2>10

and Oprerator:


Dictinction:
False
First Class:
False
2nd Class:
True
or operator:


False
not operator:


True
False

False

In [130]:
# 5. Identity Operators

is  Returns True if both variables are the same object x is y

is not Returns True if both variables are not the same object x is not y

In [37]:
x = 20
y = 20


print("X id is:",id(x))
print("y id is:",id(y))
print(x is not y)


x = 10.10
y = 10.10
# y = x


print("X id is:",id(x))
print("y id is:",id(y))
print(x is y)

X id is: 10894976
y id is: 10894976
False
X id is: 140141668944560
y id is: 140141668944752
False

In [132]:
# 6. Membership Operators

1. in Returns True if a sequence with the specified value is present in the object x in y
2. not in Returns True if a sequence with the specified value is not present in the object x not in y

In [133]:
rollno = [1,2,3,4,5]

print(4 in rollno)

print(6 not in rollno)

print(5 not in rollno)

True
True
False

In [134]:
# 7. Bitwise Operators

1. &  AND Sets each bit to 1 if both bits are 1
2. | OR Sets each bit to 1 if one of two bits is 1
3. ^ XOR Sets each bit to 1 if only one of two bits is 1
4. ~  NOT Inverts all the bits
5. << Zero fill left shift,it Shift left by pushing zeros in from the right and let the leftmost bits fall off
6. >> Signed right shift,it Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

                256  128  64  32  16   8  4  2  1 
                                          0  0  0 = 0
                                          0  0  1 = 1
                                          0  1  0 = 2
                                          0  1  1 = 3
                                          1  0  0 = 4
                                          1  0  1 = 5
                                          1  1  0 = 6
                                          1  1  1 = 7
                                        
                                          
                                          Right Shift by 2 bits
                                          1  0  0 = 4
                                          
                                          0  1  0 = 2
                                          0  0  1 = 1
                                         
                                          
                                          Left shift by 2 bits
                                          1  1  1
                                        1 1  1  0 = 14
                                     1  1 1  0  0 = 28

In [50]:
x = 4        # 1 0 0
y = 5        # 1 0 1
z = x & y    # 1 0 0 = 4
print("Bitwise and ")
print(z)

x = 4        # 1 0 0
y = 5        # 1 0 1
z = x | y    # 1 0 1 = 5
print('Bitwise or')
print(z)

print('Bitwise XOR')
x = 4        # 1 0 0
y = 5        # 1 0 1
z = x ^ y    # 0 0 1 = 1

print('Bitwise NOT')
x = 4       # 1 0 0   [(4 * -1) -1]
print(~x)

x = 7
z = x << 2
print("Left Shift:\n")
print(z)

x = 4
z = x >> 2
print("Right Shift:\n")
print(z)

print("\n",oct(x))
print("\n",hex(x))

Bitwise and
4
Bitwise or
5
Bitwise XOR
Bitwise NOT
-5
Left Shift:

28
Right Shift:

1

 0o4

 0x4

# Conditional Statements & Loops

Conditional Statements:
 they based on some logical condition:
 
1. If ... Else
2. If..elif...Else

Loops:
We do some task repeatedly

3. While Loops
4. For Loops

In [3]:
# a>b
x = 10
y = 20
# find largest number

print(x > y)
      #10 > 20 --False

if x > y:
    #Indentation
    print("The number x is greater than y")
else:
    print("The number Y is greater than X")

False
The number Y is greater than X

In [4]:
# a>b, a==b, a<b

x = 20
y = 30

if x > y:
    #Indent
    print("x is larger")
elif x == y:
    print("x and y are equal")
else:
    print('y is greater than x')

y is greater than x

In [138]:
# short hand if a > b: print("a is greater than b")

x = 10
y = 20

if y > x: print("y is greater number")

y is greater number

In [8]:
# short hand if else print("A") if a > b else print("B") 

x = 10
y = 20

print("x is greater") if x > y else print("y is greater")

y is greater

# you can add more conditions here in if else

write a python program which will take percentage as input from 
user and returns its grade (dist, first class, 2nd class, pass class)

In [17]:
# how to take input from user
val = 10
#val = input("ENter the value")
val_2 = int(val)
print("Percentage is :",val_2)

if val_2 > 75:
    print("You have ditinction")
elif val_2 > 60 and val_2 <= 75:
    print("You have first class")
else:
    print('You are fail')

Percentage is : 10
You are fail

In [140]:
# write more than one conditions use and and or

In [141]:
# nested if .. else

x = 150
if x > 100:
    if x > 150:
        print("Number is greater than 100 and 150")
    elif x ==150:
        print("Number is equal to 150")
    else:
        print("number is greater than 100 and less than 150")
elif x == 100:
    print("Number is equal to 100")
else:
    print("Number is less than 100")

Number is equal to 150

In [19]:
# pass staement

x = 10
y = 20

if y > x:
    pass

# while Loop


Syntax;

while (condition):
    # statements
    # statements
    # statements

In [2]:
# print series of numbers
x = 1
while x<=100:
    print(x)
    print('Kaviraj')
    x = x + 1

1
Kaviraj
2
Kaviraj
3
Kaviraj
4
Kaviraj
5
Kaviraj
6
Kaviraj
7
Kaviraj
8
Kaviraj
9
Kaviraj
10
Kaviraj
11
Kaviraj
12
Kaviraj
13
Kaviraj
14
Kaviraj
15
Kaviraj
16
Kaviraj
17
Kaviraj
18
Kaviraj
19
Kaviraj
20
Kaviraj
21
Kaviraj
22
Kaviraj
23
Kaviraj
24
Kaviraj
25
Kaviraj
26
Kaviraj
27
Kaviraj
28
Kaviraj
29
Kaviraj
30
Kaviraj
31
Kaviraj
32
Kaviraj
33
Kaviraj
34
Kaviraj
35
Kaviraj
36
Kaviraj
37
Kaviraj
38
Kaviraj
39
Kaviraj
40
Kaviraj
41
Kaviraj
42
Kaviraj
43
Kaviraj
44
Kaviraj
45
Kaviraj
46
Kaviraj
47
Kaviraj
48
Kaviraj
49
Kaviraj
50
Kaviraj
51
Kaviraj
52
Kaviraj
53
Kaviraj
54
Kaviraj
55
Kaviraj
56
Kaviraj
57
Kaviraj
58
Kaviraj
59
Kaviraj
60
Kaviraj
61
Kaviraj
62
Kaviraj
63
Kaviraj
64
Kaviraj
65
Kaviraj
66
Kaviraj
67
Kaviraj
68
Kaviraj
69
Kaviraj
70
Kaviraj
71
Kaviraj
72
Kaviraj
73
Kaviraj
74
Kaviraj
75
Kaviraj
76
Kaviraj
77
Kaviraj
78
Kaviraj
79
Kaviraj
80
Kaviraj
81
Kaviraj
82
Kaviraj
83
Kaviraj
84
Kaviraj
85
Kaviraj
86
Kaviraj
87
Kaviraj
88
Kaviraj
89
Kaviraj
90
Kaviraj
91
Kaviraj
92
Kaviraj
93
Kaviraj
94
Kaviraj
95
Kaviraj
96
Kaviraj
97
Kaviraj
98
Kaviraj
99
Kaviraj
100
Kaviraj

In [23]:
# break statement

x = 0
while x < 100:
    print(x)
    if x == 50:
        break
    x += 2

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [30]:
# Continue stmt


x = 0
while x < 100:
    
    if x == 50 or x == 99:
        x += 1
        print("I am printing")
        continue
         
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
I am printing
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
I am printing

In [146]:
# else below while

x = 0
while x < 100:
    
    if x == 50:
        x += 1
        continue
                
    print(x)
    x += 1
else:
    print("There is no more statement to execute")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
There is no more statement to execute

In [147]:
# while on list and tuple

list1 = ["mango","cherry","papaya","bluberry","apple","banana"]

print(list1)

print("while on List:-")

x = 0
while x < len(list1):
    print(list1[x])
    x += 1

['mango', 'cherry', 'papaya', 'bluberry', 'apple', 'banana']
while on List:-
mango
cherry
papaya
bluberry
apple
banana

In [148]:
tup = ["mango","cherry","papaya","bluberry","apple","banana"]

print(tup)

print("while on Tuple:-")

x = 0
while x < len(tup):
    print(tup[x])
    x += 1

['mango', 'cherry', 'papaya', 'bluberry', 'apple', 'banana']
while on Tuple:-
mango
cherry
papaya
bluberry
apple
banana

# For Loop

for iterates over a list, tuple, set, dict and string

In [32]:
# list

list1 = ["mango","cherry","papaya","bluberry","apple","banana"]

print(list1)

print("for on list:-")

for x in list1:
    print(x)

['mango', 'cherry', 'papaya', 'bluberry', 'apple', 'banana']
for on list:-
mango
cherry
papaya
bluberry
apple
banana

In [34]:
# String

str1 = "This is pythoin"

print(str1)

print("for on str1:-")

for x in str1:
    print(x)

This is pythoin
for on str1:-
T
h
i
s

i
s

p
y
t
h
o
i
n

In [151]:
# Tuple

tup = ("mango","cherry","papaya","bluberry","apple","banana")

print(tup)

print("for on Tuple:-")

for x in tup:
    print(x)

('mango', 'cherry', 'papaya', 'bluberry', 'apple', 'banana')
for on Tuple:-
mango
cherry
papaya
bluberry
apple
banana

In [37]:
# Dict

dict1 = {
    'name' : 'Nitn',
    'mobile' : 9975923975,
    'address' : 'sangola',
    'job' : 'Data',
    'salary' : 550000.20,
    1 : 10000
    
}

print(dict1)

print("for on dict printing keys:")
for x in dict1:
    print(x)
    
print("for on dict printing keys:")
for x in dict1.keys():
    print(x)
    
print("for on dict printing values:")
for x in dict1.values():
    print(x)

print("for on dict printing values:")
for x,y in dict1.items():
    print("(",x,",",y,")")

{'name': 'Nitn', 'salary': 550000.2, 1: 10000, 'job': 'Data', 'address': 'sangola', 'mobile': 9975923975}
for on dict printing keys:
name
salary
1
job
address
mobile
for on dict printing keys:
name
salary
1
job
address
mobile
for on dict printing values:
Nitn
550000.2
10000
Data
sangola
9975923975
for on dict printing values:
( name , Nitn )
( salary , 550000.2 )
( 1 , 10000 )
( job , Data )
( address , sangola )
( mobile , 9975923975 )

In [42]:
# set

set1 = {"mango","cherry","papaya","bluberry","apple","banana"}

print(set1)

print("for on set:-")

for x in set1:
    print(x)

{'banana', 'apple', 'papaya', 'bluberry', 'cherry', 'mango'}
for on set:-
banana
apple
papaya
bluberry
cherry
mango

# range

returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), 
and ends at a specified number

In [154]:
#for i in range(10):

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [155]:
# range(1,10)- starting from 1, to 9, exclude 10

for i in range(20,30):
    print(i)

20
21
22
23
24
25
26
27
28
29

In [44]:
# range(10,100,5)

for i in range(100,200,10):
    print(i)

100
110
120
130
140
150
160
170
180
190

In [157]:
# else in for

for i in range(100,200,10):
    print(i)
else:
    print("There is nothing to print in for now")

100
110
120
130
140
150
160
170
180
190
There is nothing to print in for now

In [158]:
# take two list or tuples and use nested for loop

In [159]:
#wrinting and removing every third element from a list

list1 = [10,20,30,40,50,60,70,80,90]

print("list is :",list1)
index = 0
pos = 3-1
l = len(list1)
while l>0:
    index = (pos + index) % l
    print(list1.pop(index))
    l = l - 1

list is : [10, 20, 30, 40, 50, 60, 70, 80, 90]
30
60
90
40
80
50
20
70
10

# Create a interger list by taking iunput from user

list1 = []

list_size = input("Enter the size of list: ")
lsize = int(list_size)

while lsize > 0:
    val = input("Enter the value: ")
    val1 = int(val)
    list1.append(val1)
    lsize -= 1

print("The created list is: ",list1)

tup = ()

tup_size = int(input("Enter the size of tuple"))
list1 = list(tup)

while tup_size>0:
    
    val = int(input("Enter the vale:"))
    
    list1.append(val)
    tup_size = tup_size -1

tup = tuple(list1)
   
print(tup)

s = set({})

set_size = int(input("Enter the size of set:"))

while set_size>0:
    val = input("Enter the value: ")
    s.add(val)
    set_size -= 1
print("Created set is : ",s)

# Assignment

*
* *
* * *
* * * *
* * * * *
* * * * * *

write a python program to print above structure.

# Assignment
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

write a python program to print stars as shown above.

# Function

1. function is a block of statement which will get executed when 
we call that fuction.

#create a data of 5 students containing first name and last name
list1 = []


def StudDetails():# definition of a function
    for i in range(0,3):
        fname = input("Enter the first name: ")
        lname = input("Enter the last name: ")
        print("name of student is : ", fname, " ",lname)
        name = fname + lname
        list1.append(name)

print("Making a call to function: ")

StudDetails() # calling a function

print("List of the students: ",list1)

In [2]:
def add():
    x = int(input("Enter 1st Number"))
    y = int(input("Enetr 2nd Number"))
    sum = x + y
    print("The addition is",sum)

add()
add()

Enter 1st Number10
Enetr 2nd Number20
The addition is 30
Enter 1st Number30
Enetr 2nd Number40
The addition is 70

2## def register_student():
    name = input('Enter name')
    sname = input('Enter surname')
    tenth = float(input('Enter 10th percentage'))
    twelth = float(input('Enter 12th percentage'))
    mobile = int(input('Enter mobile number'))
    
    print(name,"\n",sname,"\n",tenth,"\n",twelth,"\n",mobile)

for i in range(0,3):
    register_student()

In [5]:
print("Here this is normal execution block")

def Myfun():
    print("I am inside the function..!")

print("Calling my function..")
Myfun()
print("function execution is over")

Here this is normal execution block
Calling my function..
I am inside the function..!
function execution is over

In [8]:
# Arguments

def MyName(v):
    print(v)
    

val = "Nitin Khot"
MyName(val)

Nitin Khot

In [9]:
# return values

def Add(x,y):
    ad = x + y
    return ad

print("Do addition using function:")
a = 100
b = 200

result = Add(a,b)

print("Addition is :",result)

Do addition using function:
Addition is : 300

In [163]:

def Multiply(a,b):
    m = a * b
    return m

print("Do multiplication")

x = 10
y = 20

res = Multiply(x,y)

print("Multiplication is : ",res)

Do multiplication
Multiplication is :  200

In [14]:
# UNKNOWN PARAMETERS
def my_function(*letter):
  print("The letter at 2nd loc is  ",letter)

my_function("A", "B", "C","D","E")

The letter at 2nd loc is   ('A', 'B', 'C', 'D', 'E')

In [15]:
# argument as key value pair where order does not matter
def my_function(child2, child3, child1):
  print("The youngest child is ", child1)

my_function(child1 = "sam", child2 = "mac", child3 = "kat")

The youngest child is  sam

In [17]:
# if dont know number of para then add ** before identifier
def my_function(**name):
  print("His last name is ",name['fname'])

my_function(fname = "Nitin", lname = "Khot")

His last name is  Nitin

In [167]:
def AltEmail(email = "deafault@email.com"):
    print("Alternate email is : ",email)

print("Alternate email of student:")

AltEmail("abc@gmail.com")
AltEmail("a@b.com")
AltEmail()

Alternate email of student:
Alternate email is :  abc@gmail.com
Alternate email is :  a@b.com
Alternate email is :  deafault@email.com

# write a program to swap any two values from a list using 
# function Swap()
input:
list1 = [1,2,3,7,4,5,8,10]
output:
list1 = [1,2,10,7,4,5,8,3]

# pass list as arument and get the sum of list
list1 = [1,2,3,7,4,5,8,10]

# pass tuple and count numbe of element in tuple

tup = (1,2,3,7,4,5,8,10)

## Lambda Function

1. lambda is a small anonymous function.

2. lambda function can take any number of arguments, 
but can only have one expression.

Syntax:

lambda arguments : expression


Why Lambda?

Lambda is anonymous and small function but it is very powerful.
we can know its power if we use it inside other function

In [18]:
# a lambda function which takes an argument and returns a square of 
# that number 

# obj = lambda arg1,arg2 : <expression>      
# ex. arg1 + arg2
square = lambda a: a ** 2

print("Square of 4 is: ")

print(square(4))

print("Square of 10 is: ")
square(10)

Square of 4 is:
16
Square of 10 is:

100

In [169]:
# Any number of arguments

add = lambda a,b,c,d : a + b + c + d

print("Add four numbers: 2,3,4 and 5: Sum is:")

add(12,13,40,15)

Add four numbers: 2,3,4 and 5: Sum is:

80

In [170]:
# why lambda is powerful?

# use it lambda inside another function 
# lets understand that it is added with some other unknown number

def myfun(n):
    print("Value of N is :",n)
    
    return (lambda a : a * n)

# add 10 with other number which is unknown
# myfunc(10) # this will not give any result as it will be multiplied with none

# now call our lambda function inside other function

# myfun(10)

otherfun = myfun(5)

# otherfun = lambda a : a * 5
# otherfun(20)
# square = lambda a: a ** 2
# square(10)

print(otherfun(20))

# you can create calling function in many ways

#otherfun_1 = myfun(10)
#print(otherfun_1(20))

Value of N is : 5
100

## Python Class

In python everything is object, which has its properties and methods / function

Python is object oriented programming language.

class is blueprint of an object, from which objects can be created.

syntax:

class ClassName:
    class body
    
 
More details:

Class creates a user-defined data structure, which holds its own data members and member functions, which can be accessed and used by creating an instance of that class. A class is like a blueprint for an object.

Some points on Python class:  

    Classes are created by keyword class.
    Attributes are the variables that belong to a class.
    Attributes are always public and can be accessed using the dot (.) operator. Eg.: Myclass.Myattribute

In [171]:
# create a class student
class Stud:
    name = "Nitin"

In [172]:
# create object of class student

s1 = Stud()

s = Stud()

print(s1.name)

Nitin

In [2]:
# How the real class works

# __init__() Function

# 1. All classes will have a method called __init__()
# 2. This function gets called when an object is being created.
# 3. This function is used to assign the values to the properties of 
#    the class
# 4. It means that, we can do all operations which are neccessary 
#    to do at the time of the object creation.
# 5. __init__() method get called automatiucally when an object is 
#    initiated


class Student:
  def __init__(self, name_1, clas_1, rollno_1):
    self.name = name_1
    self.clas = clas_1
    self.rollno = rollno_1

s = Student('Smita','MCA','10')
    
k = Student("Kaviraj", "BE-Comp", 13) # object creation
v = Student("Sai", "BE-Civil", 2)
n = Student("Nitin", "BE-Comp", 14)

print(s.name,' ',s.clas,' ',s.rollno)
print(k.name," ",k.clas," ", k.rollno)
print(v.name," ",v.clas," ", v.rollno)
print(n.name," ", n.clas, " ",n.rollno)

Smita   MCA   10
Kaviraj   BE-Comp   13
Sai   BE-Civil   2
Nitin   BE-Comp   14

In [20]:
# methods in class
# self:
# self is default parameter to be used to access 
# the values in current object
# we can give any name instead of the self but it has to be the 1st parameter



class Student:
    def __init__(self, name1, clas1, rollno1):
        self.name = name1
        self.clas = clas1
        self.rollno = rollno1
    
    def Display(self):
        print("Name of student is: ",self.name)
        print("Clas of student is: ",self.clas)
        print("Roll No of the students: ",self.rollno)

  

r = Student("Rahul", "BE", 13)
v = Student("Vaibhav","BE-Mech", 2)

r.Display()
print("Vaibhav Details:")
v.Display()

Name of student is:  Rahul
Clas of student is:  BE
Roll No of the students:  13
Vaibhav Details:
Name of student is:  Vaibhav
Clas of student is:  BE-Mech
Roll No of the students:  2

In [3]:
# accessing values and modifying it



class Student:
    def __init__(self, name, clas, rollno, city):
        self.name = name
        self.clas = clas
        self.rollno = rollno
        self.city = city
    
    def Display(self):
        print("Name of student is: ",self.name)
        print("Clas of student is: ",self.clas)
        print("Roll No of the students: ",self.rollno)
        print('City of the student: ',self.city)
      
    
    def ChangeName(self,ch_city):
        self.city = ch_city
        print("\n")
        print("Calling Display from ChangeName():\n ")
        self.Display()

  

r = Student("Rahul", "BE", 13, 'pune')

r.Display()

ct = "Solapur"

r.ChangeName(ct)

Name of student is:  Rahul
Clas of student is:  BE
Roll No of the students:  13
City of the student:  pune


Calling Display from ChangeName():

Name of student is:  Rahul
Clas of student is:  BE
Roll No of the students:  13
City of the student:  Solapur

## Inheritance

Inhritance is a property of OO Language that allows a class to derive properties of other/parent class 
Parent / Base class:
It is the class which gets inherited

Derived / Child Class:
It is the class which inherits properties from other class or parent class

In [2]:
# Base class
class Person:
    def __init__(self, fname, lname):
        self.fname = fname
        self.lname = lname
    
    def Display(self):
        print("First Name : ",self.fname)
        print("Last Name : ",self.lname)
    
r = Person("Rahul","Mohite") # Creation an object

print(r.fname) 
print(r.lname)

r.Display()

Rahul
Mohite
First Name :  Rahul
Last Name :  Mohite

In [177]:

# child class
class Student(Person):
    pass

s = Student("Nitin","Khot")

s.Display()

First Name :  Nitin
Last Name :  Khot

In [178]:
# add init method, How does it overrides the init method of base class
# using class name and super() method
# Overriding base class Init method

class Student(Person):
  def __init__(self, fname, lname,mob):
    self.fname = fname
    self.lname = lname
    self.mob = mob

s1 = Student("Vaibhav", "Bandal", 9975992)
s1.Display()

First Name :  Vaibhav
Last Name :  Bandal

In [179]:
# Add other properties to child class

class Student(Person):
  def __init__(self, fname, lname, clas):
    Person.__init__(self, fname, lname)
    self.clas = clas
    
  def Display_Stud(self):
    print("First name: ",self.fname)
    print("Last name: ",self.lname)
    print("Clas: ",self.clas)
    
    
s1 = Student("Vaibhav", "Bandal", "BE-Computer")
s1.Display_Stud()

First name:  Vaibhav
Last name:  Bandal
Clas:  BE-Computer

## Iterator in Python

Iterator are used to traverse the iterables: like List, Tuple, Set and Dictionary.

Iterator has countable number of values

Iterator are used to traverse through the values one by one

It has two methords __iter__() and __next__()    

iter() method is used to get an iterator over iterables like string,list,tuple,set and dictionary

In [3]:
# example of list 
tup = (10,20,30,40,50)

print(type(tup))

itr = iter(tup) # create an iterator object

print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))

<class 'tuple'>
10
20
30
40
50

In [6]:
# Iterator on string

string = "I love python"

itr = iter(string)

print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))


# for loop
print("Iterations using for loop:")
for x in string:
    print(x)

I

l
o
v
e
Iterations using for loop:
I

l
o
v
e

p
y
t
h
o
n

In [182]:
# loop on iterables like list
# for loop internally creates an iterator object and then 
# it traverse using that object
list1 = [10,20,30,40,50,60]

for x in list1:
    print(x)

10
20
30
40
50
60

In [183]:
# How does for loop work on iterables

In [184]:
# use for loop for demonstration of __iter__() and __next()__

# Problem Under Consideration
# print a series of numbers from 1

class Counter:
    def __iter__(self):
        self.val = 1
        return self
      
    def __next__(self):
        x = self.val
        self.val += 1
        
        if x == 101:
            raise StopIteration
        
        return x

counter = Counter()

itr = iter(counter)


for x in itr:
    print(x)

    



# Use for loop on iterator

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

## Scope of variable

Two types of scope 1. Local and 2. Global

In [9]:
# nested functions and scope
z = 200 # global scope
def Myfun():
    
    def Display_z():
        print(z)
        pass
    z = 10 # local variable
    print(z)
    Display_z()
    Display(z)
    
def Display(x):
    print("Printing Outside scope",x)
    
print(z)
Myfun()

200
10
10
Printing Outside scope 10

In [186]:
# functions and Scope

In [187]:
# use of global keyword to declare global scope

z = 200 # global scope
def Myfun():
    
    def Display_z():
        print(z)
    z = 10 # local variable
    print(z)
    Display_z()
    Display(z)
    
def Display(x):
    global pi
    pi = 3.14
    print("Printing Outside scope",x)
    
print(z)
Myfun()
print(pi)

200
10
10
Printing Outside scope 10
3.14

## Modules

Module is a set of functions which is used to develop an application

It is a code library

# create a module

# create a mymodule.py file and write 

def Dsiplay:
    print("Hello this is Display method in mymodule")

    
# calling modules methods is:

import mymodule

# module_name.function()

mymodule.Display()

# It will give result as printed string in display.



# We can use variables in modules and can access them
# write below code in mymodule.py

person1 = {
  "name": "Sagar",
  "age": 32,
  "country": "Inida"
} 


# call module

import mymodule

Age = mymodule.person1['age']
print(Age)

In [11]:
# importing modules with alias name
# like
#  import mymodule as mm


# you can also use other built in modules like

import platform

op_sys = platform.system()

print(op_sys)

Linux

In [189]:
# importing using from mymodule import person1....

### Datetime

Datetime is not a pythons own data type, but we can import 
datetime module and can operate on it.

In [1]:
import datetime as dt
import datetime
x = datetime.datetime.now()
print(x)
# (year,month,day,hour,minutes,seconds,microseconds)

2022-04-16 20:05:01.315058

In [233]:

print(datetime.MAXYEAR)

9999

In [234]:
datetime.MINYEAR

1

In [2]:

x = datetime.datetime.now()

print(x.year)
print(x.month)
print(x.strftime("%m"))

2022
4
04

In [3]:
# datetime() class takes 3 mandatory paramters and hour,minute,seconds,
# microseconds and tzone as optional parameters.
# all takes defaulkt value of 0 and tzone takes none values as default
dt_ = dt.datetime(2021,11,15)

print(dt_)

2021-11-15 00:00:00

# details:

%a 	Weekday, short version 	Wed 	
%A 	Weekday, full version 	Wednesday 	
%w 	Weekday as a number 0-6, 0 is Sunday 	3 	
%d 	Day of month 01-31 	31 	
%b 	Month name, short version 	Dec 	
%B 	Month name, full version 	December 	
%m 	Month as a number 01-12 	12 	
%y 	Year, short version, without century 	18 	
%Y 	Year, full version 	2018 	
%H 	Hour 00-23 	17 	
%I 	Hour 00-12 	05 	
%p 	AM/PM 	PM 	
%M 	Minute 00-59 	41 	
%S 	Second 00-59 	08 	
%f 	Microsecond 000000-999999 	548513 	
%z 	UTC offset 	+0100 	
%Z 	Timezone 	CST 	
%j 	Day number of year 001-366 	365 	
%U 	Week number of year, Sunday as the first day of week, 00-53 	52 	
%W 	Week number of year, Monday as the first day of week, 00-53 	52 	
%c 	Local version of date and time 	Mon Dec 31 17:41:00 2018 	
%C 	Century 	20 	
%x 	Local version of date 	12/31/18 	
%X 	Local version of time 	17:41:00 	
%% 	A % character 	% 	
%G 	ISO 8601 year 	2018 	
%u 	ISO 8601 weekday (1-7) 	1 	
%V 	ISO 8601 weeknumber (01-53) 	01

### Python Math functions

In [255]:
#x = min(100,200,50)
#print(x)

no = min(1,5,10)
print(no)

1

In [211]:
x = max(100,200,50)
print(x)

200

In [213]:
# Returns absolute positive value
x = abs(-200)
#
print(x)

200

In [261]:
# Power function
x = pow(10,4)

print(x)

10000

## Math Module

In [275]:
import math as m

val = m.sqrt(100)
print("Square root:",val)

val = m.floor(100.23)
print("Floor:",val)

val = m.ceil(100.23)
print("Ceil:",val)

y = m.floor(11.4)
print(y)

z = m.ceil(20.4)
print(z)


eluers_no= m.e
print("Eluers Number: ",eluers_no)



p = m.pi

print("Pi : ",p) 

val = m.nan
print(type(val))
print(math.nan)

Square root: 10.0
Floor: 100
Ceil: 101
11
21
Eluers Number:  2.718281828459045
Pi :  3.141592653589793
<class 'float'>
nan

## JSON

JSON is a javascript object notation storing and exchanging data.

Python has built in package json

JSON to send data from a server to a web page

JSON stands for JavaScript Object Notation

JSON is a lightweight data interchange format

JSON is language independent 

JSON is "self-describing" and easy to understand


JSON Syntax Rules

    Data is in name/value pairs
    Data is separated by commas
    Curly braces hold objects { []....... }
    Square brackets hold arrays/list

In [5]:
import json

In [6]:
# Conversion of json to python
# json object

student = '{ "Name":"Rahul", "mobile": 9975923975, "city": "Pune", "email": "rahul@gmail.com" }'

print(type(student))

print(student)

stud = json.loads(student)

print(stud)

print(type(stud))

<class 'str'>
{ "Name":"Rahul", "mobile": 9975923975, "city": "Pune", "email": "rahul@gmail.com" }
{'city': 'Pune', 'email': 'rahul@gmail.com', 'Name': 'Rahul', 'mobile': 9975923975}
<class 'dict'>

In [38]:
# convert a dictionary to json object using json.dumps()

employee = {
    "Name": "Nitin",
    "emp_id": 101,
    "email": "a@b.com",
    "salary": 50000
}


print(type(employee))
print(employee)

# Access the dictionary

print(employee['emp_id'])


emp_json = json.dumps(employee)


print(emp_json[0])
print(type(emp_json))

print(emp_json)

<class 'dict'>
{'emp_id': 101, 'salary': 50000, 'Name': 'Nitin', 'email': 'a@b.com'}
101
{
<class 'str'>
{"emp_id": 101, "salary": 50000, "Name": "Nitin", "email": "a@b.com"}

In [41]:
# Aply on tuple

tup = ("Sagar",10,20,30,"Rahul")

print(type(tup))
print(tup)

# convert to json object

tup_json = json.dumps(tup)

print(type(tup_json))
print(tup_json)
# It will convert tuple into json's list

<class 'tuple'>
('Sagar', 10, 20, 30, 'Rahul')
<class 'str'>
["Sagar", 10, 20, 30, "Rahul"]

In [42]:
tup_json

'["Sagar", 10, 20, 30, "Rahul"]'

In [49]:
# test out same on other data types

import json

x = {
  "name": "Sagar",
  "age": 31,
  "vegeterian": True,
  "non_veg": False,
  "food": ("paneer","kabab"),
  "owns_chopper": None,
  "cars": [
    {"model": "kia-143", "mpg": 27.5},
    {"model": "tata", "mpg": 24.1},
      ("scoda","ford")
  ]
}

# l = x['cars']

# print(l)
# print(l[0])


#print(x['cars'])

x_json = json.dumps(x)

print(x_json)

print(type(x_json))

{"cars": [{"model": "kia-143", "mpg": 27.5}, {"model": "tata", "mpg": 24.1}, ["scoda", "ford"]], "owns_chopper": null, "vegeterian": true, "non_veg": false, "food": ["paneer", "kabab"], "age": 31, "name": "Sagar"}
<class 'str'>

When we convert python object to json then it will be like shown below:

1. dict 	Object
2. list 	Array
3. tuple 	Array
4. str 	String
5. int 	Number
6. float 	Number
7. True 	true
8. False 	false
9. None 	null

### Result Formatting

to make json more readable we can use some additional parameters like
indent=4, separators=(". ", " = ") ,sort_keys=True

In [50]:
import json

x = {
  "name": "Sagar",
  "age": 31,
  "vegeterian": True,
  "non_veg": False,
  "food": ("paneer","kabab"),
  "owns_chopper": None,
  "cars": [
    {"model": "kia-143", "mpg": 27.5},
    {"model": "tata", "mpg": 24.1}
  ]
}

print(json.dumps(x,indent=4))

{
    "cars": [
        {
            "model": "kia-143",
            "mpg": 27.5
        },
        {
            "model": "tata",
            "mpg": 24.1
        }
    ],
    "owns_chopper": null,
    "vegeterian": true,
    "non_veg": false,
    "food": [
        "paneer",
        "kabab"
    ],
    "age": 31,
    "name": "Sagar"
}

In [51]:
import json

x = {
  "name": "Sagar",
  "age": 31,
  "vegeterian": True,
  "non_veg": False,
  "food": ("paneer","kabab"),
  "owns_chopper": None,
  "cars": [
    {"model": "kia-143", "mpg": 27.5},
    {"model": "tata", "mpg": 24.1}
  ]
}

print(json.dumps(x, indent=4, separators=("-","= ")))

{
    "cars"= [
        {
            "model"= "kia-143"-
            "mpg"= 27.5
        }-
        {
            "model"= "tata"-
            "mpg"= 24.1
        }
    ]-
    "owns_chopper"= null-
    "vegeterian"= true-
    "non_veg"= false-
    "food"= [
        "paneer"-
        "kabab"
    ]-
    "age"= 31-
    "name"= "Sagar"
}

In [24]:
import json

x = {
  "name": "Sagar",
  "age": 31,
  "vegeterian": True,
  "non_veg": False,
  "food": ("paneer","kabab"),
  "owns_chopper": None,
  "cars": [
    {"model": "kia-143", "mpg": 27.5},
    {"model": "tata", "mpg": 24.1}
  ]
}

print(json.dumps(x, indent=4, separators=(",","= "), sort_keys= True))

{
    "age"= 31,
    "cars"= [
        {
            "model"= "kia-143",
            "mpg"= 27.5
        },
        {
            "model"= "tata",
            "mpg"= 24.1
        }
    ],
    "food"= [
        "paneer",
        "kabab"
    ],
    "name"= "Sagar",
    "non_veg"= false,
    "owns_chopper"= null,
    "vegeterian"= true
}

### RegEx or Regular Expression

RE is a special sequence of characters which helps you to match or find other patterns in a string, using special syntax

python has re module which gives way to work with regEx

In [54]:
import re

In [65]:
txt = "The python prohramming was devloped in 1991 by Guido Van Rossom"


x = re.search("^The.*Rossom$", txt)

# RegEx: ^The.*Rossom$
# ^ - start with 'The'
# . - Any character
# * - Any number of occurances
# $ - Ends with 'Rossom'

# x - Match Object

# Match Object
print(x.span())
# it returns the tuple(start, end) of the match object

print(x.start())
# It returns the start location of the match object

print(x.end())
# It returns the end location of match object

print(x.string)

# input string to match object

print(x.group())

# serch pattern which matched in a string

#print(x.span())
#print(x.start())
#print(x.end())
#print(x.string)
#print(x.group())


if x:
    print("Yes string starts with 'The' and Ends with 'Rossom'")
else:
    print("Doesn't have match")

(0, 63)
0
63
The python prohramming was devloped in 1991 by Guido Van Rossom
The python prohramming was devloped in 1991 by Guido Van Rossom
Yes string starts with 'The' and Ends with 'Rossom'

1. findall => Returns a list containing all matches

2. search => Returns a Match object if there is a match anywhere in the string

3. split => Returns a list where the string has been split at each match

4. sub =>     Replaces one or many matches with a string

In [72]:
# findall function returns the list of all matches
txt = "The python programming was devloped in 1991 by Guido Van Rossom"

x = re.findall("o",txt)

print(x)
print(len(x))

['o', 'o', 'o', 'o', 'o', 'o']
6

[1, 6, 1]

In [73]:
#program to find the list of words and its occurance in a string

def count_char():
    count = []
    import re
    l = ['The','o','python']
    txt = "The python programming was devloped in 1991 by Guido Van Rossom"
    for i in l:
        cnt = re.findall(i,txt)
        
        count.append(len(cnt))
    return count


count_char()

[1, 6, 1]

In [74]:
# search returns the first occurance of the match

txt = "The python proramming"
x = re.search("\python", txt)
# x is a match object
print("The first white-space character is located in position:", x.start())

<_sre.SRE_Match object; span=(4, 6), match='py'>
<_sre.SRE_Match object; span=(4, 6), match='py'>
The first white-space character is located in position: 4

In [75]:

txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [80]:
# spit function split the string using given pattern
txt = "The python programming was devloped in 1991"

x = re.split("\s",txt)

print(x)

['The', 'python', 'programming', 'was', 'devloped', 'in', '1991']

In [84]:
# split the string at its first occurance
txt = "The python programming was devloped in 1991"
x = re.split("\s", txt, 2)
print(x)

['The', 'python', 'programming was devloped in 1991']

In [89]:
# Sub function replaces the matches with the text of your choice
txt = "The python prohramming was devloped in 1991 by Guido Van Rossom"
x = re.sub("\s","-",txt)
print(x)

The-python-prohramming-was-devloped-in-1991-by-Guido-Van-Rossom

In [90]:
txt = "The python prohramming was devloped in 1991 by Guido Van Rossom"
x = re.sub("\s", "-", txt, 4)
print(x)

The-python-prohramming-was-devloped in 1991 by Guido Van Rossom

In [51]:
txt = "The python prohramming was devloped in 1991 by Guido Van Rossom"
x = re.search("\was", txt)
print(x.span())
print(x.start())
print(x.end())
print(x.string)
print(x.group())

(23, 26)
23
26
The python prohramming was devloped in 1991 by Guido Van Rossom
was

Special Characters:

Character 	Description 	Example
[] 	A set of characters 	"[a-m]"
\ 	Signals a special sequence (can also be used to escape special characters) 	"\d"
. 	Any character (except newline character) 	"he..o" 
^ 	Starts with 	"^hello" 
$ 	Ends with 	"planet$" 
* 	Zero or more occurrences 	"he.*o" 
+ 	One or more occurrences 	"he.+o" 
? 	Zero or one occurrences 	"he.?o" 
{} 	Exactly the specified number of occurrences 	"he{2}o" 
| 	Either or 	"falls|stays"

\A 	Returns a match if the specified characters are at the beginning of the string 	"\AThe"


\d 	Returns a match where the string contains digits (numbers from 0-9) 	"\d"

\D 	Returns a match where the string DOES NOT contain digits 	"\D"


\s 	Returns a match where the string contains a white space character 	"\s" 

\S 	Returns a match where the string DOES NOT contain a white space character 	"\S"

\w 	Returns a match where the string contains any word characters (characters from a to Z, digits from 0-9, and the underscore _ character) 	"\w" 	

\W 	Returns a match where the string DOES NOT contain any word characters 	"\W"

\Z 	Returns a match if the specified characters are at the end of the string 	"Spain\Z"

### Exception Handling in Python

Try:
    try block allow you to test a block of code for errors

Except:
    except block allow you to handle the error.

Finally:
    finally block allow you execute block of code.
    regardless of the try and except blocks


Error:
    syntax errors and exceptions.
      

Syntax errors:

also known as parsing errors, are perhaps the most common kind of complaint you get while you are still learning Python:

Exception:

Errors detected during execution are called exceptions

In [9]:
# while True print("Hello")
try:
    print('This is a statement')
    #prnt("Hi")
    print('This is a statement1111')
except SyntaxError:
    print('Ohh, Something is wrong')

This is a statement
This is a statement1111

In [1]:
# Errors detected during execution are called exceptions

l = [10,20,30]
#for x in range(0,4):
#    print(l[x])

10
20
30

IndexError: list index out of range

In [11]:
while True:
     try:
         x = int(input("Please enter a number: "))
         break
     except ValueError:
         print("Oops!  That was no valid number.  Try again...")

Please enter a number: gh
Oops!  That was no valid number.  Try again...
Please enter a number: 10

In [20]:
# ValueError 

try:
    print(value)

except IndexError:
    print("Variable Not Declared")
    
except NameError:
    print('This variable is not declared')

except:
    print("Some Error Occured")

This variable is not declared

In [23]:
# for i in range(0,6): else will get executed when there is no exception
try:
    ls = [10,20,3,0]
    for i in range(0,6):
        print(ls[i])
      
except:
  print("Something went wrong")

else:
  print("There was no error in try block")

10
20
3
0
Something went wrong

In [26]:
zz = 10
try:
  print(zz)
except:
  print("Something went wrong")
finally:
  print("This is finally bloack: to be executed mandatory")

Something went wrong
This is finally bloack: to be executed mandatory

In [28]:
# Raise an error and stop the program if x is lower than 0:
x = -1

if x < 0:
  raise Exception("Sorry, no numbers below zero")

Exception: Sorry, no numbers below zero

In [33]:
 x = "hello"

if not type(x) is int:
  raise TypeError("Only integers are allowed")

TypeError: Only integers are allowed

### String Formatting

format() method let you to format selected parts of a string

Sometimes there are parts of a text that you do not control, maybe they come from a database, or user input?

To control such values, add placeholders (curly brackets {}) in the text, and run the values through the format() method:

In [39]:
p = 100

text = "The value is {}"

print(text.format(p))


print("The values of p is {}".format(p))

fname = 'kaviraj'
lname = 'Arde'
print("Name is {} {}".format(fname, lname))

The value is 100
The values of p is 100
Name is kaviraj Arde

In [40]:
p = 100

text = "The value is {:.2f}"

print(text.format(p))

The value is 100.00

In [41]:
quantity = 3
itemno = 500
price = 70


print("I want {} pieces of item no {} for {:.2f} rupees".format(quantity,itemno,price))

I want 3 pieces of item no 500 for 70.00 rupees

In [42]:
quantity = 3
itemno = 500
price = 70

print("I want {0} pieces of item no {1} for {2:.2f} rupees".format(quantity,itemno,price))

I want 3 pieces of item no 500 for 70.00 rupees

In [46]:
age = 23
name = "Rahul"

txt = "His name is {0}. {0} is {1} years old."
print(txt.format(name,age))

His name is Rahul. Rahul is 23 years old.

In [47]:
brand = "Ford"
mod = "Mustang"

myorder = "I have a {carname}, it is a {model}."

print(myorder.format(model = mod,carname = brand))

I have a Ford, it is a Mustang.

### Python File Handling

File handling is an important concept in python.

Python has many functions for creating, reading, updating, and deleting files.

### Open File

The open() function:
    The open() function takes two parameters
    1. filename 2. mode of opening a file.

There are four different modes to open file:
    
    "r" = Read - Default value. opens in reading mode, 
                 gives error if file not exists

    "a" = Append Opens in appending mode, 
          Creates new file if it does not exist

    "w" = Write  Opens in writing mode, 
          Creates new file if it does not exist

    "x" = Create Creates the specified file, 
          Gives an error if the file already exists

In addition to these mode we also can specify the following modes:

"t" - Text - (Default value). Text mode

"b" - Binary - Binary mode (for images)

### Reading a file

Functions We Use to handle files:
    
    read()- To read files - read all contents 
    readline()- To read contents line by line
    close()- to close the file.
    f = f is a file handle

In [53]:
# ./files/sample.txt

f = open("./files/sample.txt","r")
print(f.read())

This is samle file1
This is samle file2
This is samle file3
This is samle file4
This is samle file5

This is new string added

In [12]:
# same as above
f = open("./files/sample.txt")

print(f.read())

This is samle file
This is samle file
This is samle file
This is samle file
This is samle file

In [58]:
# reading files in parts
# Reads first 10 chars

f = open("./files/sample.txt","r")

print(f.read(40))

This is samle file1
This is samle file2

In [61]:
# reads line by line

f = open("./files/sample.txt","r")

print(f.readline())
print(f.readline())
print(f.readline())

print(f.readline())
print(f.readline())

This is samle file1

This is samle file2

This is samle file3

This is samle file4

This is samle file5

In [62]:
# read using for loop

f = open("./files/sample.txt")

for x in f:
    print(x)
    
f.close()

This is samle file1

This is samle file2

This is samle file3

This is samle file4

This is samle file5



This is new string added

### Writing to existing file

    f.write()- writes contents to file
    1. "a"
    2. "w"
    3. "x"

In [65]:
# Append mode: 

f_w = open("./files/sample.txt","a")

txt = "This is new string added"

f_w.write(txt)
f_w.close()


f_r = open("./files/sample.txt")

print(f_r.read())

This is samle file1
This is samle file2
This is samle file3
This is samle file4
This is samle file5

This is new string addedThis is new string addedThis is new string addedThis is new string added

In [69]:
# Write using "w"

f_w = open("./files/sample1.txt","w")

f_w.write("This is my new file\n It is created using write mode\nThis is last line")

f_w.close()


f_r = open("./files/sample1.txt")

print(f_r.read())

This is my new file
 It is created using write mode
This is last line

In [72]:
# Create a new file using "x" mode

f_x = open("./files/sample5.txt",'x')
f_x.write("This file is created in x mode\n So we have now many files created")
f_x.close()

f_r = open("./files/sample5.txt")
print(f_r.read())

FileExistsError: [Errno 17] File exists: './files/sample5.txt'

### Creating New File

# when want create new then
All Modes will create a new file
"a"
"w"
"x"

### Removing file / Directory(folder)

import os - Module


use: 
    
    os.remove() function to delete file
    os.rmdir() function to remove directory / folder

In [76]:
import os

f = open("./files/sample5.txt")
print(f.read())

os.remove("./files/sample5.txt")

# f = open("./files/sample3.txt")

FileNotFoundError: [Errno 2] No such file or directory: './files/sample5.txt'

In [90]:
os.rmdir("./files/sample")

In [89]:
os.mkdir('./files/sample')