# Python Programming

Basic: It is a general purpose high level programming language.

Python was developed by Guido Van Rossam at National Research Institute at Netherlands.

official relaese date of python is 20th feb 1991

In [1]:
# Printing Hello 

print("Hello")


print("Simple Statement")

Hello
Simple Statement

Note:

It is very simple to print hello in python, as compared to other programming languages

coding in python is really less time consuming than other programming languages
Python Features

1) Easy to Learn and Use. Python is easy to learn and use. ...
2) Expressive Language. Python language is
more expressive means that
it is more understandable and readable.
3) Interpreted Language. ...
4) Cross-platform Language. ...
5) Free and Open Source. ...
6) Object-Oriented Language. ...
7) Extensible. ...
8) Large Standard Library.

Applications

1) Web Applications.... 2) Desktop GUI Applications.... 3) Software Development.... 4) Scientific and Numeric.... 5) Business Applications.... 6) Console Based Application.... 7) Audio or Video based Applications.... 8) 3D CAD Applications. 9) AI 10) ML, DL 11) Data Analytics
Good to Know

    Functional Programming Features from C
    Object Oriented Programming Features from C++
    Scripting Language Features from Perl and Shell Script
    Modular Programming Features from Modula-3

Identifiers

    names in python are called as identifiers.

    Function name, variable name, module name, class name are identifiers in python

    Rules:

        Alphabet Symbols (Either Upper case OR Lower case)

        If Identifier is start with Underscore (_) then it indicates it is private.

        Identifier should not start with Digits.

        Identifiers are case sensitive.

        We cannot use reserved words as identifiers

        Dollor ($) Symbol is not allowed in Python.

        ex: Akash, akash,AKASH, _aKASH, _AKASH, _akash Wrong: 1_aksh, 1akash, 1AKASH

### Identifiers

In [2]:
x = 10
y = 20

_x = 20

_x_1 = 20

_1 = 10

print(_x_1)
print(_1)

20
10

In [3]:
first_name = 'Sagar'
last_name = "Latake"

print(first_name)
print(last_name)

Sagar
Latake

## Special Notes

    If identifier starts with _ symbol,then it is private
    If identifier starts with __(2 underscore), indicate that it is a strongly private.
    If the identifier starts and ends with two underscore symbols, then such identifiers are language defined special name,
    which is also known as magic methods.
    ex: __init__()
        __DoIt__

## Keywords

There are around 33 keywords:

if,elif,else,while,for,break,continue,return,in,True,False,None,and, or,not,is,yield,try,except,finally,raise,del,with,assert,import,from,as,class,def,pass, global,nonlocal,lambda.

In [4]:
# we can see all keywords from python using below code

sa = 'Hi Hello'

import keyword

print(keyword.kwlist)



len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

33

### Data Types in Python:

    Data type of variable is the type of value inside that variable.
    In python we do not need to mension the data type of variable, It automatically assigns data type.
    int 2. float 3.complex 4.bool 5.str 6.bytes 7.bytearray 8.range 9.list 10.tuple 11.set 12.frozenset 13.dict 14.None

10- int

10.20 float

3+4j - complex

True / False - ( 1 / 0) --- bool

"Hello this is python"  --str

### Data type of variable is the type of value inside that variable

x = 10

x = 20.23

x = 3 + 4j

x = True

x = "Hey Hello"

### Python automatically identify the the type of variable

In [1]:
x = 10 # Declaration

print("Value of x:")
print(x)
print("type of x:")
print(type(x))


print("\n")  # new line

y = 20.23
print("Value of y:")
print(y)
print("type of y:")
print(type(y))

print("\n")
comp = 3 + 4j
print("Value of comp:")
print(comp)
print("Type of comp:")
print(type(comp))

print("\n")
b = True
print("Value of b:")
print(b)
print("Type of b:")
print(type(b))

print("\n")

str1 = "Hey Hello"
print(type(str1))

Value of x:
10
type of x:
<class 'int'>


Value of y:
20.23
type of y:
<class 'float'>


Value of comp:
(3+4j)
Type of comp:
<class 'complex'>


Value of b:
True
Type of b:
<class 'bool'>


<class 'str'>

### Typecasting

int, float, str, boolean, comlex, object.

# What is typecasting:

Conversion of data from one type to another type.

x = "100"

name = "sagar 100 sagar....!!!!"


eg. str1 = "python is best"
str2 = "100"
Note: we can convert str2 into float, int

In [6]:
# int/string to float conversion:
print("Int to float:")
val = 100
print(val)
print(type(val))

val_f = float(val)

print(val_f)
print(type(val_f))

print("string to float: ")
str1 = "300"
print(str1)
print(type(str1))

str1_f = float(str1)

print(str1_f)
print(type(str1_f))

Int to float:
100
<class 'int'>
100.0
<class 'float'>
string to float:
300
<class 'str'>
300.0
<class 'float'>

In [7]:
# float/string to int conversion

print("Float to int typecasting:")
val = 200.9
print(val)
print(type(val))

val_i = int(val)
print(val_i)
print(type(val_i))


print("String to int typecasting:")

str1 = '100'
print(str1)
print(type(str1))

str1_i = int(str1)
print(str1_i)
print(type(str1_i))

Float to int typecasting:
200.9
<class 'float'>
200
<class 'int'>
String to int typecasting:
100
<class 'str'>
100
<class 'int'>

In [8]:
# To convert string of float value, first convert it to float value and 
# then convert float value to int

str2 = "100.20"
print(str2)
print(type(str2))
#int(str2)
str2_f = float(str2)
print(str2_f)

str2_i = int(str2_f)
print(str2_i)



#print("String to int:")
#print(str1)
#print(type(str1))
#var2 = int(str1)
#print(var2)
#print(type(var2))

100.20
<class 'str'>
100.2
100

In [9]:
# int/string to float conversion:

str1 = "python"
var = 100
str2 = "200"
print(var)
print(type(var))
print(var)

print(type(var))

print(str2)
print(type(str2))
var3 = float(str2)
print(var3)
print(type(var3))

print("Demonstration of string to float conversion:")
print(str1)
#var2 = float(str1)

100
<class 'int'>
100
<class 'int'>
200
<class 'str'>
200.0
<class 'float'>
Demonstration of string to float conversion:
python

In [10]:
# float/string to int conversion

var = 100.20
str1 = "200.30"
str2 = "500"
str3 = "python"

print("float to int:")
print(var)
print(type(var))
var1 = int(var)
print(var1)
print(type(var1))

print("String to int:")
print(str2)
print(type(str2))
var3 = int(str2)
print(var3)
print(type(var3))

#print("String to int:")
#print(str1)
#print(type(str1))
#var2 = int(str1)
#print(var2)
#print(type(var2))

print("string to complex:")
cm = "3+4j"
comp = complex(cm)
print(comp)
print(type(comp))


#print("String to int:")
#print(str3)
#print(type(str3))
#var4 = int(str3)
#print(var4)
#print(type(var4))

float to int:
100.2
<class 'float'>
100
<class 'int'>
String to int:
500
<class 'str'>
500
<class 'int'>
string to complex:
(3+4j)
<class 'complex'>

In [11]:
# float, int to string

var = 100.23
var1 = 20
comp = 2+4j


print("float to string:")
print(var)
print(type(var))
var3 = str(var)
print(var3)
print(type(var3))

print("int to string:")
print(var1)
print(type(var1))
var4 = str(var1)
print(var4)
print(type(var4))

print("Complex to string:")
print(comp)
print(type(comp))
var5 = str(comp)
print(var5)
print(type(var5))

float to string:
100.23
<class 'float'>
100.23
<class 'str'>
int to string:
20
<class 'int'>
20
<class 'str'>
Complex to string:
(2+4j)
<class 'complex'>
(2+4j)
<class 'str'>

### Other types to Complex

In [12]:
# use complex() function for conversion
comp = complex(4)
print(comp)
print("The real Part:")
print(comp.real)

print("The imaginary Part:")
print(comp.imag)


# Created complex number using int

comp = complex(4,6)
print(comp)
print("The real Part:")
print(comp.real)

print("The imaginary Part:")
print(comp.imag)


# Create a complex number using float values

# Assignment


# Create a complex number using string


str2 = "20"

c = complex(str2)

print(c)

print("\nCreate a complex number using complete string:")
str1 = "3+4j"
print(str1)
print(type(str1))
c1 = complex(str1)
print(c1)
print(type(c1))
print(c1.real)
print(c1.imag)

(4+0j)
The real Part:
4.0
The imaginary Part:
0.0
(4+6j)
The real Part:
4.0
The imaginary Part:
6.0
(20+0j)

Create a complex number using complete string:
3+4j
<class 'str'>
(3+4j)
<class 'complex'>
3.0
4.0

In [13]:
c = complex(10)
print(c)

(10+0j)

In [14]:
print(complex(10,5)) # 10+5j
print(complex(10.20,4))

# Create a complex number using bool

print(complex(True,False)) # 1+0j

(10+5j)
(10.2+4j)
(1+0j)

### Bool()

1. True
2. False

In [15]:
x = True
x = False

print(x)


print(int(True))

False
1

In [16]:
print(int(False))

0

In [17]:
print(float(True))

1.0

In [18]:
print(float(False))

0.0

In [19]:
print(complex(True))

(1+0j)

In [20]:
c = complex(False)

print(c)


#c = 0+0j

c1 = complex(False,True)

# c1 = 0+ 1j

print(c1)

0j
1j

In [21]:
# Convert bool into str
print(type(True))
var = str(True)
print(var)
print(type(var))

print(type(False))
var = str(False)
print(var)
print(type(var))

<class 'bool'>
True
<class 'str'>
<class 'bool'>
False
<class 'str'>

In [22]:
# float into bool

x = bool(10.10)
print(x)

y = bool(0.0)
print(y)

True
False

In [23]:
print(bool(12))
print(bool(0))

True
False

In [24]:
# Conversion from string to bool

str1 = "Python"
str2 = ""

x = bool(str1)
print(x)

y = bool(str2)
print(y)

True
False

In [25]:
# Conversion of complex number into the bool

x = 1+0j

b = bool(x)
print(b)


x = 4 + 2j

b = bool(x)
print(b)

x = 0 + 0j
b = bool(x)
print(b)

True
True
False

### String

operations: slicing, display

#### String


liscing is making peaces of a string using some separator

[] is a slice opearator

What is string:
    Sequence of characters
    ex. "This is string"

In [26]:
str1 = "This is python string...1111"
print(str1)
print(type(str1))

# like your list

l = ['p','y','t','h','o','n']
print(l)

This is python string...1111
<class 'str'>
['p', 'y', 't', 'h', 'o', 'n']

In [27]:
# assignment
# str1 = "This tutorial is basically designed for beginers"
print(str1)
print(str1[0])
print(len(str1))

print(str1[24])

This is python string...1111
T
28
1

In [28]:
str1[0]

'T'

In [29]:
# 0-28 nothing but the range of index

str1[0:28]

'This is python string...1111'

In [30]:
print(str1[0:5])
# in includes 0,1,2,3,4
# str1[start : end]
# end: not included
str1[5]

This

'i'

In [31]:
print(str1[5:21])
print(str1[20])

is python string
g

In [32]:
print(str1)
print(str1[:21])

This is python string...1111
This is python string

In [33]:
print(str1)
print(str1[10:21])
print(str1[0:])
print(str1[0:24])

This is python string...1111
thon string
This is python string...1111
This is python string...

In [34]:
# Negative index

print(str1)

print(str1[0])

This is python string...1111
T

In [35]:
print(str1[-1])
print(str1[-28])

# Assignment : perform negative index operations.

1
T

In [3]:
#string multiply

str1 * 4

'Hey HelloHey HelloHey HelloHey Hello'

In [4]:
# Immutability
# for int
x = 100
print("Id of x:",id(x))
y = 100

print("Id of y:",id(y))

z = y

print("Id of z: ",id(z))

Id of x: 10897536
Id of y: 10897536
Id of z:  10897536

10897536

In [38]:
# for float

x = 100.10
print("Id of x:",id(x))
y = 100.10

print("Id of y:",id(y))

z = y

y = x

print("Id of z: ",id(z))
print("Id of y: ",id(y))

Id of x: 140163981036424
Id of y: 140163981036568
Id of z:  140163981036568
Id of y:  140163981036424

### Bytes

In [39]:
# bytes can hold the values from 0 to 256
# You cant change the value of bytes once it is created
# Bytes is immutable

b = bytes([10,22,33,40,50,255])

print(b)

print(type(b))

for i in b:
    print(i)

 # How to access   
print("Val of b[5]",b[5])

# Try to modify

# b[0] = 15

b'\n\x16!(2\xff'
<class 'bytes'>
10
22
33
40
50
255
Val of b[5] 255

### Bytearray

1. The bytearray is similar to bytes
2. But you can change the elements of bytearray
3. bytearray are mutable (we can change the contents of object after creation)

In [40]:
# create bytearray

ba = bytearray([11,22,33,40,50,66,78])

print(type(ba))

print(ba)

for i in ba:
    print(i)
    
# How access the bytearray

print("\n",ba[0])

ba[0] = 255   # value modification

print(ba[0])


print("\n")
for i in ba:
    print(i)

<class 'bytearray'>
bytearray(b'\x0b\x16!(2BN')
11
22
33
40
50
66
78

 11
255


255
22
33
40
50
66
78

## List

1. List stores multiple items with different data types.
2. [] brackets are used to create list
3. List is ordered, changeable and stores duplicates also.
4. List is growable, elements are added at end of list.

In [41]:
# Create List for int float string mix

l_i = [1,2,3,4,5,6,7,8]

print(type(l_i))
print(l_i)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8]

In [42]:
# float

l_f = [1.1,2.2,3.3,4.4]

print(type(l_f))
print(l_f)

<class 'list'>
[1.1, 2.2, 3.3, 4.4]

In [43]:
# Assignment : create a list of string of fruits-12}

In [44]:
# Mix list

l_m = [1,2,"python","java",2.2,3.4]
print(type(l_m))
print(l_m)

<class 'list'>
[1, 2, 'python', 'java', 2.2, 3.4]

In [45]:
# Accesing list items


list1 = [1,2,"python","java",2.2,3.4]

list1[5]

3.4

In [46]:
# Slicicing of list + ve, -ve

list1 = [1,2,3,4,5,6,7,8,9,10]

print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
# slicing

print(list1[0:5])
print(list1[3:7])

[1, 2, 3, 4, 5]
[4, 5, 6, 7]

In [48]:
# 

print(list1[-1])
print([list1[-7:-2]])

10
[[4, 5, 6, 7, 8]]

### Operations

In [49]:
# Apend

print(list1)

list1.append(11)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [50]:
# remove ny name and index
print(list1)
list1.remove(11)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
list1.remove(5)
print(list1)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

# Available operations on list

list1.append
list1.clear
list1.copy
list1.count
list1.extend
list1.index
list1.insert
list1.pop
list1.remove
list1.reverse
list1.sort

In [52]:
# copy

list2 = list1.copy()
print(list2)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [53]:
# extend using list and single ement

print(list1)

list1.extend([20])
print(list1)

list1.extend(list2)
print(list1)

[1, 2, 3, 4, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 6, 7, 8, 9, 10, 20]
[1, 2, 3, 4, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 6, 7, 8, 9, 10]

In [55]:
# index of value

# print(list1.index(11))

In [56]:
# insert value (index, value)
print(list1)
list1.insert(1,200)
print(list1)

[1, 2, 3, 4, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 6, 7, 8, 9, 10]
[1, 200, 2, 3, 4, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 6, 7, 8, 9, 10]

In [57]:
# pop and pop(index)

print(list1)
list1.pop()
print(list1)

[1, 200, 2, 3, 4, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 6, 7, 8, 9, 10]
[1, 200, 2, 3, 4, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 6, 7, 8, 9]

In [58]:
print(list1)
list1.pop(1)
print(list1)

[1, 200, 2, 3, 4, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 6, 7, 8, 9]
[1, 2, 3, 4, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 6, 7, 8, 9]

In [59]:
# reverse

print(list2)
list2.reverse()
print(list2)

[1, 2, 3, 4, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 4, 3, 2, 1]

In [60]:
# sort(reverse=True/False)
list1 = [1,2,4,3,7,4,6]

print(list1)
list1.sort(reverse = True)
print(list1)

[1, 2, 4, 3, 7, 4, 6]
[7, 6, 4, 4, 3, 2, 1]

print(list1)

list1[2:4] = [0, 10]


print(list1)

In [61]:
print(list1)

list1[2:4] = [0, 0]


print(list1)

[7, 6, 4, 4, 3, 2, 1]
[7, 6, 0, 0, 3, 2, 1]

## Tuple

1. Tuple is ordered and unchangeble
2. Immutable (you cant change the elements or cant add elements in tuple)
3. () are used to represent the tuple
4. Allow duplicates
5. tuples are read only version of your list except list is growable

In [62]:
tup = tuple((1,2,3,4,5,5,6))
print(tup)

(1, 2, 3, 4, 5, 5, 6)

In [63]:
tup.count(5)

2

In [64]:
tup.index(5)

4

In [65]:
# i want to add elemet in my tuple

print(tup)
print(type(tup))

l_tup = list(tup)

print(l_tup)
print(type(l_tup))

(1, 2, 3, 4, 5, 5, 6)
<class 'tuple'>
[1, 2, 3, 4, 5, 5, 6]
<class 'list'>

In [66]:
l_tup.append(10)
print(l_tup)

[1, 2, 3, 4, 5, 5, 6, 10]

In [67]:
tup = tuple(l_tup)
print(tup)

(1, 2, 3, 4, 5, 5, 6, 10)

# Available operations on tuple

list1.append # add elemnt at last
list1.clear # remove all element from your list
list1.copy # copy
list1.count #it will count a value
list1.extend # it will add multiple element to list
list1.index # it return you an index of value
list1.insert #You can insert a value at specific location
list1.pop #this will remove last element / specific location
list1.remove # remove value
list1.reverse # reverse your list
list1.sort # reverse = True - sort your list in ascending or Descending order.

In [68]:
print(tup)

#Add (21,31,41,51)

list1 = list(tup) # typecasting

print(list1)

list1.extend([21,31,41,51])

print(list1)

tup = tuple(list1)  # typecasting

print(tup)

(1, 2, 3, 4, 5, 5, 6, 10)
[1, 2, 3, 4, 5, 5, 6, 10]
[1, 2, 3, 4, 5, 5, 6, 10, 21, 31, 41, 51]
(1, 2, 3, 4, 5, 5, 6, 10, 21, 31, 41, 51)

##### Process:
    
    1. to convert your tuple into list
    2. perform your required operation
    3. convert your list into tuple

In [69]:
tup = ("apple",'apple', "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tup)

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [70]:
tup = (10.1,20.2,30.3,40.4,50.5)
print(tup)

(10.1, 20.2, 30.3, 40.4, 50.5)

In [71]:
# how to acces the elements of tuple

print(tup)

(10.1, 20.2, 30.3, 40.4, 50.5)

In [72]:
tup[2]

30.3

In [73]:
# tup[2] = 'papaya'

In [74]:
# slicing of tuple [start, end]

tup[0:]

(10.1, 20.2, 30.3, 40.4, 50.5)

In [75]:
tup[5:]

()

In [76]:
tup[0:5]

(10.1, 20.2, 30.3, 40.4, 50.5)

In [77]:
print(tup)
tup[-3]

(10.1, 20.2, 30.3, 40.4, 50.5)

30.3

In [78]:

tup[-4:-1]

(20.2, 30.3, 40.4)

In [79]:
len(tup[-4:-1])

3

In [80]:
print(list1)

[1, 2, 3, 4, 5, 5, 6, 10, 21, 31, 41, 51]

In [81]:
# Misbahaviour of list
list1[2:] = [10,20,30]
print(list1)

[1, 2, 10, 20, 30]

### Set

1. set is unordered collections of elements
2. It is mutable
3. It is growable
4. Set items are unchangeable
5. {} are used to represent set
6. Index concept is not applicable
7. duplicates are not allowed

In [82]:
s = {1,2,3,4,"vaibhav", "akash", 'pradip'}
print(type(s))

print(s)

<class 'set'>
{1, 2, 3, 4, 'vaibhav', 'pradip', 'akash'}

In [83]:
print(len(s))

7

In [84]:
# set() constructor
s1 = set([1,2,3,4])
print(s1)

set1 = set(["apple","mango","cherry", "banana"])
print(type(set1))
print(set1)

{1, 2, 3, 4}
<class 'set'>
{'mango', 'apple', 'cherry', 'banana'}

In [85]:
# accessing set
print(set1)

"s" in set1

{'mango', 'apple', 'cherry', 'banana'}

False

In [95]:
# Additing elements to the set

# once set is created u can not change elements value, 
# but u can add values

print(set1)
set1.add("apple")
print(set1)

{1, 'cherry', 3, 'banana', 'papaya', 'pineapple', 'mango'}
{'apple', 1, 'cherry', 3, 'banana', 'papaya', 'pineapple', 'mango'}

In [99]:
# using update you can add any iterable items like 
# set, list,tuple, dict-keys
set2 = {100, 200, 300}
# dict1 = {'a': 97}
tup = (10,20,30)

print(set1)
print(set2)
set1.update(set2)
set1.update(tup)
print(set1)

{1, 3, 100, 'banana', 'papaya', 200, 300, 'mango', 'cherry', 'pineapple', 'apple'}
{200, 100, 300}
{1, 3, 100, 'banana', 'papaya', 200, 10, 300, 'mango', 'cherry', 20, 'pineapple', 'apple', 30}

In [108]:
# remove(), discard(), pop()
print("Remove using remove():\n",set1)

# remove() method raise an error if element not present
#set1.remove("banana")
print(set1,"\n")

# discard(): it does not raise an error if element does not exist
set1.discard("papaya")
print(set1)

# pop(): pop removes an arbitrary element from set and returns it

print(set1)
ele = set1.pop()
print("Poped element is:",ele)
print(set1)

Remove using remove():
 {1, 3, 100, 200, 10, 300, 'mango', 'cherry', 20, 'pineapple', 'apple', 30}
{1, 3, 100, 200, 10, 300, 'mango', 'cherry', 20, 'pineapple', 'apple', 30}

{1, 3, 100, 200, 10, 300, 'mango', 'cherry', 20, 'pineapple', 'apple', 30}
{1, 3, 100, 200, 10, 300, 'mango', 'cherry', 20, 'pineapple', 'apple', 30}
Poped element is: 3
{1, 100, 200, 10, 300, 'mango', 'cherry', 20, 'pineapple', 'apple', 30}

In [118]:
# union

# adds elements of two sets and create new set
s1 = {1,2,3,4}
s2 = {3,4,5,6,7}

print(s1)
print(s2)

res = s1.union(s2)
print(res)
# update method work for union only but adds element to calling set

{1, 2, 3, 4}
{3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [119]:
#
print(s1)
print(s2)

s3 = {1,2,10,20,30}
print(s3)
res = s1.intersection(s2)
print(res)
# keeps duplicates in s1 
s1.intersection_update(s3)
print(s1)

{1, 2, 3, 4}
{3, 4, 5, 6, 7}
{1, 10, 2, 20, 30}
{3, 4}
{1, 2}

In [91]:
# keeps elements which are not present in other set
s_1 ={1,2,3,4,5,6}
s_2 = {3,5,7,8,9}

print(s)
print(set1)
#s.symmetric_difference_update(set1)

print(s) 


# returns new set

print("Symmetric Difference:\n")

k = s_1.symmetric_difference(s_2) 
# return elements which are present in s_1 not in s_2 + present in s_2 but not in s_1
v = s_1.difference(s_2) 
# returns new set with elements present in s_1 but not in s_2
print("Symmetric difference:\n",k)
print("difference:\n",v)

{1, 3}
{1, 'cherry', 3, 'banana', 'papaya', 'pineapple', 'mango'}
{1, 3}
Symmetric Difference:

Symmetric difference:
 {1, 2, 4, 6, 7, 8, 9}
difference:
 {1, 2, 4, 6}

In [92]:
#isdisjoint()Returns whether two sets have a intersection or not
#issubset()Returns whether another set contains this set or not
#issuperset()Returns whether this set contains another set or not
s1 = {1,2,3,4,5,6}
s2= {1,2,3}
print(s.isdisjoint(set1))
print("S:\n")
print(s)
print("Set1:\n")
print(set1)
print(set1.issubset(s))
print(set1.issuperset(s))

False
S:

{1, 3}
Set1:

{1, 'cherry', 3, 'banana', 'papaya', 'pineapple', 'mango'}
False
True

In [93]:
# del and clear() method removes the set completely

# uncomment to run it and see result
print(s)
#del s1
#print(s1)

{1, 3}

### Dictionary


1. stores data in key:value pair
2. It is ordered, changeable and does not allow duplicates.
3. { } are used to write dictionaries
4. Items are reffered by using key
5. From Python version 3.7, dictionaries are ordered.

In [13]:
# DREATION DICTIONARY
dict1 = { 

    1 : "Vaibhav",
    2 : "Akshay",
    3 : "Akash" 
}

print(dict1)

{1: 'Vaibhav', 2: 'Akshay', 3: 'Akash'}

#### Acess

In [22]:
# Directly acess using key
# using get method

# using keys
print(dict1[1])
print(dict1[3])
print(dict1[2])

# using get method
print("Acess dicts using get() method: ")
val = dict1.get(1)
print(val)

Vaibhav
Akash
Akshay
Acess dicts using get() method:
Vaibhav

In [26]:
stud = {
    "roll_no" : 10,
    "name" : "Akshay",
    "class" : "TE",
    "marks" : 89.90
}
print(stud) # sets  are unordered

l = [10,5,4,2,25] # lists, tuples are ordered
print(l)

# acess the elements

val = stud['name']
print(val)

print(stud['marks'])

{'marks': 89.9, 'name': 'Akshay', 'class': 'TE', 'roll_no': 10}
[10, 5, 4, 2, 25]
Akshay
89.9

In [32]:
# acess all keys

print(stud)
print("Keys:\n")
k = stud.keys()
print(k)

print("Values: \n")
val = stud.values()
print(val)

{'marks': 89.9, 'name': 'Akshay', 'class': 'TE', 'roll_no': 10}
Keys:

dict_keys(['marks', 'name', 'class', 'roll_no'])
Values:

dict_values([89.9, 'Akshay', 'TE', 10])

In [39]:
# add new item
print(stud)

stud['lname'] = 'Patil'

stud['city'] = "Pune"

stud['mobile'] = 9975923975
print(stud)

print(stud.keys())
length = len(stud.keys())
print(stud.values())
print("No. of keys:",length)

{'city': 'Pune', 'mobile': 9975923975, 'roll_no': 10, 'lname': 'Patil', 'marks': 89.9, 'class': 'TE', 'name': 'Akshay'}
{'city': 'Pune', 'mobile': 9975923975, 'roll_no': 10, 'lname': 'Patil', 'marks': 89.9, 'class': 'TE', 'name': 'Akshay'}
dict_keys(['city', 'mobile', 'roll_no', 'lname', 'marks', 'class', 'name'])
dict_values(['Pune', 9975923975, 10, 'Patil', 89.9, 'TE', 'Akshay'])
No. of keys: 7

In [40]:
# How to acess the key, value from dict

stud.items()

dict_items([('city', 'Pune'), ('mobile', 9975923975), ('roll_no', 10), ('lname', 'Patil'), ('marks', 89.9), ('class', 'TE'), ('name', 'Akshay')])

In [42]:
# change value
print(stud.items())

stud['class'] = 'BE'

stud['marks'] = 91.0

print("\n", stud.items())

dict_items([('city', 'Pune'), ('mobile', 9975923975), ('roll_no', 10), ('lname', 'Patil'), ('marks', 89.9), ('class', 'TE'), ('name', 'Akshay')])

 dict_items([('city', 'Pune'), ('mobile', 9975923975), ('roll_no', 10), ('lname', 'Patil'), ('marks', 91.0), ('class', 'BE'), ('name', 'Akshay')])

In [43]:
# update(): add one more key:value pair

print(stud.items())
stud.update({
    "subject": 'maths',
    "email" : 'a@b.com'
})

print("\n", stud.items())

dict_items([('city', 'Pune'), ('mobile', 9975923975), ('roll_no', 10), ('lname', 'Patil'), ('marks', 91.0), ('class', 'BE'), ('name', 'Akshay')])

 dict_items([('subject', 'maths'), ('city', 'Pune'), ('mobile', 9975923975), ('roll_no', 10), ('lname', 'Patil'), ('marks', 91.0), ('email', 'a@b.com'), ('class', 'BE'), ('name', 'Akshay')])

### Forzenset

In [6]:
# frozen set is same as set but it is immutable
set_1 = {1,2,3,4,5,6}


print(type(set_1))
print(set_1)

s = frozenset(set_1)

print(s)

print(type(s))
# supported methods for frozen set

s1 = s.copy()
'''
s.difference()
s.intersection()
s.isdisjoint()
s.issubset()
s.issuperset()
s.symmetric_difference()
s.union()
'''
print(s1)
print(type(s1))

<class 'set'>
{1, 2, 3, 4, 5, 6}
frozenset({1, 2, 3, 4, 5, 6})
<class 'frozenset'>
frozenset({1, 2, 3, 4, 5, 6})
<class 'frozenset'>

### Operators

Python operators:

    1. Arithmetic operators
    2. Assignment operators
    3. Comparison operators
    4. Logical operators
    5. Identity operators
    6. Membership operators
    7. Bitwise operators

#### 1. Arithmetic operators

1. + Addition x + y
2. - Subtraction x - y 
3. * Multiplication x * y 
4. / Division x / y 
5. % Modulus x % y 
6. ** Exponentiation x ** y 
7. // Floor division x // y

In [13]:
val1 = 10
val2 = 22
print("Val1= ",val1)
print("Val2= ",val2)
print("Addition:")

res = val1 + val2

print("Add: ",res)


print("Substraction:")

res = val2 - val1

print("Sub: ",res)

print("Multiplication:")

res = val1 * val2

print("Mul: ",res)


print("Division:")
res = val1 / val2

print("Div: ", res)

print("Modulus:")

res = val2 % val1

print("Mod: ",res)

print("Exponent:")

res = val2 ** val1
print("Exp: ", res)

print("Floor Division:")

res = val2 // val1

print("Floor Div: ",res)

Val1=  10
Val2=  22
Addition:
Add:  32
Substraction:
Sub:  12
Multiplication:
Mul:  220
Division:
Div:  0.45454545454545453
Modulus:
Mod:  2
Exponent:
Exp:  26559922791424
Floor Division:
Floor Div:  2

#### 2. Assignment Operators

1.  = x = 5 x = 5 
2. += x += 4 x = x + 4
3. -= x -= 5 x = x - 5 
4. *= x *= 8 x = x * 8 
5. /= x /= 7 x = x / 7 
6. %= x %= 5 x = x % 5 
7. //= x //= 3 x = x // 3 
8. **= x **= 2 x = x ** 2
9. &= x &= 2 x = x & 2
10. |= x |= 2 x = x | 2
11. ^= x ^= 4 x = x ^ 4
12. >>= x >>= 4 x = x >> 4
13. <<= x <<= 5 x = x << 5

In [26]:
# simple assigment
x = 5
x

5

In [27]:
# add and assign
x += 100
x

105

In [28]:
# sustract and assign

x -= 50
x

55

In [29]:
# multiplication and assign

x *= 2
x

110

In [30]:
# div and assign

x /= 10
x

11.0

In [31]:
res = 110 / 10
res

11.0

In [32]:
# floor div and assign

x //= 4

x

2.0

In [33]:
res = 11 / 4
res

2.75

In [34]:
res = 11 // 4
res

2

In [35]:
# exponent and assign

x **= 10
x

1024.0

In [36]:
# modulo and Assign

x %= 3

x

1.0

In [39]:
1024 % 10

4

#### 3. Comparison Operators

1. == Equal x == y => checks the equality of operands, returns the True
Ex. 6 == 6  -> True
6 == 7 -> False

2. != Not equal x != y
Ex. 5 != 5   -> False
5 != 6    -> True


3. >  Greater than x > y
Ex. 4 > 5    -> False
5 > 2  -> True

4. < Less than x < y 
Ex. 4 < 5    -> True
5 < 2  -> False


5. >= Greater than or equal to x >= y 
Ex.
5 >= 5    -> True

6 >= 5    -> True

4 >=5     -> False

6. <= Less than or equal to x <= y

Ex.
5 <= 5    -> True

6 <= 5    -> False

4 <= 5     -> True

In [16]:
a = 20
b = 10
c = 10

print("Eqiality:")

print(a == b)
print(b == c)

print("Not Equal:")

print(a != b)
print(b != c)

print('Greater Than:')
print( a > b)
print(b > c)


print('Less Than:')
print( a < b)
print(b < c)
print(b < a)

print('Greater Than Equal to:')
print( a >= b)
print(b >= c)


print('Less Than equal to:')
print( a <= b)
print(b <= c)
print(b <= a)

Eqiality:
False
True
Not Equal:
True
False
Greater Than:
True
False
Less Than:
False
False
True
Greater Than Equal to:
True
True
Less Than equal to:
False
True
True

#### 4. Logical Operators

1. and: returns true if both conditions are ture

Ex.  x = 3
x < 5 -> True

x < 4  -> True

(x < 5) and  (x < 4)   ====> True
  True  and True       ====> True
  
  
(x < 5) and  (x > 4)    ====> False  
  True  and False       ====> False

2. or returns true if any one conditions is ture

Ex.  x = 3
x < 5 -> True

x < 4  -> True

(x < 5) or  (x < 4)   ====> True
  True  or True       ====> True
  
  
(x < 5) or  (x > 4)     ====> True  
  True  or False        ====> True


3. not Reverse the result, returns False if the result is true 

not (x < 5)  ===>  False

not True   ===> False

In [29]:
x = 3

print( x < 5)
print(x < 4)
print( x > 7)

print((x < 5) and  (x < 4))
print((x < 5) and  (x > 4))

print((x < 5) or  (x < 4))
print((x > 5) or  (x > 4))


print(not (x < 5))

True
True
False
True
False
True
False
False

#### 5. Identity Operators

1. is : Returns True if both variables are the same object 
ex. x is y

2. is not : Returns True if both variables are not the same object x is not y

In [5]:
x = 10
y = 10

print("Value of x: ",x)
print("id of x:", id(x))

print('Value fo y:', y)
print("id of y:", id(y))
print(x is y)


x = 10.10
y = 10.10


print("X id is:",id(x))

print("y id is:",id(y))
print(x is not y)

Value of x:  10
id of x: 10894656
Value fo y: 10
id of y: 10894656
True
X id is: 140404981745680
y id is: 140404981745728
True

#### 6. Membership Operators

1. in: Returns True if a sequence with the specified value is present in the object,  
ex. x in y
2. not in: Returns True if a sequence with the specified value is not present in the object,  
ex. x not in y

In [10]:
list1 = [10,20,30,40,50]
print(list1)

print(10 in list1)

print(15 in list1)

print(30 not in list1)

print(15 not in list1)

[10, 20, 30, 40, 50]
True
False
False
True

#### 7. Bitwise Operators

1. &  AND Sets each bit to 1 if both bits are 1
2. | OR Sets each bit to 1 if one of two bits is 1
3. ^ XOR Sets each bit to 1 if only one of two bits is 1
4. ~  NOT Inverts all the bits
5. << Zero fill left shift Shift left by pushing zeros in from the right and let the leftmost bits fall off

6. >> Signed right shift Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

                1. &:  
                ex. 1 & 1 => 1
                    1 & 0 => 0
                    0 & 1 => 0
                    0 & 0 => 0
                2. |:
                    1 | 1 => 1
                    1 | 0 => 1
                    0 | 1 => 1
                    0 | 0 => 0
                3. ^:
                    1 & 1 => 0
                    1 & 0 => 1
                    0 & 1 => 1
                    0 & 0 => 0
                4. ~:
                     1 => 0
                     0 => 1
                    
                
                256  128  64  32  16   8  4  2  1 
                                          0  0  0 = 0
                                          0  0  1 = 1
                                          0  1  0 = 2
                                          0  1  1 = 3
                                          1  0  0 = 4
                                          1  0  1 = 5
                                          1  1  0 = 6
                                          1  1  1 = 7
                                        
                                          
                                          Left Shift by 2 bits
                                           1  1  1 = 7
                                     1  1  1  0  0 = 28
                                          
                                          Right shift by 2 bits
                                            1  1  1 = 7
                                            0  0  1 = 1

In [19]:
print("Bitwise and ")
x = 4        # 1 0 0
y = 5        # 1 0 1
z = x & y    # 1 0 0 = 4

print(z)

print('Bitwise or')
x = 4        # 1 0 0
y = 5        # 1 0 1
z = x | y    # 1 0 1 = 5

print(z)
print('Bitwise XOR')
x = 4        # 1 0 0
y = 5        # 1 0 1
z = x ^ y    # 0 0 1 = 1
print(z)
print("Bitwise Not")

x = 4         # 1 0 0
z = ~ 4       # 0 0 1
print(z)

x = 7
z = x << 2
print("Left Shift:\n")
print(z)

x = 7
z = x >> 2
print("Right Shift:\n")
print(z)

print("\n",oct(x))
print("\n",hex(x))

Bitwise and
4
Bitwise or
5
Bitwise XOR
1
Bitwise Not
-5
Left Shift:

28
Right Shift:

1

 0o7

 0x7

### Conditional Statements & Loops

1. If ... Else
2. If..elif...Else
3. While Loops
4. For Loops

In [ ]:
Syntax: 
    
if <condition> :
       
    print("When condition is true")
    statements-1
    statements-1
    statements-1
else:
    print('When condition is false')
    statements-1
    statements-1
    statements-1

In [14]:
# a>b
x = 100
y = 20
# find largest number

if x < y:
    print("X is less than y")

else:
    print("x is greater than y")

x is greater than y

In [19]:
a = 10
b = 10

if a < b:
    print('A is greater than B')
elif a > b:
    print('A and B are equal')
elif a != b:
    print('sample')
elif a != b:
    print('A and B are equal')
    
else:
    print('A is less than B')

A is less than B

In [21]:
# a>b, a==b, a<b

x = 20
y = 30

if x > y:
    print("x is larger")
elif x == y:
    print("x and y are equal")
else:
    print('y is greater than x')

y is greater than x

In [23]:
# shaort hand if a > b: print("a is greater than b")

x = 10
y = 20

if y > x: print('y is grteater than x')

y is grteater than x

In [26]:
# short hand if else print("A") if a > b else print("B") 

x = 20
y = 10

print('x is less than y') if x < y else print('x is greater than y')

x is greater than y

# you can add more conditions here in if else

write a python program which will take percentage as input from 
user and returns its grade (dist, first class, 2nd class, pass class)

In [8]:
# write more than one conditions use and and or

In [29]:
# nested if .. else

x = int(input('Enter the number:'))

if x > 100:
    if x > 150:
        print("Number is greater than 100 and 150")
    elif x ==150:
        print("Number is equal to 150")
    else:
        print("number is greater than 100 and less than 150")
elif x == 100:
    print("Number is equal to 100")
else:
    print("Number is less than 100")

Enter the number:20
Number is less than 100

In [28]:
# pass staement

x = 10
y = 20

if y > x:
    pass