# Python Programming

Basic: It is a general purpose high level programming language.

Python was developed by Guido Van Rossam at National Research Institute at Netherlands.

official relaese date of python is 20th feb 1991

In [1]:
# Printing Hello 

print("Hello")


print("Simple Statement")

Hello
Simple Statement

Note:

It is very simple to print hello in python, as compared to other programming languages

coding in python is really less time consuming than other programming languages
Python Features

1) Easy to Learn and Use. Python is easy to learn and use. ...
2) Expressive Language. Python language is
more expressive means that
it is more understandable and readable.
3) Interpreted Language. ...
4) Cross-platform Language. ...
5) Free and Open Source. ...
6) Object-Oriented Language. ...
7) Extensible. ...
8) Large Standard Library.

Applications

1) Web Applications.... 2) Desktop GUI Applications.... 3) Software Development.... 4) Scientific and Numeric.... 5) Business Applications.... 6) Console Based Application.... 7) Audio or Video based Applications.... 8) 3D CAD Applications. 9) AI 10) ML, DL 11) Data Analytics
Good to Know

    Functional Programming Features from C
    Object Oriented Programming Features from C++
    Scripting Language Features from Perl and Shell Script
    Modular Programming Features from Modula-3

Identifiers

    names in python are called as identifiers.

    Function name, variable name, module name, class name are identifiers in python

    Rules:

        Alphabet Symbols (Either Upper case OR Lower case)

        If Identifier is start with Underscore (_) then it indicates it is private.

        Identifier should not start with Digits.

        Identifiers are case sensitive.

        We cannot use reserved words as identifiers

        Dollor ($) Symbol is not allowed in Python.

        ex: Akash, akash,AKASH, _aKASH, _AKASH, _akash Wrong: 1_aksh, 1akash, 1AKASH

### Identifiers

In [2]:
x = 10
y = 20

_x = 20

_x_1 = 20

_1 = 10

print(_x_1)
print(_1)

20
10

In [3]:
first_name = 'Sagar'
last_name = "Latake"

print(first_name)
print(last_name)

Sagar
Latake

## Special Notes

    If identifier starts with _ symbol,then it is private
    If identifier starts with __(2 underscore), indicate that it is a strongly private.
    If the identifier starts and ends with two underscore symbols, then such identifiers are language defined special name,
    which is also known as magic methods.
    ex: __init__()
        __DoIt__

## Keywords

There are around 33 keywords:

if,elif,else,while,for,break,continue,return,in,True,False,None,and, or,not,is,yield,try,except,finally,raise,del,with,assert,import,from,as,class,def,pass, global,nonlocal,lambda.

In [4]:
# we can see all keywords from python using below code

sa = 'Hi Hello'

import keyword

print(keyword.kwlist)



len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

33

### Data Types in Python:

    Data type of variable is the type of value inside that variable.
    In python we do not need to mension the data type of variable, It automatically assigns data type.
    int 2. float 3.complex 4.bool 5.str 6.bytes 7.bytearray 8.range 9.list 10.tuple 11.set 12.frozenset 13.dict 14.None

10- int

10.20 float

3+4j - complex

True / False - ( 1 / 0) --- bool

"Hello this is python"  --str

### Data type of variable is the type of value inside that variable

x = 10

x = 20.23

x = 3 + 4j

x = True

x = "Hey Hello"

### Python automatically identify the the type of variable

In [5]:
x = 10 # Declaration

print("Value of x:")
print(x)
print("type of x:")
print(type(x))


print("\n")  # new line

y = 20.23
print("Value of y:")
print(y)
print("type of y:")
print(type(y))

print("\n")
comp = 3 + 4j
print("Value of comp:")
print(comp)
print("Type of comp:")
print(type(comp))

print("\n")
b = True
print("Value of b:")
print(b)
print("Type of b:")
print(type(b))

print("\n")

str1 = "Hey Hello"
print(type(str1))

Value of x:
10
type of x:
<class 'int'>


Value of y:
20.23
type of y:
<class 'float'>


Value of comp:
(3+4j)
Type of comp:
<class 'complex'>


Value of b:
True
Type of b:
<class 'bool'>


<class 'str'>

### Typecasting

int, float, str, boolean, comlex, object.

# What is typecasting:

Conversion of data from one type to another type.

x = "100"

name = "sagar 100 sagar....!!!!"


eg. str1 = "python is best"
str2 = "100"
Note: we can convert str2 into float, int

In [6]:
# int/string to float conversion:
print("Int to float:")
val = 100
print(val)
print(type(val))

val_f = float(val)

print(val_f)
print(type(val_f))

print("string to float: ")
str1 = "300"
print(str1)
print(type(str1))

str1_f = float(str1)

print(str1_f)
print(type(str1_f))

Int to float:
100
<class 'int'>
100.0
<class 'float'>
string to float:
300
<class 'str'>
300.0
<class 'float'>

In [7]:
# float/string to int conversion

print("Float to int typecasting:")
val = 200.9
print(val)
print(type(val))

val_i = int(val)
print(val_i)
print(type(val_i))


print("String to int typecasting:")

str1 = '100'
print(str1)
print(type(str1))

str1_i = int(str1)
print(str1_i)
print(type(str1_i))

Float to int typecasting:
200.9
<class 'float'>
200
<class 'int'>
String to int typecasting:
100
<class 'str'>
100
<class 'int'>

In [8]:
# To convert string of float value, first convert it to float value and 
# then convert float value to int

str2 = "100.20"
print(str2)
print(type(str2))
#int(str2)
str2_f = float(str2)
print(str2_f)

str2_i = int(str2_f)
print(str2_i)



#print("String to int:")
#print(str1)
#print(type(str1))
#var2 = int(str1)
#print(var2)
#print(type(var2))

100.20
<class 'str'>
100.2
100

In [9]:
# int/string to float conversion:

str1 = "python"
var = 100
str2 = "200"
print(var)
print(type(var))
print(var)

print(type(var))

print(str2)
print(type(str2))
var3 = float(str2)
print(var3)
print(type(var3))

print("Demonstration of string to float conversion:")
print(str1)
#var2 = float(str1)

100
<class 'int'>
100
<class 'int'>
200
<class 'str'>
200.0
<class 'float'>
Demonstration of string to float conversion:
python

In [10]:
# float/string to int conversion

var = 100.20
str1 = "200.30"
str2 = "500"
str3 = "python"

print("float to int:")
print(var)
print(type(var))
var1 = int(var)
print(var1)
print(type(var1))

print("String to int:")
print(str2)
print(type(str2))
var3 = int(str2)
print(var3)
print(type(var3))

#print("String to int:")
#print(str1)
#print(type(str1))
#var2 = int(str1)
#print(var2)
#print(type(var2))

print("string to complex:")
cm = "3+4j"
comp = complex(cm)
print(comp)
print(type(comp))


#print("String to int:")
#print(str3)
#print(type(str3))
#var4 = int(str3)
#print(var4)
#print(type(var4))

float to int:
100.2
<class 'float'>
100
<class 'int'>
String to int:
500
<class 'str'>
500
<class 'int'>
string to complex:
(3+4j)
<class 'complex'>

In [11]:
# float, int to string

var = 100.23
var1 = 20
comp = 2+4j


print("float to string:")
print(var)
print(type(var))
var3 = str(var)
print(var3)
print(type(var3))

print("int to string:")
print(var1)
print(type(var1))
var4 = str(var1)
print(var4)
print(type(var4))

print("Complex to string:")
print(comp)
print(type(comp))
var5 = str(comp)
print(var5)
print(type(var5))

float to string:
100.23
<class 'float'>
100.23
<class 'str'>
int to string:
20
<class 'int'>
20
<class 'str'>
Complex to string:
(2+4j)
<class 'complex'>
(2+4j)
<class 'str'>

### Other types to Complex

In [12]:
# use complex() function for conversion
comp = complex(4)
print(comp)
print("The real Part:")
print(comp.real)

print("The imaginary Part:")
print(comp.imag)


# Created complex number using int

comp = complex(4,6)
print(comp)
print("The real Part:")
print(comp.real)

print("The imaginary Part:")
print(comp.imag)


# Create a complex number using float values

# Assignment


# Create a complex number using string


str2 = "20"

c = complex(str2)

print(c)

print("\nCreate a complex number using complete string:")
str1 = "3+4j"
print(str1)
print(type(str1))
c1 = complex(str1)
print(c1)
print(type(c1))
print(c1.real)
print(c1.imag)

(4+0j)
The real Part:
4.0
The imaginary Part:
0.0
(4+6j)
The real Part:
4.0
The imaginary Part:
6.0
(20+0j)

Create a complex number using complete string:
3+4j
<class 'str'>
(3+4j)
<class 'complex'>
3.0
4.0

In [13]:
c = complex(10)
print(c)

(10+0j)

In [14]:
print(complex(10,5)) # 10+5j
print(complex(10.20,4))

# Create a complex number using bool

print(complex(True,False)) # 1+0j

(10+5j)
(10.2+4j)
(1+0j)

### Bool()

1. True
2. False

In [15]:
x = True
x = False

print(x)


print(int(True))

False
1

In [16]:
print(int(False))

0

In [17]:
print(float(True))

1.0

In [18]:
print(float(False))

0.0

In [19]:
print(complex(True))

(1+0j)

In [20]:
c = complex(False)

print(c)


#c = 0+0j

c1 = complex(False,True)

# c1 = 0+ 1j

print(c1)

0j
1j

In [21]:
# Convert bool into str
print(type(True))
var = str(True)
print(var)
print(type(var))

print(type(False))
var = str(False)
print(var)
print(type(var))

<class 'bool'>
True
<class 'str'>
<class 'bool'>
False
<class 'str'>

In [22]:
# float into bool

x = bool(10.10)
print(x)

y = bool(0.0)
print(y)

True
False

In [23]:
print(bool(12))
print(bool(0))

True
False

In [24]:
# Conversion from string to bool

str1 = "Python"
str2 = ""

x = bool(str1)
print(x)

y = bool(str2)
print(y)

True
False

In [25]:
# Conversion of complex number into the bool

x = 1+0j

b = bool(x)
print(b)


x = 4 + 2j

b = bool(x)
print(b)

x = 0 + 0j
b = bool(x)
print(b)

True
True
False

### String

operations: slicing, display

#### String


liscing is making peaces of a string using some separator

[] is a slice opearator

What is string:
    Sequence of characters
    ex. "This is string"

In [26]:
str1 = "This is python string...1111"
print(str1)
print(type(str1))

# like your list

l = ['p','y','t','h','o','n']
print(l)

This is python string...1111
<class 'str'>
['p', 'y', 't', 'h', 'o', 'n']

In [27]:
# assignment
# str1 = "This tutorial is basically designed for beginers"
print(str1)
print(str1[0])
print(len(str1))

print(str1[24])

This is python string...1111
T
28
1

In [28]:
str1[0]

'T'

In [29]:
# 0-28 nothing but the range of index

str1[0:28]

'This is python string...1111'

In [30]:
print(str1[0:5])
# in includes 0,1,2,3,4
# str1[start : end]
# end: not included
str1[5]

This

'i'

In [31]:
print(str1[5:21])
print(str1[20])

is python string
g

In [32]:
print(str1)
print(str1[:21])

This is python string...1111
This is python string

In [33]:
print(str1)
print(str1[10:21])
print(str1[0:])
print(str1[0:24])

This is python string...1111
thon string
This is python string...1111
This is python string...

In [34]:
# Negative index

print(str1)

print(str1[0])

This is python string...1111
T

In [35]:
print(str1[-1])
print(str1[-28])

# Assignment : perform negative index operations.

1
T

In [36]:
#string multiply

str1 * 4

'This is python string...1111This is python string...1111This is python string...1111This is python string...1111'

In [37]:
# Immutability
# for int
x = 100
print("Id of x:",id(x))
y = 100

print("Id of y:",id(y))

z = y

print("Id of z: ",id(z))

Id of x: 10897536
Id of y: 10897536
Id of z:  10897536

In [38]:
# for float

x = 100.10
print("Id of x:",id(x))
y = 100.10

print("Id of y:",id(y))

z = y

y = x

print("Id of z: ",id(z))
print("Id of y: ",id(y))

Id of x: 139819195263928
Id of y: 139819195263976
Id of z:  139819195263976
Id of y:  139819195263928

### Bytes

In [39]:
# bytes can hold the values from 0 to 256
# You cant change the value of bytes once it is created
# Bytes is immutable

b = bytes([10,22,33,40,50,255])

print(b)

print(type(b))

for i in b:
    print(i)

 # How to access   
print("Val of b[5]",b[5])

# Try to modify

# b[0] = 15

b'\n\x16!(2\xff'
<class 'bytes'>
10
22
33
40
50
255
Val of b[5] 255

### Bytearray

1. The bytearray is similar to bytes
2. But you can change the elements of bytearray
3. bytearray are mutable (we can change the contents of object after creation)

In [40]:
# create bytearray

ba = bytearray([11,22,33,40,50,66,78])

print(type(ba))

print(ba)

for i in ba:
    print(i)
    
# How access the bytearray

print("\n",ba[0])

ba[0] = 255   # value modification

print(ba[0])


print("\n")
for i in ba:
    print(i)

<class 'bytearray'>
bytearray(b'\x0b\x16!(2BN')
11
22
33
40
50
66
78

 11
255


255
22
33
40
50
66
78

## List

1. List stores multiple items with different data types.
2. [] brackets are used to create list
3. List is ordered, changeable and stores duplicates also.
4. List is growable, elements are added at end of list.

In [41]:
# Create List for int float string mix

l_i = [1,2,3,4,5,6,7,8]

print(type(l_i))
print(l_i)

<class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8]

In [42]:
# float

l_f = [1.1,2.2,3.3,4.4]

print(type(l_f))
print(l_f)

<class 'list'>
[1.1, 2.2, 3.3, 4.4]

In [43]:
# Assignment : create a list of string of fruits-12}

In [44]:
# Mix list

l_m = [1,2,"python","java",2.2,3.4]
print(type(l_m))
print(l_m)

<class 'list'>
[1, 2, 'python', 'java', 2.2, 3.4]

In [45]:
# Accesing list items


list1 = [1,2,"python","java",2.2,3.4]

list1[5]

3.4

In [46]:
# Slicicing of list + ve, -ve

list1 = [1,2,3,4,5,6,7,8,9,10]

print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [47]:
# slicing

print(list1[0:5])
print(list1[3:7])

[1, 2, 3, 4, 5]
[4, 5, 6, 7]

In [48]:
# 

print(list1[-1])
print([list1[-7:-2]])

10
[[4, 5, 6, 7, 8]]

### Operations

In [49]:
# Apend

print(list1)

list1.append(11)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [50]:
# remove ny name and index
print(list1)
list1.remove(11)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [51]:
list1.remove(5)
print(list1)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

# Available operations on list

list1.append
list1.clear
list1.copy
list1.count
list1.extend
list1.index
list1.insert
list1.pop
list1.remove
list1.reverse
list1.sort

In [52]:
# copy

list2 = list1.copy()
print(list2)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [53]:
# extend using list and single ement

print(list1)

list1.extend([20])
print(list1)

list1.extend(list2)
print(list1)

[1, 2, 3, 4, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 6, 7, 8, 9, 10, 20]
[1, 2, 3, 4, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 6, 7, 8, 9, 10]

In [54]:
# index of value

# print(list1.index(11))

In [55]:
# insert value (index, value)
print(list1)
list1.insert(1,200)
print(list1)

[1, 2, 3, 4, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 6, 7, 8, 9, 10]
[1, 200, 2, 3, 4, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 6, 7, 8, 9, 10]

In [56]:
# pop and pop(index)

print(list1)
list1.pop()
print(list1)

[1, 200, 2, 3, 4, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 6, 7, 8, 9, 10]
[1, 200, 2, 3, 4, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 6, 7, 8, 9]

In [57]:
print(list1)
list1.pop(1)
print(list1)

[1, 200, 2, 3, 4, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 6, 7, 8, 9]
[1, 2, 3, 4, 6, 7, 8, 9, 10, 20, 1, 2, 3, 4, 6, 7, 8, 9]

In [58]:
# reverse

print(list2)
list2.reverse()
print(list2)

[1, 2, 3, 4, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 4, 3, 2, 1]

In [59]:
# sort(reverse=True/False)
list1 = [1,2,4,3,7,4,6]

print(list1)
list1.sort(reverse = True)
print(list1)

[1, 2, 4, 3, 7, 4, 6]
[7, 6, 4, 4, 3, 2, 1]

print(list1)

list1[2:4] = [0, 10]


print(list1)

In [60]:
print(list1)

list1[2:4] = [0, 0]


print(list1)

[7, 6, 4, 4, 3, 2, 1]
[7, 6, 0, 0, 3, 2, 1]

## Tuple

1. Tuple is ordered and unchangeble
2. Immutable (you cant change the elements or cant add elements in tuple)
3. () are used to represent the tuple
4. Allow duplicates
5. tuples are read only version of your list except list is growable

In [61]:
tup = tuple((1,2,3,4,5,5,6))
print(tup)

(1, 2, 3, 4, 5, 5, 6)

In [62]:
tup.count(5)

2

In [63]:
tup.index(5)

4

In [64]:
# i want to add elemet in my tuple

print(tup)
print(type(tup))

l_tup = list(tup)

print(l_tup)
print(type(l_tup))

(1, 2, 3, 4, 5, 5, 6)
<class 'tuple'>
[1, 2, 3, 4, 5, 5, 6]
<class 'list'>

In [65]:
l_tup.append(10)
print(l_tup)

[1, 2, 3, 4, 5, 5, 6, 10]

In [66]:
tup = tuple(l_tup)
print(tup)

(1, 2, 3, 4, 5, 5, 6, 10)

# Available operations on tuple

list1.append # add elemnt at last
list1.clear # remove all element from your list
list1.copy # copy
list1.count #it will count a value
list1.extend # it will add multiple element to list
list1.index # it return you an index of value
list1.insert #You can insert a value at specific location
list1.pop #this will remove last element / specific location
list1.remove # remove value
list1.reverse # reverse your list
list1.sort # reverse = True - sort your list in ascending or Descending order.

In [67]:
print(tup)

#Add (21,31,41,51)

list1 = list(tup) # typecasting

print(list1)

list1.extend([21,31,41,51])

print(list1)

tup = tuple(list1)  # typecasting

print(tup)

(1, 2, 3, 4, 5, 5, 6, 10)
[1, 2, 3, 4, 5, 5, 6, 10]
[1, 2, 3, 4, 5, 5, 6, 10, 21, 31, 41, 51]
(1, 2, 3, 4, 5, 5, 6, 10, 21, 31, 41, 51)

##### Process:
    
    1. to convert your tuple into list
    2. perform your required operation
    3. convert your list into tuple

In [68]:
tup = ("apple",'apple', "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tup)

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [69]:
tup = (10.1,20.2,30.3,40.4,50.5)
print(tup)

(10.1, 20.2, 30.3, 40.4, 50.5)

In [70]:
# how to acces the elements of tuple

print(tup)

(10.1, 20.2, 30.3, 40.4, 50.5)

In [71]:
tup[2]

30.3

In [72]:
# tup[2] = 'papaya'

In [73]:
# slicing of tuple [start, end]

tup[0:]

(10.1, 20.2, 30.3, 40.4, 50.5)

In [74]:
tup[5:]

()

In [75]:
tup[0:5]

(10.1, 20.2, 30.3, 40.4, 50.5)

In [76]:
print(tup)
tup[-3]

(10.1, 20.2, 30.3, 40.4, 50.5)

30.3

In [77]:

tup[-4:-1]

(20.2, 30.3, 40.4)

In [78]:
len(tup[-4:-1])

3

In [79]:
print(list1)

[1, 2, 3, 4, 5, 5, 6, 10, 21, 31, 41, 51]

In [80]:
# Misbahaviour of list
list1[2:] = [10,20,30]
print(list1)

[1, 2, 10, 20, 30]

### Set

1. set is unordered collections of elements
2. It is mutable
3. It is growable
4. Set items are unchangeable
5. {} are used to represent set
6. Index concept is not applicable
7. duplicates are not allowed

In [81]:
s = {1,2,3,4,"vaibhav", "akash", 'pradip'}
print(type(s))

print(s)

<class 'set'>
{1, 2, 3, 4, 'vaibhav', 'akash', 'pradip'}

In [82]:
print(len(s))

7

In [83]:
# set() constructor
s1 = set([1,2,3,4])
print(s1)

set1 = set(["apple","mango","cherry", "banana"])
print(type(set1))
print(set1)

{1, 2, 3, 4}
<class 'set'>
{'mango', 'cherry', 'banana', 'apple'}

In [84]:
# accessing set
print(set1)

"s" in set1

{'mango', 'cherry', 'banana', 'apple'}

False

In [85]:
# Additing elements to the set

# once set is created u can not change elements value, 
# but u can add values

print(set1)
set1.add("apple")
print(set1)

{'mango', 'cherry', 'banana', 'apple'}
{'mango', 'cherry', 'banana', 'apple'}

In [86]:
# using update you can add any iterable items like 
# set, list,tuple, dict-keys
set2 = {100, 200, 300}
# dict1 = {'a': 97}
tup = (10,20,30)

print(set1)
print(set2)
set1.update(set2)
set1.update(tup)
print(set1)

{'mango', 'cherry', 'banana', 'apple'}
{200, 100, 300}
{'mango', 100, 'cherry', 'banana', 20, 200, 10, 300, 30, 'apple'}

In [87]:
# remove(), discard(), pop()
print("Remove using remove():\n",set1)

# remove() method raise an error if element not present
#set1.remove("banana")
print(set1,"\n")

# discard(): it does not raise an error if element does not exist
set1.discard("papaya")
print(set1)

# pop(): pop removes an arbitrary element from set and returns it

print(set1)
ele = set1.pop()
print("Poped element is:",ele)
print(set1)

Remove using remove():
 {'mango', 100, 'cherry', 'banana', 20, 200, 10, 300, 30, 'apple'}
{'mango', 100, 'cherry', 'banana', 20, 200, 10, 300, 30, 'apple'}

{'mango', 100, 'cherry', 'banana', 20, 200, 10, 300, 30, 'apple'}
{'mango', 100, 'cherry', 'banana', 20, 200, 10, 300, 30, 'apple'}
Poped element is: mango
{100, 'cherry', 'banana', 20, 200, 10, 300, 30, 'apple'}

In [88]:
# union

# adds elements of two sets and create new set
s1 = {1,2,3,4}
s2 = {3,4,5,6,7}

print(s1)
print(s2)

res = s1.union(s2)
print(res)
# update method work for union only but adds element to calling set

{1, 2, 3, 4}
{3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [89]:
#
print(s1)
print(s2)

s3 = {1,2,10,20,30}
print(s3)
res = s1.intersection(s2)
print(res)
# keeps duplicates in s1 
s1.intersection_update(s3)
print(s1)

{1, 2, 3, 4}
{3, 4, 5, 6, 7}
{1, 10, 2, 20, 30}
{3, 4}
{1, 2}

In [90]:
# keeps elements which are not present in other set
s_1 ={1,2,3,4,5,6}
s_2 = {3,5,7,8,9}

print(s)
print(set1)
#s.symmetric_difference_update(set1)

print(s) 


# returns new set

print("Symmetric Difference:\n")

k = s_1.symmetric_difference(s_2) 
# return elements which are present in s_1 not in s_2 + present in s_2 but not in s_1
v = s_1.difference(s_2) 
# returns new set with elements present in s_1 but not in s_2
print("Symmetric difference:\n",k)
print("difference:\n",v)

{1, 2, 3, 4, 'vaibhav', 'akash', 'pradip'}
{100, 'cherry', 'banana', 20, 200, 10, 300, 30, 'apple'}
{1, 2, 3, 4, 'vaibhav', 'akash', 'pradip'}
Symmetric Difference:

Symmetric difference:
 {1, 2, 4, 6, 7, 8, 9}
difference:
 {1, 2, 4, 6}

In [91]:
#isdisjoint()Returns whether two sets have a intersection or not
#issubset()Returns whether another set contains this set or not
#issuperset()Returns whether this set contains another set or not
s1 = {1,2,3,4,5,6}
s2= {1,2,3}
print(s.isdisjoint(set1))
print("S:\n")
print(s)
print("Set1:\n")
print(set1)
print(set1.issubset(s))
print(set1.issuperset(s))

True
S:

{1, 2, 3, 4, 'vaibhav', 'akash', 'pradip'}
Set1:

{100, 'cherry', 'banana', 20, 200, 10, 300, 30, 'apple'}
False
False

In [92]:
# del and clear() method removes the set completely

# uncomment to run it and see result
print(s)
#del s1
#print(s1)

{1, 2, 3, 4, 'vaibhav', 'akash', 'pradip'}

### Dictionary


1. stores data in key:value pair
2. It is ordered, changeable and does not allow duplicates.
3. { } are used to write dictionaries
4. Items are reffered by using key
5. From Python version 3.7, dictionaries are ordered.

In [93]:
# DREATION DICTIONARY
dict1 = { 

    1 : "Vaibhav",
    2 : "Akshay",
    3 : "Akash" 
}

print(dict1)

{1: 'Vaibhav', 2: 'Akshay', 3: 'Akash'}

#### Acess

In [94]:
# Directly acess using key
# using get method

# using keys
print(dict1[1])
print(dict1[3])
print(dict1[2])

# using get method
print("Acess dicts using get() method: ")
val = dict1.get(1)
print(val)

Vaibhav
Akash
Akshay
Acess dicts using get() method:
Vaibhav

In [95]:
stud = {
    "roll_no" : 10,
    "name" : "Akshay",
    "class" : "TE",
    "marks" : 89.90
}
print(stud) # sets  are unordered

l = [10,5,4,2,25] # lists, tuples are ordered
print(l)

# acess the elements

val = stud['name']
print(val)

print(stud['marks'])

{'class': 'TE', 'marks': 89.9, 'name': 'Akshay', 'roll_no': 10}
[10, 5, 4, 2, 25]
Akshay
89.9

In [96]:
# acess all keys

print(stud)
print("Keys:\n")
k = stud.keys()
print(k)

print("Values: \n")
val = stud.values()
print(val)

{'class': 'TE', 'marks': 89.9, 'name': 'Akshay', 'roll_no': 10}
Keys:

dict_keys(['class', 'marks', 'name', 'roll_no'])
Values:

dict_values(['TE', 89.9, 'Akshay', 10])

In [97]:
# add new item
print(stud)

stud['lname'] = 'Patil'

stud['city'] = "Pune"

stud['mobile'] = 9975923975
print(stud)

print(stud.keys())
length = len(stud.keys())
print(stud.values())
print("No. of keys:",length)

{'class': 'TE', 'marks': 89.9, 'name': 'Akshay', 'roll_no': 10}
{'lname': 'Patil', 'mobile': 9975923975, 'marks': 89.9, 'name': 'Akshay', 'city': 'Pune', 'class': 'TE', 'roll_no': 10}
dict_keys(['lname', 'mobile', 'marks', 'name', 'city', 'class', 'roll_no'])
dict_values(['Patil', 9975923975, 89.9, 'Akshay', 'Pune', 'TE', 10])
No. of keys: 7

In [98]:
# How to acess the key, value from dict

stud.items()

dict_items([('lname', 'Patil'), ('mobile', 9975923975), ('marks', 89.9), ('name', 'Akshay'), ('city', 'Pune'), ('class', 'TE'), ('roll_no', 10)])

In [99]:
# change value
print(stud.items())

stud['class'] = 'BE'

stud['marks'] = 91.0

print("\n", stud.items())

dict_items([('lname', 'Patil'), ('mobile', 9975923975), ('marks', 89.9), ('name', 'Akshay'), ('city', 'Pune'), ('class', 'TE'), ('roll_no', 10)])

 dict_items([('lname', 'Patil'), ('mobile', 9975923975), ('marks', 91.0), ('name', 'Akshay'), ('city', 'Pune'), ('class', 'BE'), ('roll_no', 10)])

In [100]:
# update(): add one more key:value pair

print(stud.items())
stud.update({
    "subject": 'maths',
    "email" : 'a@b.com'
})

print("\n", stud.items())

dict_items([('lname', 'Patil'), ('mobile', 9975923975), ('marks', 91.0), ('name', 'Akshay'), ('city', 'Pune'), ('class', 'BE'), ('roll_no', 10)])

 dict_items([('lname', 'Patil'), ('mobile', 9975923975), ('marks', 91.0), ('name', 'Akshay'), ('city', 'Pune'), ('class', 'BE'), ('email', 'a@b.com'), ('subject', 'maths'), ('roll_no', 10)])

### Forzenset

In [101]:
# frozen set is same as set but it is immutable
set_1 = {1,2,3,4,5,6}


print(type(set_1))
print(set_1)

s = frozenset(set_1)

print(s)

print(type(s))
# supported methods for frozen set

s1 = s.copy()
'''
s.difference()
s.intersection()
s.isdisjoint()
s.issubset()
s.issuperset()
s.symmetric_difference()
s.union()
'''
print(s1)
print(type(s1))

<class 'set'>
{1, 2, 3, 4, 5, 6}
frozenset({1, 2, 3, 4, 5, 6})
<class 'frozenset'>
frozenset({1, 2, 3, 4, 5, 6})
<class 'frozenset'>

### Operators

Python operators:

    1. Arithmetic operators
    2. Assignment operators
    3. Comparison operators
    4. Logical operators
    5. Identity operators
    6. Membership operators
    7. Bitwise operators

#### 1. Arithmetic operators

1. + Addition x + y
2. - Subtraction x - y 
3. * Multiplication x * y 
4. / Division x / y 
5. % Modulus x % y 
6. ** Exponentiation x ** y 
7. // Floor division x // y

In [102]:
val1 = 10
val2 = 22
print("Val1= ",val1)
print("Val2= ",val2)
print("Addition:")

res = val1 + val2

print("Add: ",res)


print("Substraction:")

res = val2 - val1

print("Sub: ",res)

print("Multiplication:")

res = val1 * val2

print("Mul: ",res)


print("Division:")
res = val1 / val2

print("Div: ", res)

print("Modulus:")

res = val2 % val1

print("Mod: ",res)

print("Exponent:")

res = val2 ** val1
print("Exp: ", res)

print("Floor Division:")

res = val2 // val1

print("Floor Div: ",res)

Val1=  10
Val2=  22
Addition:
Add:  32
Substraction:
Sub:  12
Multiplication:
Mul:  220
Division:
Div:  0.45454545454545453
Modulus:
Mod:  2
Exponent:
Exp:  26559922791424
Floor Division:
Floor Div:  2

#### 2. Assignment Operators

1.  = x = 5 x = 5 
2. += x += 4 x = x + 4
3. -= x -= 5 x = x - 5 
4. *= x *= 8 x = x * 8 
5. /= x /= 7 x = x / 7 
6. %= x %= 5 x = x % 5 
7. //= x //= 3 x = x // 3 
8. **= x **= 2 x = x ** 2
9. &= x &= 2 x = x & 2
10. |= x |= 2 x = x | 2
11. ^= x ^= 4 x = x ^ 4
12. >>= x >>= 4 x = x >> 4
13. <<= x <<= 5 x = x << 5

In [103]:
# simple assigment
x = 5
x

5

In [104]:
# add and assign
x += 100
x

105

In [105]:
# sustract and assign

x -= 50
x

55

In [106]:
# multiplication and assign

x *= 2
x

110

In [107]:
# div and assign

x /= 10
x

11.0

In [108]:
res = 110 / 10
res

11.0

In [109]:
# floor div and assign

x //= 4

x

2.0

In [110]:
res = 11 / 4
res

2.75

In [111]:
res = 11 // 4
res

2

In [112]:
# exponent and assign

x **= 10
x

1024.0

In [113]:
# modulo and Assign

x %= 3

x

1.0

In [114]:
1024 % 10

4

#### 3. Comparison Operators

1. == Equal x == y => checks the equality of operands, returns the True
Ex. 6 == 6  -> True
6 == 7 -> False

2. != Not equal x != y
Ex. 5 != 5   -> False
5 != 6    -> True


3. >  Greater than x > y
Ex. 4 > 5    -> False
5 > 2  -> True

4. < Less than x < y 
Ex. 4 < 5    -> True
5 < 2  -> False


5. >= Greater than or equal to x >= y 
Ex.
5 >= 5    -> True

6 >= 5    -> True

4 >=5     -> False

6. <= Less than or equal to x <= y

Ex.
5 <= 5    -> True

6 <= 5    -> False

4 <= 5     -> True

In [115]:
a = 20
b = 10
c = 10

print("Eqiality:")

print(a == b)
print(b == c)

print("Not Equal:")

print(a != b)
print(b != c)

print('Greater Than:')
print( a > b)
print(b > c)


print('Less Than:')
print( a < b)
print(b < c)
print(b < a)

print('Greater Than Equal to:')
print( a >= b)
print(b >= c)


print('Less Than equal to:')
print( a <= b)
print(b <= c)
print(b <= a)

Eqiality:
False
True
Not Equal:
True
False
Greater Than:
True
False
Less Than:
False
False
True
Greater Than Equal to:
True
True
Less Than equal to:
False
True
True

#### 4. Logical Operators

1. and: returns true if both conditions are ture

Ex.  x = 3
x < 5 -> True

x < 4  -> True

(x < 5) and  (x < 4)   ====> True
  True  and True       ====> True
  
  
(x < 5) and  (x > 4)    ====> False  
  True  and False       ====> False

2. or returns true if any one conditions is ture

Ex.  x = 3
x < 5 -> True

x < 4  -> True

(x < 5) or  (x < 4)   ====> True
  True  or True       ====> True
  
  
(x < 5) or  (x > 4)     ====> True  
  True  or False        ====> True


3. not Reverse the result, returns False if the result is true 

not (x < 5)  ===>  False

not True   ===> False

In [116]:
x = 3

print( x < 5)
print(x < 4)
print( x > 7)

print((x < 5) and  (x < 4))
print((x < 5) and  (x > 4))

print((x < 5) or  (x < 4))
print((x > 5) or  (x > 4))


print(not (x < 5))

True
True
False
True
False
True
False
False

#### 5. Identity Operators

1. is : Returns True if both variables are the same object 
ex. x is y

2. is not : Returns True if both variables are not the same object x is not y

In [117]:
x = 10
y = 10

print("Value of x: ",x)
print("id of x:", id(x))

print('Value fo y:', y)
print("id of y:", id(y))
print(x is y)


x = 10.10
y = 10.10


print("X id is:",id(x))

print("y id is:",id(y))
print(x is not y)

Value of x:  10
id of x: 10894656
Value fo y: 10
id of y: 10894656
True
X id is: 139819177035168
y id is: 139819177035216
True

#### 6. Membership Operators

1. in: Returns True if a sequence with the specified value is present in the object,  
ex. x in y
2. not in: Returns True if a sequence with the specified value is not present in the object,  
ex. x not in y

In [118]:
list1 = [10,20,30,40,50]
print(list1)

print(10 in list1)

print(15 in list1)

print(30 not in list1)

print(15 not in list1)

[10, 20, 30, 40, 50]
True
False
False
True

#### 7. Bitwise Operators

1. &  AND Sets each bit to 1 if both bits are 1
2. | OR Sets each bit to 1 if one of two bits is 1
3. ^ XOR Sets each bit to 1 if only one of two bits is 1
4. ~  NOT Inverts all the bits
5. << Zero fill left shift Shift left by pushing zeros in from the right and let the leftmost bits fall off

6. >> Signed right shift Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

                1. &:  
                ex. 1 & 1 => 1
                    1 & 0 => 0
                    0 & 1 => 0
                    0 & 0 => 0
                2. |:
                    1 | 1 => 1
                    1 | 0 => 1
                    0 | 1 => 1
                    0 | 0 => 0
                3. ^:
                    1 & 1 => 0
                    1 & 0 => 1
                    0 & 1 => 1
                    0 & 0 => 0
                4. ~:
                     1 => 0
                     0 => 1
                    
                
                256  128  64  32  16   8  4  2  1 
                                          0  0  0 = 0
                                          0  0  1 = 1
                                          0  1  0 = 2
                                          0  1  1 = 3
                                          1  0  0 = 4
                                          1  0  1 = 5
                                          1  1  0 = 6
                                          1  1  1 = 7
                                        
                                          
                                          Left Shift by 2 bits
                                           1  1  1 = 7
                                     1  1  1  0  0 = 28
                                          
                                          Right shift by 2 bits
                                            1  1  1 = 7
                                            0  0  1 = 1

In [119]:
print("Bitwise and ")
x = 4        # 1 0 0
y = 5        # 1 0 1
z = x & y    # 1 0 0 = 4

print(z)

print('Bitwise or')
x = 4        # 1 0 0
y = 5        # 1 0 1
z = x | y    # 1 0 1 = 5

print(z)
print('Bitwise XOR')
x = 4        # 1 0 0
y = 5        # 1 0 1
z = x ^ y    # 0 0 1 = 1
print(z)
print("Bitwise Not")

x = 4         # 1 0 0
z = ~ 4       # 0 0 1
print(z)

x = 7
z = x << 2
print("Left Shift:\n")
print(z)

x = 7
z = x >> 2
print("Right Shift:\n")
print(z)

print("\n",oct(x))
print("\n",hex(x))

Bitwise and
4
Bitwise or
5
Bitwise XOR
1
Bitwise Not
-5
Left Shift:

28
Right Shift:

1

 0o7

 0x7

Python’s bitwise NOT operator ~x inverts each bit from the binary representation of integer x so that 0 becomes 1 and 1 becomes 0. This is semantically the same as calculating ~x == -x-1. For example, the bitwise NOT expression ~0 becomes -1, ~9 becomes -10, and ~32 becomes -33.

### Conditional Statements & Loops

1. If ... Else
2. If..elif...Else
3. While Loops
4. For Loops

Syntax: 
    
if <condition> :
       
    print("When condition is true")
    statements-1
    statements-1
    statements-1
else:
    print('When condition is false')
    statements-1
    statements-1
    statements-1

In [120]:
# a>b
x = 100
y = 20
# find largest number

if x < y:
    print("X is less than y")

else:
    print("x is greater than y")

x is greater than y

In [121]:
a = 10
b = 10

if a < b:
    print('A is greater than B')
elif a > b:
    print('A and B are equal')
elif a != b:
    print('sample')
elif a != b:
    print('A and B are equal')
    
else:
    print('A is less than B')

A is less than B

In [122]:
# a>b, a==b, a<b

x = 20
y = 30

if x > y:
    print("x is larger")
elif x == y:
    print("x and y are equal")
else:
    print('y is greater than x')

y is greater than x

In [123]:
# shaort hand if a > b: print("a is greater than b")

x = 10
y = 20

if y > x: print('y is grteater than x')

y is grteater than x

In [124]:
# short hand if else print("A") if a > b else print("B") 

x = 20
y = 10

print('x is less than y') if x < y else print('x is greater than y')

x is greater than y

# you can add more conditions here in if else

write a python program which will take percentage as input from 
user and returns its grade (dist, first class, 2nd class, pass class)

In [125]:
# write more than one conditions use and and or

# nested if .. else

x = int(input('Enter the number:'))

if x > 100:
    if x > 150:
        print("Number is greater than 100 and 150")
    elif x ==150:
        print("Number is equal to 150")
    else:
        print("number is greater than 100 and less than 150")
elif x == 100:
    print("Number is equal to 100")
else:
    print("Number is less than 100")

In [126]:
# pass staement

x = 10
y = 20

if y > x:
    pass

### While loop

while <condition> :
    statement-1
    statement-2

In [128]:
# print series of numbers

x = 1

while x <= 3:
    print(x)
    x = x + 1

1
2
3

In [129]:
# break statement

x = 1

while x <= 20:
    print(x)
    if x == 10:
        #pass
        break
    x = x + 1

1
2
3
4
5
6
7
8
9
10

In [130]:
# Continue stmt

x = 1

while x <= 20:
    
    if x == 10:
        x = x + 1
        continue
        print(x)
        print(x)
        
    print(x)
    x = x + 1

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
20

In [131]:
# else below while

x = 0
while x < 10:
    
    if x == 5:
        x += 1
        continue
                
    print(x)
    x += 1
else:
    print("There is no more statement to execute")

0
1
2
3
4
6
7
8
9
There is no more statement to execute

In [132]:
# while on list and tuple

list1 = ["mango","cherry","papaya","bluberry","apple","banana"]

print(list1)

print("while on List:-")

x = 0
while x < len(list1):
    print(list1[x])
    x = x + 1

['mango', 'cherry', 'papaya', 'bluberry', 'apple', 'banana']
while on List:-
mango
cherry
papaya
bluberry
apple
banana

In [133]:
tup = ["mango","cherry","papaya","bluberry","apple","banana"]

print(tup)

print("while on Tuple:-")

x = 0
while x < len(tup):
    print(tup[x])
    x += 1

['mango', 'cherry', 'papaya', 'bluberry', 'apple', 'banana']
while on Tuple:-
mango
cherry
papaya
bluberry
apple
banana

### For Loop

or iterates over a list, tuple, set, dict and string

for i in <data> :
    print(i)

In [135]:
# list

list1 = ["mango","cherry","papaya","bluberry","apple","banana"]

print(list1)
print("Length: ",len(list1))

for x in list1:
    print(x)

['mango', 'cherry', 'papaya', 'bluberry', 'apple', 'banana']
Length:  6
mango
cherry
papaya
bluberry
apple
banana

In [136]:
for i in list1:
    if i == 'papaya':
        print(i)

papaya

In [137]:
# String
str1 = "This is a python string"

print(str1)

for ch in str1:
    print(ch)

This is a python string
T
h
i
s

i
s

a

p
y
t
h
o
n

s
t
r
i
n
g

In [138]:
# Tuple

tup = (100,200,300,10,20,40)

print(tup)

for val in tup:
    if val==10:
        continue
        
    print(val)

    
for val in tup:
    if val==10:
        break
        
    print(val)

(100, 200, 300, 10, 20, 40)
100
200
300
20
40
100
200
300

In [139]:
stud = {
    'fname': 'Vaibhav',
    'lname': 'Patil',
    'mobile': 9999,
    'email': 'v@p.com'
}

print(stud)

print("Deafult it will print keys:")
for i in stud:
    print(i)
print('Value:')
for x in stud:
    print(stud[x])

print("Acess keys of dict:")

for key in stud.keys():
    print(key)
print("Acess the value:")

for val in stud.values():
    print(val)
print('Key Value from Dict:')
for key,val in stud.items():
    print(key,":",val)

{'lname': 'Patil', 'email': 'v@p.com', 'fname': 'Vaibhav', 'mobile': 9999}
Deafult it will print keys:
lname
email
fname
mobile
Value:
Patil
v@p.com
Vaibhav
9999
Acess keys of dict:
lname
email
fname
mobile
Acess the value:
Patil
v@p.com
Vaibhav
9999
Key Value from Dict:
lname : Patil
email : v@p.com
fname : Vaibhav
mobile : 9999

In [140]:
dict1 = {
    'name' : 'Nitn',
    'mobile' : 9975923975,
    'address' : 'sangola',
    'job' : 'Data',
    'salary' : 550000.20,
    1 : 10000
}

print(dict1)

print("for on dict printing keys:")
for x in dict1:
    print(x)
    
print("for on dict printing keys:")
for x in dict1.keys():
    print(x)
    
print("for on dict printing values:")
for x in dict1.values():
    print(x)

print("for on dict printing values:")
for x,y in dict1.items():
    print("(",x,",",y,")")

{'mobile': 9975923975, 'address': 'sangola', 1: 10000, 'name': 'Nitn', 'job': 'Data', 'salary': 550000.2}
for on dict printing keys:
mobile
address
1
name
job
salary
for on dict printing keys:
mobile
address
1
name
job
salary
for on dict printing values:
9975923975
sangola
10000
Nitn
Data
550000.2
for on dict printing values:
( mobile , 9975923975 )
( address , sangola )
( 1 , 10000 )
( name , Nitn )
( job , Data )
( salary , 550000.2 )

In [141]:
# set

set1 = {"mango","cherry","papaya","bluberry","apple","banana"}

print(set1)
print("Length:", len(set1))

for i in set1:
    print(i)

{'mango', 'cherry', 'bluberry', 'banana', 'papaya', 'apple'}
Length: 6
mango
cherry
bluberry
banana
papaya
apple

### range

returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), 
and ends at a specified number

In [142]:
#for i in range(10):

for no in range(5):
    print(no)

0
1
2
3
4

In [143]:
# range(1,10)- starting from 1, to 9, exclude 10

for val in range(100, 110):
    print(val)

100
101
102
103
104
105
106
107
108
109

In [144]:
# range(10,100,5)

for i in range(5,51,5):
    print(i)

5
10
15
20
25
30
35
40
45
50

In [145]:
# print odd number from 1 to 100

for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [146]:
# else in for

for i in range(100,201,10):
    print(i)
else:
    print("There is nothing to print in for now")

100
110
120
130
140
150
160
170
180
190
200
There is nothing to print in for now

In [147]:
# take two list or tuples and use nested for loop

# Create a interger list, tuple, set by taking iunput from user, then print values using for loop and while loop

list1 = []

list_size = input("Enter the size of list: ")
lsize = int(list_size)

while lsize > 0:
    val = input("Enter the value: ")
    val1 = int(val)
    list1.append(val1)
    lsize -= 1

print("The created list is: ",list1)

# How to take input from user

a = int(input("Enter the number"))
b = int(input('Enter another no.'))

s = a + b

print("sum:",s)

tup = ()

tup_size = int(input("Enter the size of tuple"))
list1 = list(tup)

while tup_size>0:
    
    val = int(input("Enter the vale:"))
    
    list1.append(val)
    tup_size = tup_size -1

tup = tuple(list1)
   
print(tup)

s = set({})

set_size = int(input("Enter the size of set:"))

while set_size>0:
    val = input("Enter the value: ")
    s.add(val)
    set_size -= 1
print("Created set is : ",s)

# Assignment

*
* *
* * *
* * * *
* * * * *
* * * * * *

write a python program to print above structure.

# Assignment
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

write a python program to print stars as shown above.

### Function

1. function is a block of statement which will get executed when 
we call that fuction.
2. Function is a block code that performs a particular task.
Synatx:
def function_name():
    Statement-1
    statement-2

In [172]:
def display():
    print('This is inside my function')

display()

This is inside my function

In [175]:
print('statement above function')

def display():
    print('This is inside my function')

display()

statement above function
This is inside my function

In [177]:
print('This is first')

def display():
    print('This is inside my function')
    print('Again inside function')

print('Statement before calling function')
display()
print('statement after function')

This is first
Statement before calling function
This is inside my function
Again inside function
statement after function

create a data of 5 students containing first name and last name
list1 = []


def StudDetails():# definition of a function
    for i in range(0,3):
        fname = input("Enter the first name: ")
        lname = input("Enter the last name: ")
        print("name of student is : ", fname, " ",lname)
        name = fname + lname
        list1.append(name)

print("Making a call to function: ")

StudDetails() # calling a function

print("List of the students: ",list1)

In [149]:
print("Here this is normal execution block")

def Myfun():
    print("I am inside the function..!")

print("Calling my function..")
Myfun()
print("function execution is over")

Here this is normal execution block
Calling my function..
I am inside the function..!
function execution is over

In [179]:
# Arguments

def display(val):
    print("The value is: ", val)

value = 100

display(value)

The value is:  100

In [181]:
# pasing two arguments to function

def add(a,b):
    addition = a + b
    print("The sum is: ", addition)

x = int(input("Enter fisrt number"))
y = int(input('Enter second number'))

add(x,y)

Enter fisrt number100
Enter second number200
The sum is:  300

In [182]:
# return values

def mul(a,b):
    res = a * b
    return res
    
x = 10
y = 20

result = mul(x,y)
print("Final Multiplicaqtion:", result)

Final Multiplicaqtion: 200

In [152]:

def Multiply(a,b):
    m = a * b
    return m

print("Do multiplication")

x = 10
y = 20

res = Multiply(x,y)

print("Multiplication is : ",res)

Do multiplication
Multiplication is :  200

In [189]:
# UNKNOWN PARAMETERS
# There may be the case where u dont know the parameters

def display(*letter):
    print("Printing all parameters:",letter)
    l = len(letter)
    print('No. of paramter are: ',l)
    for x in letter:
        print(x)
    

display('A','B',"This is string",'C','D','E')

Printing all parameters: ('A', 'B', 'This is string', 'C', 'D', 'E')
No. of paramter are:  6
A
B
This is string
C
D
E

In [191]:
# argument as key value pair where order does not matter

def display(val_1, val_3, val_2):
    print("The third valuie is: ", val_3)
    print('The first valuie is: ', val_1)

display(val_1= 100, val_2=200, val_3=300)

The thisrd valuie is:  300
The first valuie is:  100

In [167]:
# if dont know number of para then add ** before identifier
def my_function(**name):
  print("His last name is ",name)
  print("His last name is ",name['fname'])

my_function(fname = "Nitin", lname = "Khot")

His last name is  {'lname': 'Khot', 'fname': 'Nitin'}
His last name is  Nitin

In [193]:
# Deafault value to parameter
def AltEmail(email = "deafault@email.com"):
    print("Alternate email is : ",email)

print("Alternate email of student:")

AltEmail("abc@gmail.com")

AltEmail()

Alternate email of student:
Alternate email is :  abc@gmail.com
Alternate email is :  deafault@email.com

# write a program to swap any two values from a list using 
# function Swap()
input:
list1 = [1,2,3,7,4,5,8,10]
output:
list1 = [1,2,10,7,4,5,8,3]

# pass list as arument and get the sum of list
list1 = [1,2,3,7,4,5,8,10]

# pass tuple and count number of element in tuple

tup = (1,2,3,7,4,5,8,10)

### Lambda Function

1. lambda is a small anonymous function.

2. lambda function can take any number of arguments, 
but can only have one expression.

Syntax:

lambda arguments : expression


Why Lambda?

Lambda is anonymous and small function but it is very powerful.
we can know its power if we use it inside other function

In [4]:
# a lambda function which takes an argument and returns a square of 
# that number 

square = lambda num : num ** 2

print("Find the square of 10:")
print(square(10))

print("Find the square of 20:")
print(square(20))

Find the square of 10:
100
Find the square of 20:
400

In [7]:
# Any number of arguments

add =  lambda x,y,z : x+y+z

print("find addition of 3 numbers: ")

print(add(10,20,30))

find addition of 3 numbers:
60

In [13]:
double = lambda x : x * 2
print('Double the number: ')
print(double(10))

tripple = lambda y : y * 3

print('Tripple the number:')
print(tripple(20))

Double the number:
20
Tripple the number:
60

In [17]:
def fun(y):
    print('The value of y:',y)
    return (lambda x: x * y)

    
double = fun(2)

print(double(10))

The value of y: 2
20

In [9]:
# why lambda is powerful?

# use it lambda inside another function 
# lets understand that it is added with some other unknown number

def myfun(n):
    print("Value of N is :",n)
    
    return (lambda a : a * n)

# add 10 with other number which is unknown
# myfunc(10) # this will not give any result as it will be multiplied with none

# now call our lambda function inside other function

#myfun(10)

otherfun = myfun(5)

otherfun(10)

# you can create calling function in many ways

#otherfun_1 = myfun(10)
#print(otherfun_1(20))

Value of N is : 5

50

### Python Class

# In python everything is object, which has its properties and methods / function

Python is object oriented programming language.

class is blueprint of an object, from which objects can be created.

syntax:

class ClassName:
    class body
    
    
Class: TE

properties: 
1. rollno
2. name
3. marks

methods:
display()

object:

o1

name = Akshay
rollno = 1
marks = 80

o2

name = Amar
rollno = 2
marks = 82



class:  Employee

properties:
1. id
2. name
3. salary
4. department

methods:

PrintSalary()

PrintPdetails()

Features of OOP:
1. Inheritance
2. Abstraction
3. Polymorphism

In [1]:
# create a class student
class Student:
    
    # Properties
    name = 'Akshay'
    
# create a object

o1 = Student()

In [3]:
# print the object

# obj.property
print(o1.name)

Akshay

In [6]:
class employee:
    #properties
    eid = 'emp-1'
    ename = 'John'
    salary = 20000

# create a object
e = employee()

print("Details of employee:")
print('ID: ', e.eid)
print('Name: ', e.ename)
print('Salary: ', e.salary)

Details of employee:
ID:  emp-1
Name:  John
Salary:  20000

In [161]:
# create object of class student

s1 = Stud()

s = Stud()

print(s1.name)

Nitin

In [15]:
# How the real class works

# __init__() Function

# 1. All classes will have a method called __init__()
# 2. This function gets called when an object is being created.
# 3. This function is used to assign the values to the properties of 
#    the class
# 4. It means that, we can do all operations which are neccessary 
#    to do at the time of the object creation.
# 5. __init__() method get called automatiucally when an object is 
#    initiated



class employee:
    def __init__(self,id_1, name_1,salary_1, mobile_1):
        self.eid = id_1
        self.ename = name_1
        self.esalary = salary_1
        self.emobile = mobile_1

o1 = employee(101, 'Akshay', 20000, 9975923975)

print('Employee Details are:')
print("ID: ",o1.eid)
print("Name: ",o1.ename)
print('Salary: ', o1.esalary)
print('Mobile: ', o1.emobile)


o2 = employee(102, 'Amar', 30000, 5555555)


print('Employee Details are:')
print("ID: ",o2.eid)
print("Name: ",o2.ename)
print('Salary: ', o2.esalary)
print('Mobile: ', o2.emobile)

Employee Details are:
ID:  101
Name:  Akshay
Salary:  20000
Mobile:  9975923975
Employee Details are:
ID:  102
Name:  Amar
Salary:  30000
Mobile:  5555555

In [8]:
# methods in class
# self:
# self is default parameter to be used to access 
# the values in current object
# we can give any name instead of the self but it has to be the 1st parameter

class Student:
    def __init__(self, fnm, lnm):
        self.fname = fnm
        self.lname = lnm
        
        
    def Display(self):
        print('The first name is: ', self.fname)
        print('The last name is : ', self.lname)
    

s = Student("Amar",'Yadav')

s.Display()

s1 = Student('Akshay', 'Patil')
 
s1.Display()

stud = Student('Priya', 'Mishra')
stud.Display()

The first name is:  Amar
The last name is :  Yadav
The first name is:  Akshay
The last name is :  Patil
The first name is:  Priya
The last name is :  Mishra

In [164]:
# accessing values and modifying it

class Student:
    def __init__(self, name, clas, rollno):
        self.name = name
        self.clas = clas
        self.rollno = rollno
    
    def Display(self):
        print("Name of student is: ",self.name)
        print("Clas of student is: ",self.clas)
        print("Roll No of the students: ",self.rollno)
      
    
    def ChangeName(self,ch_name):
        self.name = ch_name
        print("\n")
        print("Calling Display from ChangeName():\n ")
        self.Display()

  

r = Student("Rahul", "BE", 13)

r.Display()

nm = "Nitin"

r.ChangeName(nm)

Name of student is:  Rahul
Clas of student is:  BE
Roll No of the students:  13


Calling Display from ChangeName():

Name of student is:  Nitin
Clas of student is:  BE
Roll No of the students:  13

### Inheritance

Inhritance is a property of OO Language that allows a class to derive properties of other/parent class 
Parent / Base class:
It is the class which gets inherited

Derived / Child Class:
It is the class which inherits properties from other class or parent class

class Parent:
    name
    mobile
    address
    email
    


class kidz(Parent):

In [9]:
# Base class

class Person:
    def __init__(self, fnm, lnm):
        self.fname = fnm
        self.lname = lnm
    
    def Display(self):
        print("First Name: ", self.fname)
        print('Last Name: ', self.lname)

        
class Student(Person):
    pass


s = Student('Amar', 'Yadav')

s.Display()

First Name:  Amar
Last Name:  Yadav

In [3]:

# child class
class Student(Person):
    pass

s = Student("Nitin","Khot")

s.Display()

First Name :  Nitin
Last Name :  Khot

In [9]:
# example
# base class
class Person:
    def __init__(self,fname, lname, addr):
        self.first_name = fname
        self.last_name = lname
        self.address = addr
    
    def Display(self):
        print("First Name: ", self.first_name)
        print('Last Name: ', self.last_name)
        print('Address : ', self.address)

# p = Person('Akshay',"Yadav", "Pune")

# p.Display()

# child class
class Employee(Person):
    def __init__(self, fname, lname, addr, id1, sal):
        Person.__init__(self,fname, lname, addr)
        self.eid = id1
        self.salary = sal

    def Display(self):
        print("First Name: ", self.first_name)
        print('Last Name: ', self.last_name)
        print('Address : ', self.address)
        print('Employee ID: ', self.eid)
        print('Employee Salary: ', self.salary)

e = Employee('Akashay', "Yadav", 'Nagpur', 100, 20000)
e.Display()

First Name:  Akashay
Last Name:  Yadav
Address :  Nagpur
Employee ID:  100
Employee Salary:  20000

In [4]:
# add init method, How does it overrides the init method of base class
# using class name and super() method
# Overriding base class Init method

class Student(Person):
  def __init__(self, fname, lname,mob):
    self.fname = fname
    self.lname = lname
    self.mob = mob

s1 = Student("Vaibhav", "Bandal", 9975992)
s1.Display()

First Name :  Vaibhav
Last Name :  Bandal

In [5]:
# Add other properties to child class

class Student(Person):
  def __init__(self, fname, lname, clas):
    Person.__init__(self, fname, lname)
    self.clas = clas
    
  def Display_Stud(self):
    print("First name: ",self.fname)
    print("Last name: ",self.lname)
    print("Clas: ",self.clas)
    
    
s1 = Student("Vaibhav", "Bandal", "BE-Computer")
s1.Display_Stud()

First name:  Vaibhav
Last name:  Bandal
Clas:  BE-Computer

### Iterator in Python

Iterator are used to traverse the iterables: like List, Tuple, Set and Dictionary, string.

Iterator has countable number of values

Iterator are used to traverse through the values one by one

It has two methods __iter__() and __next__()    

iter() method is used to get an iterator over iterables like string,list,tuple,set and dictionary

In [13]:
# example of list 
tup = (10,20,30,40,50)

print(type(tup))

itr = iter(tup) # create an iterator object

print(next(itr))
print(next(itr))
print(next(itr))

<class 'tuple'>
10
20
30

In [ ]:
# Iterator on string

string = "I love python"

itr = iter(string)

print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))
print(next(itr))


# for loop
print("Iterations using for loop:")
for x in string:
    print(x)

In [21]:
# list

list_1 = [10,20,30,40,50,60]

itr1 = iter(list_1)

print(next(itr1))
print(next(itr1))
print(next(itr1))
print(next(itr1))
print(next(itr1))
print(next(itr1))

10
20
30
40
50
60

In [22]:
# for : It get an iterator for a particular data type internally.

for i in list_1:
    print(i)

10
20
30
40
50
60