# Python Programming

Basic: It is a general purpose high level programming language.

Python was developed by Guido Van Rossam at National Research Institute at Netherlands.

official relaese date of python is 20th feb 1991

In [2]:
# Printing Hello 

print("Hello")


print("Simple Statement")

Hello
Simple Statement

Note:

It is very simple to print hello in python, as compared to other programming languages

coding in python is really less time consuming than other programming languages
Python Features

1) Easy to Learn and Use. Python is easy to learn and use. ...
2) Expressive Language. Python language is
more expressive means that
it is more understandable and readable.
3) Interpreted Language. ...
4) Cross-platform Language. ...
5) Free and Open Source. ...
6) Object-Oriented Language. ...
7) Extensible. ...
8) Large Standard Library.

Applications

1) Web Applications.... 2) Desktop GUI Applications.... 3) Software Development.... 4) Scientific and Numeric.... 5) Business Applications.... 6) Console Based Application.... 7) Audio or Video based Applications.... 8) 3D CAD Applications. 9) AI 10) ML, DL 11) Data Analytics
Good to Know

    Functional Programming Features from C
    Object Oriented Programming Features from C++
    Scripting Language Features from Perl and Shell Script
    Modular Programming Features from Modula-3

Identifiers

    names in python are called as identifiers.

    Function name, variable name, module name, class name are identifiers in python

    Rules:

        Alphabet Symbols (Either Upper case OR Lower case)

        If Identifier is start with Underscore (_) then it indicates it is private.

        Identifier should not start with Digits.

        Identifiers are case sensitive.

        We cannot use reserved words as identifiers

        Dollor ($) Symbol is not allowed in Python.

        ex: Akash, akash,AKASH, _aKASH, _AKASH, _akash Wrong: 1_aksh, 1akash, 1AKASH

### Identifiers

In [14]:
x = 10
y = 20

_x = 20

_x_1 = 20

_1 = 10

print(_x_1)
print(_1)

20
10

In [18]:
first_name = 'Sagar'
last_name = "Latake"

print(first_name)
print(last_name)

Sagar
Latake

## Special Notes

    If identifier starts with _ symbol,then it is private
    If identifier starts with __(2 underscore), indicate that it is a strongly private.
    If the identifier starts and ends with two underscore symbols, then such identifiers are language defined special name,
    which is also known as magic methods.
    ex: __init__()
        __DoIt__

## Keywords

There are around 33 keywords:

if,elif,else,while,for,break,continue,return,in,True,False,None,and, or,not,is,yield,try,except,finally,raise,del,with,assert,import,from,as,class,def,pass, global,nonlocal,lambda.

In [4]:
# we can see all keywords from python using below code

sa = 'Hi Hello'

import keyword

print(keyword.kwlist)



len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

33

### Data Types in Python:

    Data type of variable is the type of value inside that variable.
    In python we do not need to mension the data type of variable, It automatically assigns data type.
    int 2. float 3.complex 4.bool 5.str 6.bytes 7.bytearray 8.range 9.list 10.tuple 11.set 12.frozenset 13.dict 14.None

10- int

10.20 float

3+4j - complex

True / False - ( 1 / 0) --- bool

"Hello this is python"  --str

### Data type of variable is the type of value inside that variable

x = 10

x = 20.23

x = 3 + 4j

x = True

x = "Hey Hello"

### Python automatically identify the the type of variable

In [21]:
x = 10 # Declaration

print("Value of x:")
print(x)
print("type of x:")
print(type(x))


print("\n")  # new line

y = 20.23
print("Value of y:")
print(y)
print("type of y:")
print(type(y))

print("\n")
comp = 3 + 4j
print("Value of comp:")
print(comp)
print("Type of comp:")
print(type(comp))

print("\n")
b = True
print("Value of b:")
print(b)
print("Type of b:")
print(type(b))

print("\n")

str1 = "Hey Hello"
print(type(str1))

Value of x:
10
type of x:
<class 'int'>


Value of y:
20.23
type of y:
<class 'float'>


Value of comp:
(3+4j)
Type of comp:
<class 'complex'>


Value of b:
True
Type of b:
<class 'bool'>


<class 'str'>

### Typecasting

int, float, str, boolean, comlex, object.

# What is typecasting:

Conversion of data from one type to another type.

x = "100"

name = "sagar 100 sagar....!!!!"


eg. str1 = "python is best"
str2 = "100"
Note: we can convert str2 into float, int

In [15]:
# int/string to float conversion:
print("Int to float:")
val = 100
print(val)
print(type(val))

val_f = float(val)

print(val_f)
print(type(val_f))

print("string to float: ")
str1 = "300"
print(str1)
print(type(str1))

str1_f = float(str1)

print(str1_f)
print(type(str1_f))

Int to float:
100
<class 'int'>
100.0
<class 'float'>
string to float:
300
<class 'str'>
300.0
<class 'float'>

In [27]:
# float/string to int conversion

print("Float to int typecasting:")
val = 200.9
print(val)
print(type(val))

val_i = int(val)
print(val_i)
print(type(val_i))


print("String to int typecasting:")

str1 = '100'
print(str1)
print(type(str1))

str1_i = int(str1)
print(str1_i)
print(type(str1_i))

Float to int typecasting:
200.9
<class 'float'>
200
<class 'int'>
String to int typecasting:
100
<class 'str'>
100
<class 'int'>

In [34]:
# To convert string of float value, first convert it to float value and 
# then convert float value to int

str2 = "100.20"
print(str2)
print(type(str2))
#int(str2)
str2_f = float(str2)
print(str2_f)

str2_i = int(str2_f)
print(str2_i)



#print("String to int:")
#print(str1)
#print(type(str1))
#var2 = int(str1)
#print(var2)
#print(type(var2))

100.20
<class 'str'>
100.2
100

In [3]:
# int/string to float conversion:

str1 = "python"
var = 100
str2 = "200"
print(var)
print(type(var))
print(var)

print(type(var))

print(str2)
print(type(str2))
var3 = float(str2)
print(var3)
print(type(var3))

print("Demonstration of string to float conversion:")
print(str1)
#var2 = float(str1)

100
<class 'int'>
100
<class 'int'>
200
<class 'str'>
200.0
<class 'float'>
Demonstration of string to float conversion:
python

In [1]:
# float/string to int conversion

var = 100.20
str1 = "200.30"
str2 = "500"
str3 = "python"

print("float to int:")
print(var)
print(type(var))
var1 = int(var)
print(var1)
print(type(var1))

print("String to int:")
print(str2)
print(type(str2))
var3 = int(str2)
print(var3)
print(type(var3))

#print("String to int:")
#print(str1)
#print(type(str1))
#var2 = int(str1)
#print(var2)
#print(type(var2))

print("string to complex:")
cm = "3+4j"
comp = complex(cm)
print(comp)
print(type(comp))


#print("String to int:")
#print(str3)
#print(type(str3))
#var4 = int(str3)
#print(var4)
#print(type(var4))

float to int:
100.2
<class 'float'>
100
<class 'int'>
String to int:
500
<class 'str'>
500
<class 'int'>
string to complex:
(3+4j)
<class 'complex'>

In [17]:
# float, int to string

var = 100.23
var1 = 20
comp = 2+4j


print("float to string:")
print(var)
print(type(var))
var3 = str(var)
print(var3)
print(type(var3))

print("int to string:")
print(var1)
print(type(var1))
var4 = str(var1)
print(var4)
print(type(var4))

print("Complex to string:")
print(comp)
print(type(comp))
var5 = str(comp)
print(var5)
print(type(var5))

float to string:
100.23
<class 'float'>
100.23
<class 'str'>
int to string:
20
<class 'int'>
20
<class 'str'>
Complex to string:
(2+4j)
<class 'complex'>
(2+4j)
<class 'str'>

### Other types to Complex

In [35]:
# use complex() function for conversion
comp = complex(4)
print(comp)
print("The real Part:")
print(comp.real)

print("The imaginary Part:")
print(comp.imag)


# Created complex number using int

comp = complex(4,6)
print(comp)
print("The real Part:")
print(comp.real)

print("The imaginary Part:")
print(comp.imag)


# Create a complex number using float values

# Assignment


# Create a complex number using string


str2 = "20"

c = complex(str2)

print(c)

print("\nCreate a complex number using complete string:")
str1 = "3+4j"
print(str1)
print(type(str1))
c1 = complex(str1)
print(c1)
print(type(c1))
print(c1.real)
print(c1.imag)

(4+0j)
The real Part:
4.0
The imaginary Part:
0.0
(4+6j)
The real Part:
4.0
The imaginary Part:
6.0
(20+0j)

Create a complex number using complete string:
3+4j
<class 'str'>
(3+4j)
<class 'complex'>
3.0
4.0

In [36]:
c = complex(10)
print(c)

(10+0j)

In [37]:
print(complex(10,5)) # 10+5j
print(complex(10.20,4))

# Create a complex number using bool

print(complex(True,False)) # 1+0j

(10+5j)
(10.2+4j)
(1+0j)

### Bool()

1. True
2. False

In [40]:
x = True
x = False

print(x)


print(int(True))

False
1

In [41]:
print(int(False))

0

In [42]:
print(float(True))

1.0

In [43]:
print(float(False))

0.0

In [46]:
print(complex(True))

(1+0j)

In [48]:
c = complex(False)

print(c)


#c = 0+0j

c1 = complex(False,True)

# c1 = 0+ 1j

print(c1)

0j
1j

In [52]:
# Convert bool into str
print(type(True))
var = str(True)
print(var)
print(type(var))

print(type(False))
var = str(False)
print(var)
print(type(var))

<class 'bool'>
True
<class 'str'>
<class 'bool'>
False
<class 'str'>

In [58]:
# float into bool

x = bool(10.10)
print(x)

y = bool(0.0)
print(y)

True
False

In [59]:
print(bool(12))
print(bool(0))

True
False

In [62]:
# Conversion from string to bool

str1 = "Python"
str2 = ""

x = bool(str1)
print(x)

y = bool(str2)
print(y)

True
False

In [68]:
# Conversion of complex number into the bool

x = 1+0j

b = bool(x)
print(b)


x = 4 + 2j

b = bool(x)
print(b)

x = 0 + 0j
b = bool(x)
print(b)

True
True
False

### String

operations: slicing, display

#### String


liscing is making peaces of a string using some separator

[] is a slice opearator

What is string:
    Sequence of characters
    ex. "This is string"

In [13]:
str1 = "This is python string...1111"
print(str1)
print(type(str1))

# like your list

l = ['p','y','t','h','o','n']
print(l)

This is python string...1111
<class 'str'>
['p', 'y', 't', 'h', 'o', 'n']

In [22]:
# assignment
# str1 = "This tutorial is basically designed for beginers"
print(str1)
print(str1[0])
print(len(str1))

print(str1[24])

This is python string...1111
T
28
1

In [23]:
str1[0]

'T'

In [25]:
# 0-28 nothing but the range of index

str1[0:28]

'This is python string...1111'

In [32]:
print(str1[0:5])
# in includes 0,1,2,3,4
# str1[start : end]
# end: not included
str1[5]

This

'i'

In [35]:
print(str1[5:21])
print(str1[20])

is python string
g

In [36]:
print(str1)
print(str1[:21])

This is python string...1111
This is python string

In [39]:
print(str1)
print(str1[10:21])
print(str1[0:])
print(str1[0:24])

This is python string...1111
thon string
This is python string...1111
This is python string...

In [42]:
# Negative index

print(str1)

print(str1[0])

This is python string...1111
T

In [45]:
print(str1[-1])
print(str1[-28])

# Assignment : perform negative index operations.

1
T

In [ ]:
string multiply
negative index