# Python End to End in detail

Basic:
It is a general purpose high level programming language.

Python was developed by Guido Van Rossam at National Research Institute at Netherlands.

official relaese date of python is 20th feb 1991

In [1]:
# Printing Hello 

print("Hello")


print("Simple Statement")

Hello
Simple Statement

# Note:

It is very simple to print hello in python, as compared to other programming languages

coding in python is really less time consuming than other programming languages

# Python Features

    1) Easy to Learn and Use. Python is easy to learn and use. ...
    2) Expressive Language. Python language is
    more expressive means that
    it is more understandable and readable.
    3) Interpreted Language. ...
    4) Cross-platform Language. ...
    5) Free and Open Source. ...
    6) Object-Oriented Language. ...
    7) Extensible. ...
    8) Large Standard Library.

# Applications

1) Web Applications....
2) Desktop GUI Applications....
3) Software Development....
4) Scientific and Numeric....
5) Business Applications....
6) Console Based Application....
7) Audio or Video based Applications....
8) 3D CAD Applications.
9) AI
10) ML, DL
11) Data Analytics

# Good to Know

1. Functional Programming Features from C
2. Object Oriented Programming Features from C++
3. Scripting Language Features from Perl and Shell Script
4. Modular Programming Features from Modula-3

# Identifiers
1. names in python are called as identifiers.
2. Function name, variable name, module name, class name are identifiers in python
3. Rules:

    1. Alphabet Symbols (Either Upper case OR Lower case)
    2. If Identifier is start with Underscore (_) then it indicates it is private.
    3. Identifier should not start with Digits.
    4. Identifiers are case sensitive.
    5. We cannot use reserved words as identifiers
    6. Dollor ($) Symbol is not allowed in Python.

In [2]:
name = 'vaibhav'
Name = 'rahul'

print(name)

print(Name)

vaibhav
rahul

# Special Notes

1. If identifier starts with _ symbol,then it is private
2. If identifier starts with __(2 underscore), indicate that it is a strongly private.
3. If the identifier starts and ends with two underscore symbols, then such identifiers are
language defined special name, 
# which is also known as magic methods.
ex:   [ __DoIt__  ]

In [3]:
# Example of identifiers

a = 10
var = 20.2
str_1 = "python"
_1_sag = 10.20
print(type(a))

<class 'int'>

# Keywords

There are around 33 keywords:

if,elif,else,while,for,break,continue,return,in,True,False,None,and, or,not,is,yield,try,except,finally,raise,del,with,assert,import,from,as,class,def,pass,
global,nonlocal,lambda.

In [4]:
# we can see all keywords from python using below code
import keyword
print(keyword.kwlist)

#len(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Data Types in Python:

1. Data type of variable is the type of value inside that variable.
2. In python we do not need to mension the data type of variable, It automatically assigns data type.
1. int   2. float   3.complex   4.bool   5.str    6.bytes    7.bytearray    8.range    9.list   10.tuple   11.set      12.frozenset    13.dict    14.None

In [5]:
# int

var = 10  # decimal

# we can declare octal and Hex value also
print("Output:")
print(var)
print(type(var))

Output:
10
<class 'int'>

In [6]:
# Float

var = 10.20

print("Output:")
print(var)
print(type(var))

Output:
10.2
<class 'float'>

In [7]:
# Complex
var = 3+4j

# 3 is real part, 4j is imaginary part, j^2 = -1
print("Output:")
print(var)
print(type(var))
print("Printing Real and Imaginary part")
print(var.real)
print(var.imag)

Output:
(3+4j)
<class 'complex'>
Printing Real and Imaginary part
3.0
4.0

In [8]:
# boolean
var = True
print("Output:")
print(var)
print(type(var))

Output:
True
<class 'bool'>

In [9]:
# String data type
var = "python3.9"
# when take input from user: values are considered as "string"
print("Output:")
print(var)
print(type(var))

Output:
python3.9
<class 'str'>

# Typecasting
int,
float,
str,
boolean,
comlex,
object.

# What is typecasting:

Conversion of data from one type to another type.
eg. str1 = "python is best"
str2 = "100"
Note: we can convert str2 into float, int

In [10]:
# int/string to float conversion:

str1 = "python"
var = 100
str2 = "200"
print(var)
print(type(var))
print(var)

print(type(var))

print(str2)
print(type(str2))
var3 = float(str2)
print(var3)
print(type(var3))

print("Demonstration of string to float conversion:")
print(str1)
#var2 = float(str1)

100
<class 'int'>
100
<class 'int'>
200
<class 'str'>
200.0
<class 'float'>
Demonstration of string to float conversion:
python

In [11]:
# float/string to int conversion

var = 100.20
str1 = "200.30"
str2 = "500"
str3 = "python"

print("float to int:")
print(var)
print(type(var))
var1 = int(var)
print(var1)
print(type(var1))

print("String to int:")
print(str2)
print(type(str2))
var3 = int(str2)
print(var3)
print(type(var3))

#print("String to int:")
#print(str1)
#print(type(str1))
#var2 = int(str1)
#print(var2)
#print(type(var2))

print("string to complex:")
cm = "3+4j"
comp = complex(cm)
print(comp)
print(type(comp))


#print("String to int:")
#print(str3)
#print(type(str3))
#var4 = int(str3)
#print(var4)
#print(type(var4))

float to int:
100.2
<class 'float'>
100
<class 'int'>
String to int:
500
<class 'str'>
500
<class 'int'>
string to complex:
(3+4j)
<class 'complex'>

In [12]:
# float, int to string

var = 100.23
var1 = 20
comp = 2+4j
print("float to string:")
print(var)
print(type(var))
var3 = str(var)
print(var3)
print(type(var3))

print("int to string:")
print(var1)
print(type(var1))
var4 = str(var1)
print(var4)
print(type(var4))

print("Complex to string:")
print(comp)
print(type(comp))
var5 = str(comp)
print(var5)
print(type(var5))

float to string:
100.23
<class 'float'>
100.23
<class 'str'>
int to string:
20
<class 'int'>
20
<class 'str'>
Complex to string:
(2+4j)
<class 'complex'>
(2+4j)
<class 'str'>

# Other types to Complex

In [13]:
# use complex() function for conversion

var = 10

print(complex(var))

var1 = 12.4

print(complex(var1))

var3 = "10.23"
print(complex(var3))

(10+0j)
(12.4+0j)
(10.23+0j)

In [14]:
print(complex(10,5)) # 10+5j
print(complex(10.20,4))

print(complex(True,False)) # 1+0j

(10+5j)
(10.2+4j)
(1+0j)

# Bool()

In [15]:
print(int(True))

1

In [16]:
print(int(False))

0

In [17]:
print(float(True))

1.0

In [18]:
print(float(False))

0.0

In [19]:
print(complex(True))

(1+0j)

In [20]:
print(complex(False))

c = 0+0j

print(c)

0j
0j

In [21]:

print(str(True))
print(str(False))

True
False

In [22]:
print(bool(3.1))
print(bool(0.0))

True
False

In [23]:
print(bool(1))
print(bool(0))

True
False

In [24]:
print(bool(""))
print(bool())
print(bool("h"))
print(bool(11))

False
False
True
True

In [25]:
print(bool(1+2j))
print(bool(1+0j))
print(bool(0+2j))
print(bool(0+0j))

True
True
True
False

# String Slicing

operations: slicing

# liscing is making peaces of a string using some separator
# [] is a slice opearator

In [26]:
# assignment
str1 = "This tutorial is basically designed for beginers"

In [27]:
# take simple string

str2 = "Python"

In [28]:
str2[0]

'P'

In [29]:
str2[5]

'n'

In [30]:
str2

'Python'

In [31]:
str2[1]

'y'

In [32]:
str2[0:]

'Python'

In [33]:
str2[:4]
# str2[-6:]

'Pyth'

In [34]:
type(str2)

str

In [35]:
str2[-1]

'n'

In [36]:
str2[-2:]

'on'

In [37]:
str2[-1:]

'n'

In [38]:
str2[-3:]

'hon'

In [39]:
str2[-3:-1]

'ho'

In [40]:
str3 = str2[:4]
str1*3

'This tutorial is basically designed for beginersThis tutorial is basically designed for beginersThis tutorial is basically designed for beginers'

# Immutability

# In python once an object is created, we are not allowed to change
# the content, If you want to change the content PVM will create a 
# new object for it.

In [41]:
var = 100
var1 = var

print(id(var))
print("and \n",id(var1))

print(var is var1)


var = 200.10
var1 = 200.10
var2 = 200.10

print(id(var))
print("and \n",id(var1))

print(id(var2))

print(var is var1)

10897536
and
 10897536
True
140192314358688
and
 140192314358808
140192314358832
False

In [42]:
var = 10+20j
var1 = 10+20j
print(var is var1)
print(id(var))
print("and \n",id(var1))
# ID are different

False
140192296610736
and
 140192296609488

Assignment: Try same for string and boolean types

# bytes and bytearray Data Types:

In [43]:
# bytes can hold the values from 0 to 256
# You cant change the value of bytes once it is created


a = [10,20,30,40,50,60]
print(type(a))

b = bytes(a)

print(type(b))
#b[0]=100
# it will raise error:
# bytes' object does not support item assignment


for i in b:
    print(i)

<class 'list'>
<class 'bytes'>
10
20
30
40
50
60

In [44]:
# bytearray

# You can change the value of bytearray after creatation also


a = [10,20,30,40,50,60]
print(type(a))

b = bytearray(a)

print(type(b))

for i in b:
    print(i)

b[1]= 150
print("New List:")
for i in b:
    print(i)
print("This is difference")

<class 'list'>
<class 'bytearray'>
10
20
30
40
50
60
New List:
10
150
30
40
50
60
This is difference

# Data Types

Text Type=>str
Numeric Type=>int, float, complex
Sequence Type=>list, tuple, range
Mapping Type=>dict
Set Type=>set, frozenset
Boolean Type=>bool
Binary Types=>bytes, bytearray, Memoryview

# 1. List

1. List stores multiple items with different data types.
2. [] brackets are used to create list
3. List is ordered, changeable and stores duplicates also.
4. List is growable, elements are added at end of list.

In [45]:
# ex
list1 = [1,2,3,4,5]
list2 = [10.2,20.1,30.3,40.0,50.21]
list3 = ['Nitin', 'Datta', 'Rahul', 'Padmaja']
list4 = [1,10.2,'Nitin']

print(list1)
print(list2)
print(list3)
print(list4)

[1, 2, 3, 4, 5]
[10.2, 20.1, 30.3, 40.0, 50.21]
['Nitin', 'Datta', 'Rahul', 'Padmaja']
[1, 10.2, 'Nitin']

# Accesing list items

In [46]:
print(type(list1))
type(list1)

<class 'list'>

list

In [47]:
print(list1[0])
print(list2[1])
print(list3[0])
print(list1)
print(list2)
print(list3)
print(list4)

print("************")
print(list1)
list1[1]

1
20.1
Nitin
[1, 2, 3, 4, 5]
[10.2, 20.1, 30.3, 40.0, 50.21]
['Nitin', 'Datta', 'Rahul', 'Padmaja']
[1, 10.2, 'Nitin']
************
[1, 2, 3, 4, 5]

2

In [48]:
list2[0: 10]

[10.2, 20.1, 30.3, 40.0, 50.21]

In [49]:
list2[0:-2]

[10.2, 20.1, 30.3]

In [50]:
print('length of list1:')
print(len(list1))


len(list3)

length of list1:
5

4

In [51]:
print(list1)
list1.append("sagar")
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 'sagar']

In [52]:
print(list1)
list1.remove("sagar")
print(list1)

[1, 2, 3, 4, 5, 'sagar']
[1, 2, 3, 4, 5]

In [53]:
print(list1)
list1.remove(3)
print(list1)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

# Available operations on list

list1.append
list1.clear
list1.copy
list1.count
list1.extend
list1.index
list1.insert
list1.pop
list1.remove
list1.reverse
list1.sort

#Change Values:

In [54]:
print(list1)
list1.append(6)
print(list1)

[1, 2, 4, 5]
[1, 2, 4, 5, 6]

In [55]:
print(list1)
list1.remove(6)
print(list1)

[1, 2, 4, 5, 6]
[1, 2, 4, 5]

In [56]:
list_1 = list1.copy()
print(list_1)

[1, 2, 4, 5]

In [57]:
print(list1)

list1.extend([1,"Sagar"])
l = ['apple', 'banana']
list1.extend(l)
print(list1)

[1, 2, 4, 5]
[1, 2, 4, 5, 1, 'Sagar', 'apple', 'banana']

In [58]:
print(list1.index('apple'))

6

In [59]:
print(list1)
list1.insert(3,100) # list1.insert(index, value_to_insert)
print(list1)

[1, 2, 4, 5, 1, 'Sagar', 'apple', 'banana']
[1, 2, 4, 100, 5, 1, 'Sagar', 'apple', 'banana']

In [60]:
print(list1)
list1.pop(1) # pop element at this location list1.pop(location/index)
print(list1)
list1.pop() # pop last element
print(list1)

[1, 2, 4, 100, 5, 1, 'Sagar', 'apple', 'banana']
[1, 4, 100, 5, 1, 'Sagar', 'apple', 'banana']
[1, 4, 100, 5, 1, 'Sagar', 'apple']

In [61]:
print(list1)
list1.reverse()
print(list1)

[1, 4, 100, 5, 1, 'Sagar', 'apple']
['apple', 'Sagar', 1, 5, 100, 4, 1]

In [62]:
list_1 = [100,2,200,88,99,20]
print(list_1)
print("Ascending")
list_1.sort(reverse=False) # Ascending
print(list_1)
print("Descending")
list_1.sort(reverse=True) # Descending
print(list_1)

[100, 2, 200, 88, 99, 20]
Ascending
[2, 20, 88, 99, 100, 200]
Descending
[200, 100, 99, 88, 20, 2]

In [63]:
print(list1)
list1[1] = "XYZ"
print(list1)

['apple', 'Sagar', 1, 5, 100, 4, 1]
['apple', 'XYZ', 1, 5, 100, 4, 1]

In [64]:
print(list1)
list1[2:4] = ['Nitin_1', 'Rahul_1']
print(list1)

['apple', 'XYZ', 1, 5, 100, 4, 1]
['apple', 'XYZ', 'Nitin_1', 'Rahul_1', 100, 4, 1]

In [65]:
print(len(list1))
#list1[9] = 'Padmaja'
print(list1)

7
['apple', 'XYZ', 'Nitin_1', 'Rahul_1', 100, 4, 1]

# Tuple

1. Tuple is ordered and unchangeble
2. Immutable (you cant change the elements or cant add elements in tuple)
3. () are used to represent the tuple
4. Allow duplicates
5. tuples are read only version of your list except list is growable

In [66]:
 tup = ("apple",'apple', "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tup)

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [67]:
print(len(tup))
tup.count('apple')
tup.index('banana')

8

2

In [68]:
tup1 = ("apple")
print(type(tup1))

tup1 = ("apple",)
print(type(tup1))

<class 'str'>
<class 'tuple'>

In [69]:
tup2 = ("abc", 34, True, 40, "male")
print(tup2)

('abc', 34, True, 40, 'male')

In [70]:
tup3 = tuple((10,20,30)) # tuple() constructor
print(tup3)

(10, 20, 30)

In [71]:
# access
print(tup)
tup[1]

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

'apple'

In [72]:
print(tup)
tup[-2]

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

'melon'

In [73]:
# range of items
tup[0:2]

('apple', 'apple')

In [74]:
# change tuple value using list
# Do here
print(tup)
print(type(tup))
var = list(tup)
print(var)
print(type(var))

# change value

var[2] = 'potato'
print(var)

# convert back to tuple

tup = tuple(var)
print(tup)

('apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
<class 'tuple'>
['apple', 'apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
<class 'list'>
['apple', 'apple', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
('apple', 'apple', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [75]:
# Add items
print(tup)
print(type(tup))
var = list(tup)
print(var)
print(type(var))

var.insert(2,'tomato')

tup = tuple(var)
print(tup)

# convert back to tuple

('apple', 'apple', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
<class 'tuple'>
['apple', 'apple', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
<class 'list'>
('apple', 'apple', 'tomato', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango')

In [76]:
# tuple concat +

In [77]:
# remove items using list

In [78]:
# Complete deletion of tuple using del tuple_name

In [79]:
# Use of asterisk
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [80]:
 fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [81]:
# Methods: count() and index()
print(tup)
cnt = tup.count('tomato')
print(cnt)

print(tup)
ind = tup.index('potato')
print(ind)

('apple', 'apple', 'tomato', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
1
('apple', 'apple', 'tomato', 'potato', 'cherry', 'orange', 'kiwi', 'melon', 'mango')
3

In [82]:
# Try assigning values to tuples
# tup[0] = 'grapes'
# TypeError: 'tuple' object does not support item assignment

# Set

1. set is unordered collections of elements
2. It is mutable
3. It is growable
4. Set items are unchangeable
5. {} are used to represent set
6. Index concept is not applicable
7. duplicates are not allowed

In [83]:
s = {1,2,3,'sagar', 'nitin', 'cherry'}
print(s)
print(type(s))

{'nitin', 1, 2, 3, 'sagar', 'cherry'}
<class 'set'>

In [84]:
print(len(s))

6

In [85]:
# set() constructor
set1 = set(("apple", "banana", "cherry"))
print(set1)
print(type(set1))

{'apple', 'banana', 'cherry'}
<class 'set'>

In [86]:
# accessing set
val= "banana" in s

print(val)

print(1 in s)

False
True

In [87]:
# once set is created u can not change elements value, 
# but u can add values
print(set1)
set1.add('orange')
print(set1)

{'apple', 'banana', 'cherry'}
{'apple', 'orange', 'banana', 'cherry'}

In [88]:
# using update you can add any iterable items like set, list,tuple, dict-keys
set2 = {"pineapple", "mango", "papaya"}
#dict1 = {'a': 97}
tup = (1,2,3)

set1.update(set2)
print(set1)
set1.update(tup)

print(set1)

{'apple', 'pineapple', 'mango', 'cherry', 'banana', 'papaya', 'orange'}
{'apple', 1, 2, 3, 'pineapple', 'mango', 'cherry', 'banana', 'papaya', 'orange'}

In [89]:
# remove(), discard(), pop()
print("Remove using remove():\n",set1)
#set1.remove('banana')
print(set1)

print("Remove using discard():\n",set1)
set1.discard(2)
print(set1)

print("Remove using pop():\n",set1)
res = set1.pop()
print(set1)
print(res)

Remove using remove():
 {'apple', 1, 2, 3, 'pineapple', 'mango', 'cherry', 'banana', 'papaya', 'orange'}
{'apple', 1, 2, 3, 'pineapple', 'mango', 'cherry', 'banana', 'papaya', 'orange'}
Remove using discard():
 {'apple', 1, 2, 3, 'pineapple', 'mango', 'cherry', 'banana', 'papaya', 'orange'}
{'apple', 1, 3, 'pineapple', 'mango', 'cherry', 'banana', 'papaya', 'orange'}
Remove using pop():
 {'apple', 1, 3, 'pineapple', 'mango', 'cherry', 'banana', 'papaya', 'orange'}
{1, 3, 'pineapple', 'mango', 'cherry', 'banana', 'papaya', 'orange'}
apple

In [90]:
# union

# adds elements of two sets and create new set

print(s)
print()
s1 = s.union(set1)
print(s1)

# update method word for union only but adds element to calling set

{'nitin', 1, 2, 3, 'sagar', 'cherry'}

{'nitin', 1, 2, 3, 'pineapple', 'sagar', 'orange', 'mango', 'banana', 'papaya', 'cherry'}

In [91]:
#
print(s)
print(set1)
intr = s.intersection(set1)
print("itersection:\n",intr)

# keeps duplicates in s1 
s.intersection_update(set1)
print("itersection Update:\n",s)

{'nitin', 1, 2, 3, 'sagar', 'cherry'}
{1, 3, 'pineapple', 'mango', 'cherry', 'banana', 'papaya', 'orange'}
itersection:
 {1, 3, 'cherry'}
itersection Update:
 {1, 3, 'cherry'}

In [92]:
# keeps elements which are not present in other set
s_1 ={1,2,3,4,5,6}
s_2 = {3,5,7,8,9}

print(s)
print(set1)
#s.symmetric_difference_update(set1)

print(s) 


# returns new set

print("Symmetric Difference:\n")

k = s_1.symmetric_difference(s_2) 
# return elements which are present in s_1 not in s_2 + present in s_2 but not in s_1
v = s_1.difference(s_2) 
# returns new set with elements present in s_1 but not in s_2
print("Symmetric difference:\n",k)
print("difference:\n",v)

{1, 3, 'cherry'}
{1, 3, 'pineapple', 'mango', 'cherry', 'banana', 'papaya', 'orange'}
{1, 3, 'cherry'}
Symmetric Difference:

Symmetric difference:
 {1, 2, 4, 6, 7, 8, 9}
difference:
 {1, 2, 4, 6}

In [93]:
#isdisjoint()Returns whether two sets have a intersection or not
#issubset()Returns whether another set contains this set or not
#issuperset()Returns whether this set contains another set or not

print(s.isdisjoint(set1))
print("S:\n")
print(s)
print("Set1:\n")
print(set1)
print(set1.issubset(s))
print(set1.issuperset(s))

False
S:

{1, 3, 'cherry'}
Set1:

{1, 3, 'pineapple', 'mango', 'cherry', 'banana', 'papaya', 'orange'}
False
True

In [94]:
# del and clear() method removes the set completely

# uncomment to run it and see result
print(s)
#del s1
#print(s1)

{1, 3, 'cherry'}

# frozenset

In [95]:
# frozen set is same as set but it is immutable

print(type(set1))
s = frozenset(set1)
print(s)
print(type(s))
# supported methods for frozen set

s1 = s.copy()
'''
s.difference()
s.intersection()
s.isdisjoint()
s.issubset()
s.issuperset()
s.symmetric_difference()
s.union()
'''
print(s1)
print(type(s1))

<class 'set'>
frozenset({1, 3, 'pineapple', 'orange', 'mango', 'banana', 'papaya', 'cherry'})
<class 'frozenset'>
frozenset({1, 3, 'pineapple', 'orange', 'mango', 'banana', 'papaya', 'cherry'})
<class 'frozenset'>

# Dictionary

1. stores data in key:value pair
2. It is ordered, changeable and does not allow duplicates.
3. {} are used to write dictionaries
4. Items are reffered by using key
5. From Python version 3.7, dictionaries are ordered.

In [96]:
d = {
    1: 'a',
    2: 'b',
    3: 'c'   
    }

dict1 = {
    'name' : 'Nitn',
    'mobile' : 9975923975,
    'address' : 'sangola',
    'job' : 'Data',
    'salary' : 550000.20,
    1 : 10000
    
}
print(d)

print(type(dict1))

{1: 'a', 2: 'b', 3: 'c'}
<class 'dict'>

In [97]:
print(dict1['name'])
dict1['mobile']
dict1['job']
print(d)
d[3]

Nitn
{1: 'a', 2: 'b', 3: 'c'}

'c'

In [98]:
print(len(dict1))

len(d)

6

3

In [99]:
print(type(dict1))
type(d)

<class 'dict'>

dict

In [100]:
# accesing elemnts

print(dict1['salary'])

s = dict1.get('job')
print(s)
dict1['address']
dict1.get('salary')


print(d[2])
r = d.get(3)
print(r)

550000.2
Data
b
c

In [101]:
print(dict1.keys())
dict1.values()

d.keys()
d.values()

dict_keys([1, 'address', 'name', 'salary', 'job', 'mobile'])

dict_values(['a', 'b', 'c'])

In [102]:


# add new item
dict1['c_address'] = 'Pune'


dict1['alt_mo'] = 7778778899
print(dict1.keys())
print(dict1.values())



dict1['email'] = 'nitin@gmail.com'
print(dict1.keys())
print(dict1.values())

d[4] = 'd'

print(d)

dict_keys([1, 'alt_mo', 'address', 'name', 'salary', 'c_address', 'job', 'mobile'])
dict_values([10000, 7778778899, 'sangola', 'Nitn', 550000.2, 'Pune', 'Data', 9975923975])
dict_keys([1, 'alt_mo', 'address', 'name', 'salary', 'c_address', 'job', 'email', 'mobile'])
dict_values([10000, 7778778899, 'sangola', 'Nitn', 550000.2, 'Pune', 'Data', 'nitin@gmail.com', 9975923975])
{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

In [103]:
# values
print(dict1.values())

dict_values([10000, 7778778899, 'sangola', 'Nitn', 550000.2, 'Pune', 'Data', 'nitin@gmail.com', 9975923975])

In [104]:
dict1.items()
print(d)
d.items()

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

dict_items([(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')])

In [105]:
#print(dict1.items())
#print(dict1)
print(d)

4 in d

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

True

In [106]:
print('name' in dict1)

True

In [107]:
# change value
#print(dict1)
dict1['height'] = 180
#print(dict1)

print(d)
d[3] = 'cc'
d.values()

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

dict_values(['a', 'b', 'cc', 'd'])

In [108]:
# update
#print(dict1)
#dict1.update({'frined':'rahul',
#            'city':'Indapur'})
#print(dict1)

print(d)
d.update({
    1: 'apple',
    5: 'e'
})

print(d.items())

{1: 'a', 2: 'b', 3: 'cc', 4: 'd'}
dict_items([(1, 'apple'), (2, 'b'), (3, 'cc'), (4, 'd'), (5, 'e')])

In [109]:
print(type(dict1))

<class 'dict'>

In [110]:
# Remove item
#print(dict1)
#dict1.pop('c_address')
#print(dict1)
#dict1.popitem()
#print(d)
#d.popitem()

In [111]:
# del can remove items as well as removes the dictionary
print(dict1)
#del dict1['job']
print(dict1)
#del dict1

d[1] = 'a'
d[2] = 'b'
d[3] = 'c'
print(d)

del d[3]
d.items()

{1: 10000, 'alt_mo': 7778778899, 'address': 'sangola', 'name': 'Nitn', 'salary': 550000.2, 'c_address': 'Pune', 'job': 'Data', 'email': 'nitin@gmail.com', 'height': 180, 'mobile': 9975923975}
{1: 10000, 'alt_mo': 7778778899, 'address': 'sangola', 'name': 'Nitn', 'salary': 550000.2, 'c_address': 'Pune', 'job': 'Data', 'email': 'nitin@gmail.com', 'height': 180, 'mobile': 9975923975}
{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

dict_items([(1, 'a'), (2, 'b'), (4, 'd'), (5, 'e')])

In [112]:
# clear() method and del keyword are used to remove and empty the dict

print(dict1)
dict1.clear()
print(dict1)

{1: 10000, 'alt_mo': 7778778899, 'address': 'sangola', 'name': 'Nitn', 'salary': 550000.2, 'c_address': 'Pune', 'job': 'Data', 'email': 'nitin@gmail.com', 'height': 180, 'mobile': 9975923975}
{}

In [113]:
# copy dictionary

dict_1 = dict1 # this is reference to your dict not copy of dict1
print(dict1)
print(dict_1)

dict_1['mobile'] = 9975923975 # added to dict_1 , same reflected in dict1
print(dict1)

{}
{}
{'mobile': 9975923975}

In [114]:
# copy() method

print(dict1)
dict2 = dict1.copy()
dict2['random'] = 'val'
print(dict2) # random added 
print(dict1) # not reflected in dict1

{'mobile': 9975923975}
{'random': 'val', 'mobile': 9975923975}
{'mobile': 9975923975}

In [115]:
# dict() for copy

dict3 = dict(dict1)
print(dict3)

{'mobile': 9975923975}

In [116]:

grandson = {
    'g_name':'Grand_son_name'
}
son = {
     's_key' : grandson,
    's_name': 'Son_name',
}


parent = {
    'p_key' : son,
    'p_name': 'Parent_name',
    
         }


family = {
    'f_key' : parent, 
}

print(family)

{'f_key': {'p_name': 'Parent_name', 'p_key': {'s_key': {'g_name': 'Grand_son_name'}, 's_name': 'Son_name'}}}

In [117]:
family

{'f_key': {'p_key': {'s_key': {'g_name': 'Grand_son_name'},
   's_name': 'Son_name'},
  'p_name': 'Parent_name'}}

In [118]:
# access parent directory
family['f_key']

{'p_key': {'s_key': {'g_name': 'Grand_son_name'}, 's_name': 'Son_name'},
 'p_name': 'Parent_name'}

In [119]:
# access child directory
family['f_key']['p_key']

{'s_key': {'g_name': 'Grand_son_name'}, 's_name': 'Son_name'}

In [120]:
# access grand child
family['f_key']['p_key']['s_key']

{'g_name': 'Grand_son_name'}

In [121]:
family['f_key']['p_key']['s_key']['g_name']

'Grand_son_name'

# Operators

Python operators:

    1. Arithmetic operators
    2. Assignment operators
    3. Comparison operators
    4. Logical operators
    5. Identity operators
    6. Membership operators
    7. Bitwise operators

In [122]:
# 1. Arithmetic operators

1. + Addition x + y
2. - Subtraction x - y 
3. * Multiplication x * y 
4. / Division x / y 
5. % Modulus x % y 
6. ** Exponentiation x ** y 
7. // Floor division x // y

In [123]:
# addition
print('***Addition***')
var1 = 10.20
var2 = 20.20
res = var1 + var2
print('sum: \t',res)

print('***Sustraction***')
var1 = 10.20
var2 = 20.20
res = var2 - var1
print('Substraction: \t',res)

print('***Multiplication***')
var1 = 10.20
var2 = 20.20
res = var1 * var2
print('Mul: \t',res)


print('***Division***')
var1 = 10.20
var2 = 20.20
res = var2 / var1
print('Div: \t',res)


print('***Modulo***')
var1 = 10.20
var2 = 20.20
res = var2 % var1
print('Mod: \t',res)


print('***Floor Division***')
var1 = 10.20
var2 = 20.20
res = var2 // var1
print('Floor Div: \t',res)

***Addition***
sum: 	 30.4
***Sustraction***
Substraction: 	 10.0
***Multiplication***
Mul: 	 206.04
***Division***
Div: 	 1.9803921568627452
***Modulo***
Mod: 	 10.0
***Floor Division***
Floor Div: 	 1.0

# 2. Assignment Operators

1.  = x = 5 x = 5 
2. += x += 4 x = x + 4
3. -= x -= 5 x = x - 5 
4. *= x *= 8 x = x * 8 
5. /= x /= 7 x = x / 7 
6. %= x %= 5 x = x % 5 
7. //= x //= 3 x = x // 3 
8. **= x **= 2 x = x ** 2
9. &= x &= 2 x = x & 2
10. |= x |= 2 x = x | 2
11. ^= x ^= 4 x = x ^ 4
12. >>= x >>= 4 x = x >> 4
13. <<= x <<= 5 x = x << 5

In [124]:
var = 55
print(var)
var += 10    # var = var + 10
print(var)

var -= 10    
print(var)

var *= 10   
print(var)


var /= 10   
print(var)


var %= 10   
print(var)


var //= 10   
print(var)

var = 5

var **= 3   
print(var)

55
65
55
550
55.0
5.0
0.0
125

In [125]:
x = 10
print('Value of x is: \t',x)


print('prior x is: ',x)
x += 10
print('post x is: ',x)

y =2 and 1

# returns x or y if both are true
print(y)

Value of x is: 	 10
prior x is:  10
post x is:  20
1

In [126]:
# 3. Comparison Operators

1. == Equal x == y
2. != Not equal x != y
3. > Greater than x > y
4. < Less than x < y 
5. >= Greater than or equal to x >= y 
6. <= Less than or equal to x <= y

In [127]:
a = 20
b = 10

print(a == b)

print(a != b)

print(a > b)

print(a < b)

print(a >= b)

print(a <= b)

False
True
True
False
True
False

In [128]:
# 4. Logical Operators

1. or Returns True if one of the statements is true x < 5 or x < 4

2. not Reverse the result, returns False if the result is true not(x < 5 and x < 10)

In [129]:
# Dist- above 75 %, 1st - above 67 to less than equal 75 
print("and Oprerator:\n\n")

score = 66
print("Dictinction:")
print(score > 75)

print("First Class:")
print(score > 67 and score<= 75)

print("2nd Class:")

print(score <= 67 and score > 58)

print("or operator:\n\n")
var1 = 10 
var2 = 5
print(var1<5 or var2>10)


print('not operator:\n\n')

print(not (var1<5 or var2>10))

var1<5 or var2>10

and Oprerator:


Dictinction:
False
First Class:
False
2nd Class:
True
or operator:


False
not operator:


True

False

In [130]:
# 5. Identity Operators

is  Returns True if both variables are the same object x is y

is not Returns True if both variables are not the same object x is not y

In [131]:
x = 10
y = 10


print("X id is:",id(x))
print("y id is:",id(y))
print(x is y)


x = 10.10
y = 10.10


print("X id is:",id(x))
print("y id is:",id(y))
print(x is not y)

X id is: 10894656
y id is: 10894656
True
X id is: 140192296473992
y id is: 140192296473872
True

In [132]:
# 6. Membership Operators

1. in Returns True if a sequence with the specified value is present in the object x in y
2. not in Returns True if a sequence with the specified value is not present in the object x not in y

In [133]:
rollno = [1,2,3,4,5]

print(4 in rollno)

print(6 not in rollno)

print(5 not in rollno)

True
True
False

In [134]:
# 7. Bitwise Operators

1. &  AND Sets each bit to 1 if both bits are 1
2. | OR Sets each bit to 1 if one of two bits is 1
3. ^ XOR Sets each bit to 1 if only one of two bits is 1
4. ~  NOT Inverts all the bits
5. << Zero fill left shift Shift left by pushing zeros in from the right and let the leftmost bits fall off
6. >> Signed right shift Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

                256  128  64  32  16   8  4  2  1 
                                          0  0  0 = 0
                                          0  0  1 = 1
                                          0  1  0 = 2
                                          0  1  1 = 3
                                          1  0  0 = 4
                                          1  0  1 = 5
                                          1  1  0 = 6
                                          1  1  1 = 7
                                        
                                          
                                          Right Shift by 2 bits
                                          0  0  1 = 1
                                          
                                          Left shift by 2 bits
                                     1  1 1  0  0 = 28

In [135]:
x = 4        # 1 0 0
y = 5        # 1 0 1
z = x & y    # 1 0 0 = 4
print("Bitwise and ")
print(z)

x = 4        # 1 0 0
y = 5        # 1 0 1
z = x | y    # 1 0 1 = 5
print('Bitwise or')
print(z)


x = 7
z = x << 2
print("Left Shift:\n")
print(z)

x = 7
z = x >> 2
print("Right Shift:\n")
print(z)

print("\n",oct(x))
print("\n",hex(x))

Bitwise and
4
Bitwise or
5
Left Shift:

28
Right Shift:

1

 0o7

 0x7

# Conditional Statements & Loops

1. If ... Else
2. If..elif...Else
3. While Loops
4. For Loops

In [136]:
# a>b
x = 10
y = 20
# find largest number

print(x > y)

if x > y:
    print("Larger element is:", x)
else:
    print("Larger element is: ",y)

False
Larger element is:  20

In [137]:
# a>b, a==b, a<b

x = 20
y = 30

if x > y:
    print("x is larger")
elif x == y:
    print("x and y are equal")
else:
    print('y is greater than x')

y is greater than x

In [138]:
# shaort hand if a > b: print("a is greater than b")

x = 10
y = 20

if y > x: print("y is greater number")

y is greater number

In [139]:
# short hand if else print("A") if a > b else print("B") 

x = 20
y = 10

print("x is greater") if x > y else print("y is greater")

x is greater

# you can add more conditions here in if else

write a python program which will take percentage as input from 
user and returns its grade (dist, first class, 2nd class, pass class)

In [140]:
# write more than one conditions use and and or

In [141]:
# nested if .. else

x = 150
if x > 100:
    if x > 150:
        print("Number is greater than 100 and 150")
    elif x ==150:
        print("Number is equal to 150")
    else:
        print("number is greater than 100 and less than 150")
elif x == 100:
    print("Number is equal to 100")
else:
    print("Number is less than 100")

Number is equal to 150

In [142]:
# pass staement

x = 10
y = 20

if y > x:
    pass

# while Loop

In [143]:
# print series of numbers
x = 1
while x<=100:
    print(x)
    x = x + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [144]:
# break statement

x = 0
while x < 100:
    print(x)
    if x == 50:
        break
    x += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [145]:
# Continue stmt


x = 0
while x < 100:
    
    if x == 50 or x == 99:
        x += 1
        
        continue
                
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98

In [146]:
# else below while

x = 0
while x < 100:
    
    if x == 50:
        x += 1
        continue
                
    print(x)
    x += 1
else:
    print("There is no more statement to execute")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
There is no more statement to execute

In [147]:
# while on list and tuple

list1 = ["mango","cherry","papaya","bluberry","apple","banana"]

print(list1)

print("while on List:-")

x = 0
while x < len(list1):
    print(list1[x])
    x += 1

['mango', 'cherry', 'papaya', 'bluberry', 'apple', 'banana']
while on List:-
mango
cherry
papaya
bluberry
apple
banana

In [148]:
tup = ["mango","cherry","papaya","bluberry","apple","banana"]

print(tup)

print("while on Tuple:-")

x = 0
while x < len(tup):
    print(tup[x])
    x += 1

['mango', 'cherry', 'papaya', 'bluberry', 'apple', 'banana']
while on Tuple:-
mango
cherry
papaya
bluberry
apple
banana

# For Loop

for iterates over a list, tuple, set, dict and string

In [149]:
# list

list1 = ["mango","cherry","papaya","bluberry","apple","banana"]

print(list1)

print("for on list:-")

for x in list1:
    print(x)

['mango', 'cherry', 'papaya', 'bluberry', 'apple', 'banana']
for on list:-
mango
cherry
papaya
bluberry
apple
banana

In [150]:
# String

str1 = "This is pythoin"

print(str1)

print("for on str1:-")

for x in str1:
    print(x)

This is pythoin
for on str1:-
T
h
i
s

i
s

p
y
t
h
o
i
n

In [151]:
# Tuple

tup = ("mango","cherry","papaya","bluberry","apple","banana")

print(tup)

print("for on Tuple:-")

for x in tup:
    print(x)

('mango', 'cherry', 'papaya', 'bluberry', 'apple', 'banana')
for on Tuple:-
mango
cherry
papaya
bluberry
apple
banana

In [152]:
# Dict

dict1 = {
    'name' : 'Nitn',
    'mobile' : 9975923975,
    'address' : 'sangola',
    'job' : 'Data',
    'salary' : 550000.20,
    1 : 10000
    
}

print(dict1)

print("for on dict printing keys:")
for x in dict1:
    print(x)
    
print("for on dict printing keys:")
for x in dict1.keys():
    print(x)
    
print("for on dict printing values:")
for x in dict1.values():
    print(x)

print("for on dict printing values:")
for x,y in dict1.items():
    print("(",x,",",y,")")

{1: 10000, 'address': 'sangola', 'name': 'Nitn', 'salary': 550000.2, 'job': 'Data', 'mobile': 9975923975}
for on dict printing keys:
1
address
name
salary
job
mobile
for on dict printing keys:
1
address
name
salary
job
mobile
for on dict printing values:
10000
sangola
Nitn
550000.2
Data
9975923975
for on dict printing values:
( 1 , 10000 )
( address , sangola )
( name , Nitn )
( salary , 550000.2 )
( job , Data )
( mobile , 9975923975 )

In [153]:
# set

set1 = {"mango","cherry","papaya","bluberry","apple","banana"}

print(set1)

print("for on set:-")

for x in set1:
    print(x)

{'apple', 'bluberry', 'mango', 'banana', 'papaya', 'cherry'}
for on set:-
apple
bluberry
mango
banana
papaya
cherry

# range

returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), 
and ends at a specified number

In [154]:
#for i in range(10):

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [155]:
# range(1,10)- starting from 1, to 9, exclude 10

for i in range(20,30):
    print(i)

20
21
22
23
24
25
26
27
28
29

In [156]:
# range(10,100,5)

for i in range(100,200,10):
    print(i)

100
110
120
130
140
150
160
170
180
190

In [157]:
# else in for

for i in range(100,200,10):
    print(i)
else:
    print("There is nothing to print in for now")

100
110
120
130
140
150
160
170
180
190
There is nothing to print in for now

In [158]:
# take two list or tuples and use nested for loop

In [159]:
#wrinting and removing every third element from a list

list1 = [10,20,30,40,50,60,70,80,90]

print("list is :",list1)
index = 0
pos = 3-1
l = len(list1)
while l>0:
    index = (pos + index) % l
    print(list1.pop(index))
    l = l - 1

list is : [10, 20, 30, 40, 50, 60, 70, 80, 90]
30
60
90
40
80
50
20
70
10

# Create a interger list by taking iunput from user

list1 = []

list_size = input("Enter the size of list: ")
lsize = int(list_size)

while lsize > 0:
    val = input("Enter the value: ")
    val1 = int(val)
    list1.append(val1)
    lsize -= 1

print("The created list is: ",list1)

tup = ()

tup_size = int(input("Enter the size of tuple"))
list1 = list(tup)

while tup_size>0:
    
    val = int(input("Enter the vale:"))
    
    list1.append(val)
    tup_size = tup_size -1

tup = tuple(list1)
   
print(tup)

s = set({})

set_size = int(input("Enter the size of set:"))

while set_size>0:
    val = input("Enter the value: ")
    s.add(val)
    set_size -= 1
print("Created set is : ",s)

# Assignment

*
* *
* * *
* * * *
* * * * *
* * * * * *

write a python program to print above structure.

# Assignment
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

write a python program to print stars as shown above.

# Function

1. function is a block of statement which will get executed when 
we call that fuction.

#create a data of 5 students containing first name and last name
list1 = []


def StudDetails():# definition of a function
    for i in range(0,3):
        fname = input("Enter the first name: ")
        lname = input("Enter the last name: ")
        print("name of student is : ", fname, " ",lname)
        name = fname + lname
        list1.append(name)

print("Making a call to function: ")

StudDetails() # calling a function

print("List of the students: ",list1)

In [160]:
print("Here this is normal execution block")

def Myfun():
    print("I am inside the function..!")

print("Calling my function..")
Myfun()
print("function execution is over")

Here this is normal execution block
Calling my function..
I am inside the function..!
function execution is over

In [161]:
# Arguments

def MyName(val):
    print(val)
    

val = "Nitin Khot"
MyName(val)

Nitin Khot

In [162]:
# return values

def Add(x,y):
    ad = x + y
    return ad

print("Do addition using function:")
a = 100
b = 200

result = Add(a,b)

print("Addition is :",result)

Do addition using function:
Addition is : 300

In [163]:

def Multiply(a,b):
    m = a * b
    return m

print("Do multiplication")

x = 10
y = 20

res = Multiply(x,y)

print("Multiplication is : ",res)

Do multiplication
Multiplication is :  200

In [164]:
# UNKNOWN PARAMETERS
def my_function(*letter):
  print("The letter at 2nd loc is  ",letter)

my_function("A", "B", "C","D")

The letter at 2nd loc is   ('A', 'B', 'C', 'D')

In [165]:
# argument as key value pair where order does not matter
def my_function(child2, child3, child1):
  print("The youngest child is ", child1)

my_function(child1 = "sam", child2 = "mac", child3 = "kat")

The youngest child is  sam

In [166]:
# if dont know number of para then add ** before identifier
def my_function(**name):
  print("His last name is ",name['fname'])

my_function(fname = "Nitin", lname = "Khot")

His last name is  Nitin

In [167]:
def AltEmail(email = "deafault@email.com"):
    print("Alternate email is : ",email)

print("Alternate email of student:")

AltEmail("abc@gmail.com")
AltEmail("a@b.com")
AltEmail()

Alternate email of student:
Alternate email is :  abc@gmail.com
Alternate email is :  a@b.com
Alternate email is :  deafault@email.com

# write a program to swap any two values from a list using 
# function Swap()
input:
list1 = [1,2,3,7,4,5,8,10]
output:
list1 = [1,2,10,7,4,5,8,3]

# pass list as arument and get the sum of list
list1 = [1,2,3,7,4,5,8,10]

# pass tuple and count numbe of element in tuple

tup = (1,2,3,7,4,5,8,10)

## Lambda Function

1. lambda is a small anonymous function.

2. lambda function can take any number of arguments, 
but can only have one expression.

Syntax:

lambda arguments : expression


Why Lambda?

Lambda is anonymous and small function but it is very powerful.
we can know its power if we use it inside other function

In [183]:
# a lambda function which takes an argument and returns a square of 
# that number 

square = lambda a: a ** 2

print("Square of 4 is: ")

square(4)

print(square(4))

print("Square of 10 is: ")
square(10)

Square of 4 is:
16
Square of 10 is:

100

In [186]:
# Any number of arguments

add = lambda a,b,c,d : a + b + c + d

print("Add four numbers: 2,3,4 and 5: Sum is:")

add(12,13,40,15)

Add four numbers: 2,3,4 and 5: Sum is:

80

In [198]:
# why lambda is powerful?

# use it lambda inside another function 
# lets understand that it is added with some other unknown number

def myfun(n):
    print("Value of N is :",n)
    
    return (lambda a : a * n)

# add 10 with other number which is unknown
# myfunc(10) # this will not give any result as it will be multiplied with none

# now call our lambda function inside other function

# myfun(10)

otherfun = myfun(5)

print(otherfun(20))

# you can create calling function in many ways

#otherfun_1 = myfun(10)
#print(otherfun_1(20))

Value of N is : 5
100

## Python Class

In python everything is object, which has its properties and methods / function

Python is object oriented programming language.

class is blueprint of an object, from which objects can be created.

syntax:

class ClassName:
    class body

In [204]:
# create a class student
class Stud:
    name = "Nitin"

In [205]:
# create object of class student

s1 = Stud()

print(s1.name)

Nitin

In [210]:
# How the real class works

# __init__() Function

# 1. All classes will have a method called __init__()
# 2. This function gets called when an object is being created.
# 3. This function is used to assign the values to the properties of 
#    the class
# 4. It means that, we can do all operations which are neccessary 
#    to do at the time of the object creation.
# 5. __init__() method get called automatiucally when an object is 
#    initiated




class Student:
  def __init__(self, name, clas, rollno):
    self.name = name
    self.clas = clas
    self.rollno = rollno

r = Student("Rahul", "BE-Comp", 13) # object creation
v = Student("Vaibhav", "BE-Mech", 2)
n = Student("Nitin", "BE-Comp", 14)

print(r.name," ",r.clas," ", r.rollno)
print(v.name," ",v.clas," ", v.rollno)
print(n.name," ", n.clas, " ",n.rollno)

Rahul   BE-Comp   13
Vaibhav   BE-Mech   2
Nitin   BE-Comp   14

In [213]:
# methods in class
# self:
# self is default parameter to be used to access 
# the values in current object
# we can give any name instead of the self but it has to be the 1st parameter



class Student:
    def __init__(self, name, clas, rollno):
        self.name = name
        self.clas = clas
        self.rollno = rollno
    
    def Display(self):
        print("Name of student is: ",self.name)
        print("Clas of student is: ",self.clas)
        print("Roll No of the students: ",self.rollno)

  

r = Student("Rahul", "BE", 13)
v = Student("Vaibhav","BE-Mech", 2)

r.Display()
print("Vaibhav Details:")
v.Display()

Name of student is:  Rahul
Clas of student is:  BE
Roll No of the students:  13
Vaibhav Details:
Name of student is:  Vaibhav
Clas of student is:  BE-Mech
Roll No of the students:  2

In [176]:
# accessing values and modifying it



class Student:
    def __init__(self, name, clas, rollno):
        self.name = name
        self.clas = clas
        self.rollno = rollno
    
    def Display(self):
        print("Name of student is: ",s.name)
        print("Clas of student is: ",s.clas)
        print("Roll No of the students: ",s.rollno)
      
    
    def ChangeName(self,ch_name):
        self.name = ch_name
        print("\n")
        print("Calling Display from ChangeName():\n ")
        self.Display()

  

r = Student("Rahul", "BE", 13)

r.Display()

nm = "Dattatray"

r.ChangeName(nm)

Name of student is:  Rahul
Clas of student is:  BE
Roll No of the students:  13


Calling Display from ChangeName():

Name of student is:  Dattatray
Clas of student is:  BE
Roll No of the students:  13